{% for item in history %}
{% if loop.first %}
<div class="box box2" id="donation_history_box">
    <div class="head">
        Donation History <a href="#" onclick="$('#donation_history').gtoggle(); return false;" class="brackets">View</a>
    </div>
    <div class="hidden" id="donation_history">
        <table cellpadding="6" cellspacing="1" border="0" class="border" width="100%">
            <tbody>
            <tr class="colhead_dark">
                <td><strong>Source</strong></td>
                <td>
                    <strong>Date</strong>
                </td>
                <td>
                    <strong>Amount (EUR)</strong>
                </td>
                <td>
                    <strong>Added Points</strong>
                </td>
                <td>
                    <strong>Total Points</strong>
                </td>
                <td style="width: 30%;">
                    <strong>Reason</strong>
                </td>
            </tr>
{% endif %}
            <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
                <td>
                    {{ item.source }} ({{ item.added_by|user_url }})
                </td>
                <td>
                    {{ item.created }}
                </td>
                <td>
                    {{ item.amount }}
                </td>
                <td>
                    {{ item.donor_rank }}
                </td>
                <td>
                    {{ item.total_rank }}
                </td>
                <td>
                    {{ item.reason }}
                </td>
            </tr>
{% if loop.last %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endfor %}
