{{ header('Donate') }}
<div class="thin box pad">
    <h3>Why donate?</h3>
    <div class="pad donation_info">
        <p>{{ constant('SITE_NAME') }} has no advertisements, is not sponsored, and provides its services
        free of charge. For these reasons, {{ constant('SITE_NAME') }}'s financial obligations can only
        be met with the help of voluntary user donations. Supporting {{ constant('SITE_NAME') }} is and
        will always remain voluntary. If you are financially able, help pay {{ constant('SITE_NAME') }}'s
        bills by donating. {{ constant('SITE_NAME') }}'s survival is up to you.</p>

        <p>{{ constant('SITE_NAME') }} uses all voluntary donations to cover the costs of running the site,
        tracker, email, and IRC network. These costs represent the hardware the site runs on (e.g. servers,
        upgrades, fixes, etc.), and recurring operating expenses (e.g. hosting, bandwidth, power, etc.).</p>

        <p>Please note that {{ constant('SITE_NAME') }} is a nonprofit organization. No staff member or
        other individual responsible for the site's operation personally profits from user donations. As a
        donor, your financial support is exclusively applied to operating costs. When you donate you aren't
        paying the {{ constant('SITE_NAME') }} Staff, purchasing upload credit, or buying the ability to
        download. When you donate you are paying {{ constant('SITE_NAME') }}'s bills. </p>

        <p>{{ constant('SITE_NAME') }}'s Donor Rank system is currently available to all credited donors.
        This system provides donors with perks. Some of these perks are cosmetic (e.g. a donor icon added
        to your account), some are one-time benefits (e.g. additional invites), and others modify specific
        site options (e.g. additional profile information boxes, or personal collages).</p>
    </div>

    <h3>Donating</h3>
{% if monero_address %}
    <h2>Monero (XMR)</h2>
    <br />
    <div class="pad donation_info">
        You can send your monero donation to: <span class="donation_address">{{ monero_address }}</span>
        Monero donations are credited semi-automatically. If your donation is not credited within seven days please
        {% if constant('DONATION_MANAGER_USER_ID') %}
            contact {{ constant('DONATION_MANAGER_USER_ID')|user_url }}.
        {% else %}
            send a <a href="/staffpm.php">StaffPM</a>.
        {% endif %}
        <br /><br />
        A word of warning: <b>do not send</b> Monero directly from an exchange or similar service.
        You must transfer to your own wallet beforehand as the donation address can be linked to Orpheus.
        If you cannot or need to send directly from an exchange, please use Bitcoin for your own safety.
    </div>
{% endif %}
{% if bitcoin_address %}
    <h2>Bitcoin (BTC)</h2>
    <br />
    <div class="pad donation_info">
        You may send your bitcoin donation to: <span class="donation_address">{{ bitcoin_address }}</span>
        This is your own personal address and should not be shared with anyone. After you have sent funds to
        it once, for your own privacy and security you should never use it again. A fresh address will be allocated
        for you after the previous transaction clears.<br /><br />
        Bitcoin donations are credited semi-automatically. If your donation is not credited within seven days please
        {% if constant('DONATION_MANAGER_USER_ID') %}
            contact {{ constant('DONATION_MANAGER_USER_ID')|user_url }}.
        {% else %}
            send a <a href="/staffpm.php">StaffPM</a>.
        {% endif %}
    </div>
{% endif %}

    <h3>What you will receive for donating</h3>
    <div class="pad donation_info">
        <strong>The minimum amount to receive donor privileges is 10 Euros.</strong>
        <br /><br />
        Any donation or contribution option listed above gives you the opportunity to receive Donor Points.
        After acquiring your first Donor Point, your account will unlock Donor Rank #1. This rank will last
        forever, and you'll receive the following perks upon unlocking it:<br>
        <br>
        <ul>
            <li>Our eternal love, as represented by the red heart you get next to your name</li>
            <li><a href="/wiki.php?action=article&name=inactivity">Inactivity</a> timer immunity</li>
            <li>Access to the <a href="/user.php?action=notify">notifications system</a></li>
            <li>Two <a href="/user.php?action=invite">invites</a></li>
            <li><a href="/collages.php">Collage</a> creation privileges</li>
            <li>Personal collage creation privileges</li>
            <li>One additional personal collage</li>
            <li>A warm, fuzzy feeling</li>
        </ul>
        <br>
        There are a number of additional perks waiting for you when you unlock additional Donor Ranks.
        <br>
        <br>
        <!--<br>
        <div style="text-align: center;">[<a href="/forums.php?action=viewthread&amp;threadid=178640">View Donor Rank System FAQ Document</a>]<br>
        <br>
        [<a rel="noreferrer" target="_blank" href="static/common/banners/donorinfographic.jpg">View Donor Rank Perks Infographic</a>]<br>
        (Last Updated: July 2013)</div><br>
        <br>-->
        Be reminded that when you make a donation, you aren't "purchasing" Donor Ranks, invites, or any
        {{ constant('SITE_NAME') }}-specific benefit. When donating, you are helping {{ constant('SITE_NAME') }}
        pay its bills, and your donation should be made in this spirit. The {{ constant('SITE_NAME') }} Staff
        does its best to recognize {{ constant('SITE_NAME') }}'s financial supporters in a fair and fun way,
        but all Donor Perks are subject to change or cancellation at any time, without notice.
    </div>

    <h3>What you won't receive for donating</h3>
    <div class="pad donation_info">
        <ul>
            <li>Immunity from the rules</li>
            <li>Additional upload credit</li>
        </ul>
    </div>
</div>
{{ footer() }}
