{{ header('Donor Rewards') }}
<div class="header">
    <h2>Donor Rewards</h2>
    {{ paginator.linkbox|raw }}
</div>
<form action="" method="get">
    <input type="hidden" name="action" value="donor_rewards" />
    <strong>Username (regexps allowed): </strong>
    <input name="search" value="{{ search }}"/>
</form>
<br />

{% for u in user %}
    {% if loop.first %}
<table style="width: 100%;">
    <tr class="colhead">
        <td>Username</td>
        <td>Rank</td>
        <td>Hidden</td>
        <td>Last Donated</td>
        <td>Avatar Hover</td>
        <td>Icon</td>
        <td>Icon Hover</td>
        <td>Second Avatar</td>
    </tr>
    {% endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td style="vertical-align: top">{{ u.user_id|user_full }}</td>
        <td style="vertical-align: top">{{ u.donor_rank }}</td>
        <td style="vertical-align: top">{{ u.hidden }}</td>
        <td style="vertical-align: top" class="nobr">{{ u.donation_time|time_diff }}</td>
        <td style="vertical-align: top; word-wrap: anywhere">
            {{ u.avatar_mouse }}
        </td>
        <td style="vertical-align: top; word-wrap: anywhere">
            {{ u.custom_icon }}
    {% if u.custom_icon %}
            <br />
            <img src="{{ donor_icon(u.custom_icon) }}" width="15" height="13" alt="" />
    {% endif %}
        </td>
        <td style="vertical-align: top; word-wrap: anywhere">
           {{ u.icon_mouse }}
        </td>
        <td style="vertical-align: top">
            {{ u.second_avatar }}
            <br />
            <img width="150" src="{{ u.second_avatar }}" />
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
{{ paginator.linkbox|raw }}
{{ footer() }}
