<div class="header">
    <h2>{{ title }}</h2>
    <div class="linkbox">
        {{ pages|raw }}
    </div>
</div>
<form action="" method="get">
    <input type="hidden" name="action" value="donor_rewards" />
    <strong>Username (regexps allowed): </strong>
    <input type="search" name="username" />
</form>
<br />

{% for u in user %}
    {% if loop.first %}
<table style="table-layout: fixed; width: 100%;">
    <tr class="colhead">
        <td>Username</td>
        <td>Rank</td>
        <td>Hidden</td>
        <td>Last Donated</td>
        <td>Icon Text</td>
        <td>Icon</td>
        <td>Icon Link</td>
        <td>Avatar Text</td>
        <td>Second Avatar</td>
    </tr>
    {% endif %}
    <tr class="row{{ cycle(['b', 'a'], loop.index0) }}">
        <td>{{ u.user_id|user_full|raw }}</td>
        <td>{{ u.rank }}</td>
        <td>{{ u.hidden }}</td>
        <td>{{ u.donation_time|time_diff|raw }}</td>
        <td style="word-wrap: break-word;">
           {{ u.icon_mouse }}
        </td>
        <td style="word-wrap: break-word;">
    {% if u.custom_icon %}
            <img src="{{ donor_icon(u.custom_icon, u.user_id) }}" width="15" height="13" alt="" />
    {% endif %}
        </td>
        <td style="word-wrap: break-word;">
            {{ u.custom_icon }}
        </td>
        <td style="word-wrap: break-word;">
            {{ u.avatar_mouse }}
        </td>
        <td style="word-wrap: break-word;">
            {{ u.second_avatar }}
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}

<div class="linkbox">{{ pages|raw }}</div>
