<div class="box box_info box_userinfo_donor_stats">
    <div class="head colhead_dark">Donor Statistics</div>
    <ul class="stats nobullet">
{% if not user.isDonor %}
{%      if is_self %}
        <li>You haven't donated.</li>
{%      else %}
        <li>This user hasn't donated.</li>
{%      endif %}
{% else %}
{%      if is_mod or is_self %}
        <li>Total donor points: {{ user.totalDonorRank }}</li>
{%      endif %}
        <li>Current donor rank: {{ users.donorRankLabel(true)|raw }}</li>
        <li>Leaderboard position: {{ leaderboard }}</li>
        <li>Last donated: {{ user.lastDonation|time_diff }}
        <li>Rank expires: {{ user.donorRankExpiry|raw }}
{% endif %}
    </ul>
</div>
