{% set total = vote.total(group_id) %}
{% set up    = vote.totalUp(group_id) %}
{% set down  = vote.totalDown(group_id) %}
{% set score = vote.score(total, up) * 100 %}
{% set way   = vote.vote(group_id) %}
<div class="box" id="votes">
    <div class="head"><strong>Album Votes</strong></div>
    <div class="album_votes body">
        <span class="favoritecount tooltip" title="{{ up }} upvote{% if up != 1 %}s{% endif %}"><span id="upvotes">{{ up|number_format }}</span> <span class="vote_album_up">&#x25b2;</span></span>
        &nbsp;&nbsp;
        <span class="favoritecount tooltip" title="{{ down }} downvote{% if down != 1 %}s{% endif %}"><span id="downvotes">{{ down|number_format }}</span> <span class="vote_album_down">&#x25bc;</span></span>
        &nbsp;&nbsp;
        <span class="favoritecount" id="totalvotes">{{ total|number_format }}</span> Total
        <br /><br />
        <span class="tooltip_interactive" title="&lt;span style=&quot;font-weight: bold;&quot;&gt;Score: {{ score|number_format(4) }}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;This is the lower bound of the binomial confidence interval &lt;a href=&quot;wiki.php?action=article&amp;id=108&quot;&gt;described here&lt;/a&gt;, multiplied by 100." data-title-plain="Score: {{ score|number_format(4) }}. This is the lower bound of the binomial confidence interval described in the Favorite Album Votes wiki article, multiplied by 100.">Score: <span id="votescore" class="favoritecount">{{ score|number_format(1) }}</span></span>
        &nbsp; | &nbsp;
        <span id="votepercent" class="favoritecount">
{%- if total -%}
    {{- ((up / total) * 100)|number_format(1) -}}%
{%- else -%}
    &mdash;
{%- endif -%}</span> positive
{% if not viewer.option('NoVoteLinks') %}
        <br />
        <span id="upvoted"{% if way  != 1 %} class="hidden"{% endif %}>You have upvoted.<br /><br /></span>
        <span id="downvoted"{% if way  != -1 %} class="hidden"{% endif %}>You have downvoted.<br /><br /></span>
    {% if viewer.permitted('site_album_votes') %}
        {{- dom.click('#vote-up', "UpVoteBox(" ~ group_id ~ ", '" ~ viewer.auth ~ "'); return false;") -}}
        {{- dom.click('#vote-down', "DownVoteBox(" ~ group_id ~ ", '" ~ viewer.auth ~ "'); return false;") -}}
        <span{% if way  %} class="hidden"{% endif %} id="vote_message"><a href="#" id="vote-up" class="brackets upvote">Upvote</a>
        - <a href="#" id="vote-down" class="brackets downvote">Downvote</a></span>
        <span{% if not way  %} class="hidden"{% endif %} id="unvote_message">Changed your mind?
            <br />
            {{- dom.click('#vote-clear', "UnvoteBox(" ~ group_id ~ ", '" ~ viewer.auth ~ "'); return false;") -}}
            <a href="#" id="vote-clear" class="brackets">Clear your vote</a>
    {% endif %}
{% endif %}
        </span>
    </div>
</div>
