{% from 'macro/form.twig' import class_hidden, hidden -%}
{% set total = vote.total(tgroup) -%}
{% set up    = vote.totalUp(tgroup) -%}
{% set down  = vote.totalDown(tgroup) -%}
{% set score = vote.score(tgroup) * 100 -%}
{% set way   = vote.vote(tgroup) -%}
<div class="box" id="votes">
    <div class="head"><strong>Album Votes</strong></div>
    <div class="album_votes body">
        <span class="favoritecount tooltip" title="{{ up|number_format }} upvote{{ up|plural }}"><span id="upvotes">{{ up|number_format }}</span> <span class="vote_album_up">▲</span></span>
        &nbsp;&nbsp;
        <span class="favoritecount tooltip" title="{{ down|number_format }} downvote{{ down|plural }}"><span id="downvotes">{{ down|number_format }}</span> <span class="vote_album_down">▼</span></span>
        &nbsp;&nbsp;
        <span class="favoritecount" id="totalvotes">{{ total|number_format }}</span> Total
        <br /><br />
        <span class="tooltip_interactive" title="&lt;span style=&quot;font-weight: bold;&quot;&gt;Score: {{ score|number_format(4) }}&lt;/span&gt;&lt;br /&gt;&lt;br /&gt;This is the lower bound of the binomial confidence interval &lt;a href=&quot;wiki.php?action=article&amp;id=108&quot;&gt;described here&lt;/a&gt;, multiplied by 100." data-title-plain="Score: {{ score|number_format(4) }}. This is the lower bound of the binomial confidence interval described in the Favorite Album Votes wiki article, multiplied by 100.">Score: <span id="votescore" class="favoritecount">{{ score|number_format(1) }}</span></span>
        &nbsp; | &nbsp;
        <span id="votepercent" class="favoritecount">
{%- if total -%}
    {{- ((up / total) * 100)|number_format(1) -}}%
{%- else -%}
    &mdash;
{%- endif -%}</span> positive
{% if not viewer.option('NoVoteLinks') %}
        <br />
        <span id="upvoted"{{ class_hidden(way != 1) }}>You have upvoted.<br /><br /></span>
        <span id="downvoted"{{ class_hidden(way  != -1) }}>You have downvoted.<br /><br /></span>
    {% if viewer.permitted('site_album_votes') %}
        <span id="vote_message"><a href="#" id="vote-up" data-id="{{ tgroup.id }}" class="brackets upvote{{ hidden(way) }}">Upvote</a>
        - <a href="#" id="vote-down" data-id="{{ tgroup.id }}" class="brackets downvote{{ hidden(way) }}">Downvote</a></span>
        <span{{ class_hidden(not way) }} id="unvote_message">Changed your mind?
            <br />
            <a href="#" id="vote-clear" data-id="{{ tgroup.id }}" class="brackets{{ hidden(not way) }}">Clear your vote</a>
    {% endif %}
{% endif %}
        </span>
    </div>
</div>
