{% from 'macro/form.twig' import hidden -%}
<span class="votespan brackets" style="white-space: nowrap;">
{%- if viewer.permitted('site_album_votes') %}vote:
<a href="#" data-id="{{ group_id }}" class="tooltip small_upvote{{ hidden(vote != 0) }}" title="Upvote">▲</a>
<span id="voted_up_{{ group_id }}" class="tooltip small_upvoted{{ hidden(vote in [-1, 0]) }}" title="You have upvoted">▲</span>

<a href="#" data-id="{{ group_id }}" class="tooltip small_downvote{{ hidden(vote != 0) }}" title="Downvote">▼</a>
<span id="voted_down_{{ group_id }}" class="tooltip small_downvoted{{ hidden(vote in [0, 1]) }}" title="You have downvoted">▼</span>

<a href="#" data-id="{{ group_id }}" class="tooltip small_clearvote{{ hidden(vote == 0) }}" title="Clear your vote">✕</a>
{% endif %}score: <span id="votescore-{{ group_id }}">{{ (score * 100.0)|number_format(1) }}</span></span>
