{{ header('Torrents') }}
<div class="thin">
    <div class="box">
        <div class="head">Overall stats</div>
        <div class="pad">
            <table>
            <tr>
                <td>Total torrents:</td><td class="number_column">{{ torr_stat.torrentTotal|number_format }}</td>
                <td style="padding-left:50px">Mean torrents per user:</td><td class="number_column"><?=
                    (torr_stat.torrentTotal / user_stat.enabledUserTotal)|number_format }}</td>
                <td style="padding-left:50px">Mean files per torrent:</td><td class="number_column"><?=
                    (torr_stat.totalFiles / tor_stat.torrentTotal)|number_format }}</td>
            </tr>
            <tr>
                <td>Total size:</td><td class="number_column">{{ torr_stat.totalSize|octet_size }}</td>
                <td style="padding-left:50px">Mean torrent size:</td><td class="number_column"><?=
                    (torr_stat.totalSize / tor_stat.torrentTotal)|octet_size }}</td>
                <td style="padding-left:50px">Mean filesize:</td><td class="number_column"><?=
                    (torr_stat.totalSize / tor_stat.totalFiles)|octet_size }}</td>
            </tr>
            <tr>
                <td>Total files:</td><td class="number_column">{{ torr_stat.totalFiles|number_format }}</td>
            </tr>
            </table>
        </div>
    </div>

    <br />
    <div class="box">
        <div class="head">Upload frequency</div>
        <div class="pad">
            <table>
                <tr>
                <th></th>
                <th>Today</th>
                <th>This week</th>
                <th>Per day this week</th>
                <th>This month</th>
                <th>Per day this month</th>
                <th>This quarter</th>
                <th>Per day this quarter</th>
                </tr>
                <tr>
                <th>Torrents</th>
                <td class="number_column">{{ torr_stat.amount('day')|number_format }}</td>
                <td class="number_column">{{ torr_stat.amount('week')|number_format }}</td>
                <td class="number_column">{{ (torr_stat.amount('week') / 7)|number_format }}</td>
                <td class="number_column">{{ torr_stat.amount('month')|number_format }}</td>
                <td class="number_column">{{ (torr_stat.amount('month') / 30)|number_format }}</td>
                <td class="number_column">{{ torr_stat.amount('quarter')|number_format }}</td>
                <td class="number_column">{{ (torr_stat.amount('quarter') / 120)|number_format }}</td>
                </tr>
                <tr>
                <th>Size</th>
                <td class="number_column">{{ torr_stat.size('day')|octet_size }}</td>
                <td class="number_column">{{ torr_stat.size('week')|octet_size }}</td>
                <td class="number_column">{{ (torr_stat.size('week') / 7)|octet_size }}</td>
                <td class="number_column">{{ torr_stat.size('month')|octet_size }}</td>
                <td class="number_column">{{ (torr_stat.size('month') / 30)|octet_size }}</td>
                <td class="number_column">{{ torr_stat.size('quarter')|octet_size }}</td>
                <td class="number_column">{{ (torr_stat.size('quarter') / 120)|octet_size }}</td>
                </tr>
                <tr>
                <th>Files</th>
                <td class="number_column">{{ torr_stat.files('day')|number_format }}</td>
                <td class="number_column">{{ torr_stat.files('week')|number_format }}</td>
                <td class="number_column">{{ (torr_stat.files('week') / 7)|number_format }}</td>
                <td class="number_column">{{ torr_stat.files('month')|number_format }}</td>
                <td class="number_column">{{ (torr_stat.files('month') / 30)|number_format }}</td>
                <td class="number_column">{{ torr_stat.files('quarter')|number_format }}</td>
                <td class="number_column">{{ (torr_stat.files('quarter') / 120)|number_format }}</td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <div class="box">
        <div class="head">Notification tickets</div>
        <div class="pad">
            <table>
                <tr>
{% set stats = notification.ticketStats %}
{% for name in stats %}
                <th>{{ name.state }}</th>
{% endfor %}
                </tr>
                <tr>
{% for name in stats %}
                <td class="number_column">{{ name.state }} {{ name.total|number_format }}</td>
{% endfor %}
                </tr>
            </table>
        </div>
        <div class="head">Notification tickets pending by hour</div>
        <div class="pad">
            <table>
                <tr>
{% set pending = notification.ticketPendingStats %}
{% for n in range(0, pending|length / 12 - 1) %}
                <th>Hour</th>
                <th>Total</th>
{% endfor %}
                </tr>
{% for n in range(0, pending|length / 6 - 1) %}
                <tr>
    {% for h in range(0, 5) %}
                <th>{{ pending[n + h * 12]['hour']|replace({':00+00': ''}) }}</th>
                <th>{{ pending[n + h * 12]['total']|number_format }}</th>
    {% endfor %}
                </tr>
{% endfor %}
            </table>
        </div>
    </div>

    <br />
    <div class="box">
        <div class="head">Content Analysis</div>
        <div class="pad">
            <table>
                <tr>
                <th width="33%">Formats</th>
                <th width="33%">Media</th>
                <th width="34%">Categories</th>
                </tr>
                <tr>
                <td style="vertical-align: top;"><table>
{% for f in torr_stat.format %}
                    <tr>
                    <td>{{ f[0]|default('<i>Grand</i>')|raw }}</td>
                    <td>{{ f[1]|default('<i>Total</i>')|raw }}</td>
                    <td class="number_column">{{ f[2]|number_format }}</td>
                    </tr>
{% endfor %}
                </table></td>
                <td style="vertical-align: top;"><table>
{% for m in torr_stat.media %}
                    <tr><td>{{ m[0]|default('<i>Total</it>')|raw }}</td>
                    <td class="number_column">{{ m[1]|number_format }}</td>
                    </tr>
{% endfor %}
                </table></td>

                <td style="vertical-align: top;"><table>
{% set cat = constant('CATEGORY') %}
{% for c in torr_stat.category %}
                    <tr><td>{{ cat[c[0] - 1] }}</td>
                    <td class="number_column">{{ c[1]|number_format }}</td>
                    </tr>
{% endfor %}
                </table></td>

                </tr>
                <tr>
                <th width="33%">Added in last month</th>
                <th width="33%">&nbsp;</th>
                <th width="34%">&nbsp;</th>
                </tr>
                <tr>

                <td style="vertical-align: top;"><table>
{% for f in torr_stat.formatMonth %}
                    <tr><td>{{ f[0]|default('<i>Grand</i>')|raw }}</td>
                    <td>{{ f[1]|default('<i>Total</i>')|raw }}</td>
                    <td class="number_column">{{ f[2]|number_format }}</td>
                    </tr>
{% endfor %}
                </table></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="thin">
    <div class="box">
        <div class="head">Reaper information</div>
        <div class="pad">
            <h5>Claim statistics</h5>
            <table>
                <tr>
                <th width="50%">Open</th>
                <th width="50%">Claimed</th>
                </tr>
                <tr>
                {% set stats = reaper.claimStats %}
                <td>{{ stats.open|number_format }}</td>
                <td>{{ stats.claimed|number_format }}</td>
                </tr>
            </table>

            <br />
            <h5>Unseeded statistics</h5>
            <table>
                <tr>
                <th width="25%">Never seeded initial</th>
                <th width="25%">Never seeded final</th>
                <th width="25%">Unseeded initial</th>
                <th width="25%">Unseeded final</th>
                </tr>
                <tr>
                {% set stats = reaper.stats %}
                <td>{{ stats.never_seeded_initial|number_format }}</td>
                <td>{{ stats.never_seeded_final|number_format }}</td>
                <td>{{ stats.unseeded_initial|number_format }}</td>
                <td>{{ stats.unseeded_final|number_format }}</td>
                </tr>
            </table>

            <br />
            <h5>Timeline</h5>
            <table>
                <tr>
                <th width="50%">Date</th>
                <th width="50%">Total</th>
                </tr>
{% for date, total in reaper.timeline %}
                <tr>
                <td>{{ date }}</td>
                <td>{{ total|number_format }}</td>
                </tr>
{% else %}
                <tr>
                <td colspan="2">There are no uploads in the reaper pipeline at this time.</td>
                </tr>
{% endfor %}
            </table>

        </div>
        </div>
    </div>
</div>
{{ footer() }}
