{{ header('Report', {'js': 'reportsv2,browse,torrent,bbcode'}) }}
<div class="thin">
    <div class="header">
        <h2>Report a torrent</h2>
    </div>
    <div class="header">
        <h3>{{ torrent.group.link|raw }}</h3>
    </div>
    <div class="thin">
        <table class="torrent_table details{% if viewer.snatch.showSnatch(torrent) %} snatched{% endif %}" id="torrent_details">
            <tr class="colhead_dark">
                <td width="80%"><strong>Reported torrent</strong></td>
                <td class="number_column nobr"><strong>Files</strong></td>
                <td class="number_column nobr"><strong>Size</strong></td>
                <td class="sign snatches"><img src="{{ url_stem }}snatched.png" class="tooltip" alt="Snatches" title="Snatches" /></td>
                <td class="sign seeders"><img src="{{ url_stem }}seeders.png" class="tooltip" alt="Seeders" title="Seeders" /></td>
                <td class="sign leechers"><img src="{{ url_stem }}leechers.png" class="tooltip" alt="Leechers" title="Leechers" /></td>
            </tr>
{% include 'torrent/detail-torrentgroup.twig' with {
    'report_man'    : report_man,
    'show_extended' : true,
    'show_id'       : torrent.id,
    'snatcher'      : viewer.snatch,
    'tgroup'        : torrent.group,
    'torrent_list'  : [torrent],
    'tor_man'       : tor_man,
    'viewer'        : viewer,
    } only %}
        </table>
    </div>

    <form class="create_form" name="report" action="reportsv2.php?action=takereport" enctype="multipart/form-data" method="post" id="reportform">
        <div>
            <input type="hidden" name="submit" value="true" />
            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
            <input type="hidden" name="torrentid" value="{{ torrent.id }}" />
            <input type="hidden" name="categoryid" value="{{ torrent.group.categoryId }}" />
        </div>

        <h3>Report Information</h3>
        <div class="box pad">
            <table class="layout">
                <tr>
                    <td class="label">Reason:</td>
                    <td>
                        <select id="type" name="type">
{% for rt in rtype_list %}
            <option value="{{ rt.type }}">{{ rt.name }}</option>
{% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <p>Fields that contain lists of values (for example, listing more
            than one track number) should be separated by a space.</p>
            <br />
            <p><strong>Following the below report type specific guidelines will
            help the moderators deal with your report in a timely
            fashion.</strong></p>
            <br />

            <div id="dynamic_form">
                <input id="sitelink" type="hidden" name="sitelink" size="50" value="{{ post.sitelink }}" />
                <input id="image" type="hidden" name="image" size="50" value="{{ post.image }}" />
                <input id="track" type="hidden" name="track" size="8" value="{{ post.track }}" />
                <input id="link" type="hidden" name="link" size="50" value="{{ post.link }}" />
                <input id="extra" type="hidden" name="extra" value="{{ post.extra }}" />
            </div>
        </div>
    <input type="submit" value="Create report" />
    </form>
</div>
{{ footer() }}
