<div id="report{{ report.id }}" class="report box pad center" data-reportid="{{ report.id }}">
    <a href="reportsv2.php?view=report&amp;id={{ report.id }}"> Report {{ report.id }}</a>
    for torrent {{ report.torrentId }} (deleted) has been automatically resolved.
    <input type="button" value="Clear" class="report-clear" />
</div>

