{% set show_avatar = viewer.showAvatars %}
<table class="forum_post box vertical_margin{{ show_avatar ? '' : ' noavatar' }}{{ unread ? ' forum_unread' : ''}}" id="post{{ id }}">
    <colgroup>
{% if show_avatar %}
        <col class="col_avatar" />
{% endif %}
        <col class="col_post_body" />
    </colgroup>
    <tr class="colhead_dark">
        <td colspan="{{ show_avatar ? 2 : 1 }}">
            <div style="float: left;"><a class="post_id" href="{{ url }}">#{{ id }}</a>
                <strong>{{ author.id|user_full }}</strong> {{ added_time|time_diff }} on {{ heading|raw }}
                <span id="postcontrol-{{ id }}">
                {{- dom.click('#quote-' ~ id, "Quote('" ~ id ~ "','" ~ author.username ~ "', true)") -}}
                - <a href="#quickpost" id="quote-{{ id }}" class="brackets">Quote</a>
{%    if show_edit %}
                {{- dom.click('#edit-' ~ id, "Edit_Form('" ~ id ~ "','" ~ key ~ "')") -}}
                - <a href="#post{{ id }}" id="edit-{{ id }}" class="brackets">Edit</a>
{%    endif %}
                </span>
            </div>
            <div id="bar{{ id }}" style="float: right;">
                <a href="reports.php?action=report&amp;type=comment&amp;id={{ id }}" class="brackets">Report</a>
{% if viewer.permitted('site_admin_forums') %}
{%    if viewer.permitted('site_forum_post_delete') %}
                {{- dom.click('#remove-' ~ id, "Delete('" ~ id ~ "')") -}}
                - <a href="#post{{ id }}" id="remove-{{ id }}" class="brackets">Delete</a>
{%    endif %}
{%    if show_warn %}
                <form class="manage_form hidden" name="user" id="warn{{ id }}" action="comments.php" method="post">
                    <input type="hidden" name="action" value="warn" />
                    <input type="hidden" name="postid" value="{{ id }}" />
                </form>
                {{- dom.click('#warn-' ~ id, "$('#warn" ~ id ~ "').raw().submit(); return false;") -}}
                - <a href="#" id="warn-{{ id }}" class="brackets">Warn</a>
{%     endif %}
                &nbsp;
                <a href="#">&uarr;</a>
{% endif %}
            </div>
        </td>
    </tr>
    <tr>
{% if show_avatar %}
        <td class="avatar" valign="top">{{ avatar|raw }}</td>
{% endif %}
        <td class="body" valign="top">
            <div id="content{{ id }}">
                {{ body|bb_format }}
{% if editor %}
                <br />
                <br />
                <span class="last_edited">
{%    if viewer.permitted('site_admin_forums') %}
                {{- dom.click('#load-edit-' ~ id, "LoadEdit('" ~ page ~ "', " ~ id ~ ", 1); return false;") -}}
                <a href="#content{{ id }}" id="load-edit-{{ id }}">&laquo;</a>
{%    endif %}
                Last edited by {{ editor.id|user_url }} {{ edit_time|time_diff }}</span>
{% endif %}
            </div>
        </td>
    </tr>
</table>
