{% from 'macro/form.twig' import selected %}
{{ header('Staff PM', {'js': 'staffpm,bbcode'}) }}
<div class="thin">
    <div class="header">
        <h2>Staff PM &rsaquo; {{ pm.subject }}</h2>
        <div class="linkbox">
{% for view in heading %}
            <a href="staffpm.php{{ view.link }}" class="brackets">{{ view.title }}{% if view.count %} ({{ view.count }}){% endif %}</a>&nbsp;
{% endfor %}

{% if viewer.permitted('admin_staffpm_stats') %}
            <a href="staffpm.php?action=scoreboard&amp;view=user" class="brackets">View user scoreboard</a>
            <a href="staffpm.php?action=scoreboard&amp;view=staff" class="brackets">View staff scoreboard</a>
{% endif %}
{% if viewer.isFLS %}
        <a href="staffpm.php" class="brackets">Main Staff Inbox</a>
        <a title="Replies to your own Staff PMs are here" href="staffpm.php?action=userinbox" class="brackets">Personal Staff Inbox</a>
{% endif %}
{% if not viewer.isStaffPMReader %}
        <a href="staffpm.php" class="brackets">Back to inbox</a>
{% endif %}
    </div>
</div>
<br />
<div id="inbox">
{% for message in pm.thread %}
    <div class="box vertical_space" id="post{{ messsage.id }}">
        <div class="head">
            <a class="postid" href="staffpm.php?action=viewconv&amp;id={{ pm.id }}#post{{ message.id }}" style="font-weight: normal;">#{{ message.id }}</a>
            <strong>{{ message.user_id|user_full|raw }}</strong> {{ message.sent_date|time_diff }}
    {% if pm.inProgress %}
            - <a href="#quickpost" onclick="Quote('{{ message.id }}', '{{ pm.author.username }}');" class="brackets">Quote</a>
    {% endif %}
        </div>
        <div class="body">{{ message.body|bb_format|raw }}</div>
    </div>
    <div align="center" style="display: none;"></div>
{% endfor %}

    <h3>Reply</h3>
    <div class="box pad" id="reply_box">
        <div id="buttons">
            <form class="manage_form" name="staff_messages" action="staffpm.php" method="post" id="messageform">
                {{ textarea.preview|raw }}
                {{ textarea.field|raw }}
                <br />
{% if viewer.isFLS %}
                <input type="button" value="Assign to staff" onclick="location.href='staffpm.php?action=assign&amp;to=staff&amp;convid={{ pm.id }}';" />
                <input type="button" value="Assign to forum staff" onclick="location.href='staffpm.php?action=assign&amp;to=forum&amp;convid={{ pm.id }}';" />
{% elseif viewer.isStaff %}
                <select id="assign_to" name="assign">
                    <optgroup label="User classes">
                        <option value="class_0"{{ selected(pm.unassigned and pm.classLevel == 0) }}>First Line Support</option>
    {% for class in staff_level %}
                        <option value="class_{{ class.level }}"{{ selected(class.level == pm.class_level) }}>{{ class.Name }}</option>
    {% endfor %}
                    </optgroup>
                    <optgroup label="Staff">
    {% for u in staff %}
                        <option value="user_{{ u.id }}"{{ selected(not pm.unassigned and pm.assigned.id == u.id) }}>{{ u.username }}</option>
    {% endfor %}
                    </optgroup>
                    <optgroup label="First Line Support">
    {% for u in fls %}
                        <option value="user_{{ u.id }}"{{ selected(not pm.unassigned and pm.assigned.id == u.id) }}>{{ u.username }}</option>
    {% endfor %}
                    </optgroup>
                </select>
                <input type="button" onclick="Assign();" value="Assign" />
{% endif %}

{% if not pm.inProgress %}
                <input type="button" value="Unresolve" onclick="location.href='staffpm.php?action=unresolve&amp;id={{ pm.id }}';" />
{% else %}
                <input type="button" value="Resolve" onclick="location.href='staffpm.php?action=resolve&amp;id={{ pm.id }}';" />&nbsp;
    {% if viewer.isStaffPMReader %}
                <input type="button" title="Create, edit and use canned replies" value="Common answers" onclick="$('#common_answers').gtoggle();" />
    {% endif %}
                {{ textarea.button|raw }}
                <input type="submit" value="Reply" />
{% endif %}
                <input type="hidden" name="action" value="takepost" />
                <input type="hidden" name="convid" value="{{ pm.id }}" id="convid" />
            </form>

{% if viewer.isStaffPMReader %}
    {% if pm.inProgress %}
    <br />
    <div id="common_answers" class="hidden">
        <h3>Retrieve a common answer for the reply</h3>
        <div class="pad">
            <select id="common_answers_select" onchange="UpdateMessage();">
                <option id="first_common_response">Select a message</option>
        {% for answer in common %}
                <option value="{{ answer.id }}">{{ answer.name }}</option>
        {% endfor %}
            </select>
            <input type="button" title="Use this message as the basis for your reply" value="Use this draft" onclick="SetMessage();" />
        </div>
        <br />
        <div class="box vertical_space">
            <h3>Answer preview</h3>
            <div id="common_answers_body" class="body">Select an answer from the drop-down to view it.</div>
        </div>
        <h3>Create a new common answer</h3>
        <div class="pad">
            If none of the above answers work: 
            <input type="button" value="Create new/Edit Common Response" onclick="location.href='staffpm.php?action=responses&amp;convid={{ pm.id }}';" />
        </div>
    </div>
    {% endif %}
    <div id="ajax_message" class="hidden alertbar"></div>
{% endif %}
        </div>
    </div>
</div>
</div>
{{ footer() }}
