{% from 'macro/form.twig' import checked, selected -%}
<form class="edit_form" name="contest" id="contestform" action="{{ action }}" method="post">
{% if contest.hasBonusPool %}
<div class="box pad">
    <table>
        <tr><th>Payout</th><th>Value</th></tr>
        <tr>
            <td>Enabled users</td>
            <td>{{ user_count|number_format }}</td>
        </tr>
        <tr>
            <td>Enabled user bonus</td>
            <td>{{ contest.bonusPerUser|number_format(2) }}</td>
        </tr>
        <tr>
            <td>Contest participation</td>
            <td>{{ contest.bonusPerContest|number_format(2) }}</td>
        </tr>
        <tr>
            <td>Per entry added</td>
            <td>{{ contest.bonusPerEntry|number_format(2) }}</td>
        </tr>
        <tr>
            <td>Status of payout</td>
            <td>{{ contest.bonusStatus }}</td>
        </tr>
    {% if contest.paymentRead %}
        <tr>
            <td>Payout is ready</td>
            <td><input type="submit" name="payment" value="Initiate payment"/></td>
        </tr>
    {% endif %}
    </table>
</div>
{% endif %}
    <div class="thin">
    <table>
        <tr>
            <td class="label">Contest name:</td>
            <td>
                <p>Edit the name of the contest</p>
                <input type="text" size="80" name="name" value="{{ contest.name }}"/>
            </td>
        </tr>

        <tr>
            <td class="label">Contest type:</td>
            <td>
                <p>Edit the type of the contest</p>
                <select name="type">
{% for t in type %}
                    <option value="{{ t.id }}"{{ selected(contest.contestType) }}>{{ t.name }}</option>
{% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td class="label">Bonus Point pool:</td>
            <td>
                <p>Members can contribute their Bonus Points to an award pool</p>
                <input type="checkbox" name="pool"{{ checked(contest.hasBonusPool) }} />
            </td>
        </tr>

{% if create or contest.hasBonusPool %}
        <tr>
            <td class="label">Bonus Point distribution:</td>
            <td>
                <p>The bonus pool is divided into three parts. Adjust the values according to specifiy the proportions. Their sum
                does not need to add up to anything in particular: they will be scaled to the interval [0, 1] and the sum == 1.
                The ratios are shown to the left of the input fields and are recalculated after the page is saved.</p>

                <span style="width: 30px; align="right">{{ contest.bonusPerUserRatio|number_format(4) }}</span>
                <input type="number" min="0" max="10000" id="pool-user" name="pool-user" value="{{ contest.bonusPerUser|default(5) }}"
                />&nbsp;<label for="pool-user">This proportion of the pool will be shared between all enabled users. The number of users may vary
                over time; the exact value will be known only at the end of the contest.<br />

                <span style="width: 30px; align="right">{{ contest.bonusPerContestRatio|number_format(4) }}</span>
                <input type="number" min="0" max="10000" id="pool-contest" name="pool-contest" value="{{ contest.bonusPerContest|default(15) }}"
                />&nbsp;<label for="pool-contest">This proportion of the pool will be shared between all users who
                participate in the contest (i.e. at least one entry).<br />

                <span style="width: 30px; align="right">{{ contest.bonusPerEntryRatio|number_format(4) }}</span>
                <input type="number" min="0" max="10000" id="pool-entry" name="pool-entry" value="{{ contest.bonusPerEntry|default(80) }}"
                />&nbsp;<label for="pool-entry">This proportion of the pool will be shared between every entry in the contest.
            </td>
        </tr>
{% endif %}
        <tr>
            <td class="label">Begin date:</td>
            <td>
                <p>Uploaded torrents/completed requests are counted from this date (yyyy/mm/dd hh:mm:ss)</p>
                <input type="text" size="20" name="date_begin" value="{{ contest.dateBegin }}"/>
            </td>
        </tr>

        <tr>
            <td class="label">End date:</td>
            <td>
                <p>Uploaded torrents/completed requests are counted up until this date (yyyy/mm/dd hh:mm:ss)</p>
                <input type="text" size="20" name="date_end" value="{{ contest.dateEnd }}"/>
            </td>
        </tr>

        <tr>
            <td class="label">Displayed:</td>
            <td>
                <p>This many people will be displayed on the ladderboard</p>
                <input type="text" size="20" name="display" value="{{ contest.display|default(100) }}"/>
            </td>
        </tr>

        <tr>
            <td class="label">Banner:</td>
            <td>
                <p>This is the image displayed at the top of the page (optional).
                   May be a local asset, or a URL.</p>
                <input type="text" size="60" name="banner" value="{{ contest.banner }}"/>
            </td>
        </tr>

        <tr>
            <td class="label">Introduction:</td>
            <td>
                <p>This is the introduction / guide of the contest.</p>
                {{ intro.emit|raw }}
            </td>
        </tr>

    </table>
    </div>
    <input type="hidden" name="userid" value="{{ user_id }}"/>
    <input type="hidden" name="auth" value="{{ auth }}"/>
{% if create %}
    <input type="hidden" name="new" value="1"/>
    <input type="submit" id="submit" value="Create contest"/>
{% else %}
    <input type="hidden" name="cid" value="{{ contest.id }}"/>
    <input type="submit" id="submit" value="Save contest"/>
{% endif %}
</form>
