{{ header(title) }}
{% if contest.banner %}
<div class="pad">
    <img border="0" src="{{ contest.banner }}" alt="{{ contest.name }}" width="640" height="125" style="display: block; margin-left: auto; margin-right: auto;"/>
</div>
{% endif %}
<div class="linkbox">
    <a href="contest.php" class="brackets">Intro</a>
{% if viewer.permitted('admin_manage_contest') %}
    <a href="contest.php?action=admin" class="brackets">Admin</a>
{% endif %}
</div>

<div class="thin">
<h1>{{ title }}</h1>
<div class="box pad" style="padding: 10px 10px 10px 20px;">
{% if viewer.permitted('admin_manage_contest') %}
    {% include 'contest/switcher.twig' with {'current': contest.id, 'prior': prior} only %}
{% endif %}

<div class="head">
{% if contest.hasBonusPool %}
    <h3>The Bonus Point pool currently stands at {{ contest.bonusPoolTotal|number_format }} points.</h3>
{% endif %}
{% if not contest.isOpen and contest.totalEntries == 0 %}
    <p>That's not supposed to happen. Looks like the contest hasn't begun yet!<p>
{% elseif contest.totalEntries == 0 %}
    <p>The scheduler has not run yet, there are no results to display.<p>
{% else %}
    <h3>A grand total of {{ contest.totalEntries|number_format }} {{ action_header }}.</h3>
</div>
{{ paginator.linkbox|raw }}
{% set rank = (paginator.page - 1) * paginator.limit %}
<table class="layout">
    <tr>
    <th style="text-align:left">Rank</th>
    <th style="text-align:left">Who</th>
    <th style="text-align:left">Most recent {{ action }}</th>
    <th style="text-align:left">Most recent time</th>
    <th style="text-align:left">{{ score_header }}</th>
    </tr>
    {% for entry in contest.leaderboard(paginator.limit, paginator.offset) %}
        {% set rank = rank + 1 %}
    <tr>
        <td>{{ rank|number_format }}</td>
        <td class="nowrap"><a href="user.php?id={{ entry.user_id }}">{{ entry.username}}</a>{% if entry.user_id == viewer.id %} (that's you!){% endif %}</td>
        <td>{{ entry.last_entry_link|raw }}</td>
        <td class="nowrap">{{ entry.last_upload|time_diff }} </td>
        <td>{{ entry.entry_count }}</td>
    </tr>
    {% endfor %}
</table>
{{ paginator.linkbox|raw }}
{% endif %}

</div>
{{ footer() }}
