{{ header('Analysis List') }}
<div class="header">
    <h2>Error Analysis</h2>
</div>
<div class="thin">
{{ paginator.linkbox|raw }}
{% if removed >= 0 %}
<div class="box pad">
{{ removed }} case{{ removed|plural }} removed.
</div>
{% endif %}
<form class="manage_form" name="bans" action="" method="post">
<input type="hidden" name="auth" value="{{ auth }}" />
<input type="hidden" name="action" value="analysis_list" />
<table width="100%">
    <tr class="colhead">
        <td>Case</td>
        <td>Duration</td>
        <td>Memory</td>
        <td>Errors</td>
        <td>Queries</td>
        <td>Cache</td>
        <td>Seen</td>
        <td>First</td>
        <td>Latest</td>
        <td>URI</td>
        <td>Clear</td>
    </tr>
{% for item in list %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td style="text-align: right"><a href="tools.php?action=analysis&amp;case={{ item.error_log_id }}">{{ item.error_log_id }}</a></td>
        <td style="text-align: right">{{ item.duration }}</td>
        <td style="text-align: right">{{ item.memory|octet_size }}</td>
        <td style="text-align: right">{{ item.error_list|length|number_format }}</td>
        <td style="text-align: right">{{ item.nr_query|number_format }}</td>
        <td style="text-align: right">{{ item.nr_cache|number_format }}</td>
        <td style="text-align: right">{{ item.seen|number_format }}</td>
        <td>{{ item.created }}</td>
        <td>{% if item.seen == 1 %}&mdash;{% else %}{{ item.updated }}{% endif %}</td>
        <td style="word-break: break-all">{{ item.uri }}</td>
        <td style="text-align: center"><input type="checkbox" name="clear-{{ item.error_log_id }}" /></td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="11">
            Remove cases with a duration that meets or exceeds
            <input type="text" name="slow" size="2" value="5" />
            seconds.
            <input type="submit" name="slow-clear" value="Slow clear" />
            <span style="float: right"><input type="submit" name="clear" value="Clear" /></span>
        </td>
    </tr>
</table>
</form>
{{ paginator.linkbox|raw }}
</div>
<br />
{{ footer() }}
