{{ header('Case Analysis') }}
<div class="header">
    <h2>Case {{ case.id }}</h2>
</div>
<div class="linkbox">
    <a href="tools.php?action=analysis_list" class="brackets">Error list</a>
</div>
<div style="text-align: center">
<form method="post">
    <input type="hidden" name="action" value="analysis" />
    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
    <input type="hidden" name="id" value="{{ case.id }}" />
    <input type="submit" name="prev" value="Prev" />
    <input type="submit" name="remove-prev" value="Remove and Prev" />
    <input type="submit" name="remove" value="Remove" />
    <input type="submit" name="remove-next" value="Remove and Next" />
    <input type="submit" name="next" value="Next" />
</form>
</div>
<div class="thin">
<table>
    <tr><td class="colhead">Case</td><td>{{ case.id }}</td></tr>
    <tr><td class="colhead">Duration</td><td>{{ case.duration }}</td></tr>
    <tr><td class="colhead">Memory usage</td><td>{{ case.memory|octet_size }}</td></tr>
    <tr><td class="colhead">Queries</td><td>{{ case.nr_query|number_format }}</td></tr>
    <tr><td class="colhead">Cache hits</td><td>{{ case.nr_cache|number_format }}</td></tr>
    <tr><td class="colhead">Seen</td><td>{{ case.seen|number_format }}</td></tr>
    <tr><td class="colhead">First</td><td>{{ case.created }}</td></tr>
    <tr><td class="colhead">First User</td><td>{{ case.userId }}</td></tr>
    <tr><td class="colhead">Last</td><td>{{ case.updated }}</td></tr>
    <tr><td class="colhead">URI</td><td>{{ case.uri }}</td></tr>
    {% if case.logged_var is not empty %}
    <tr><td class="colhead">Logged variables</td><td>{{ case.logged_var }}</td></tr>
    {% endif %}
    <tr><td class="colhead" style="vertical-align: top">Stacktrace</td><td>
    {% for line in case.trace %}
        <code>{{ line }}</code><br />
    {% endfor %}
    </td></tr>
    {% if case.request is not empty %}
    <tr><td class="colhead" style="vertical-align: top">Request</td><td>
        {% for key, value in case.request %}
        {{ key }}: <code>{% if value is iterable %}{{ value|json_encode }}{% else %}{{ value }}{% endif %}</code><br />
        {% endfor %}
    </td></tr>
    {% endif %}
    {% if case.errorList is not empty %}
    <tr><td class="colhead" style="vertical-align: top">Errors</td><td>
        {% for line in case.errorList %}
        <code>{{ line.1 }} - {{ line.2 }}({{ line.0 }}) </code><br />
        {% endfor %}
    </td></tr>
    {% endif %}
</td></tr>
</table>
</div>

<br />
<div style="text-align: center">
<form method="post">
    <input type="hidden" name="action" value="analysis" />
    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
    <input type="hidden" name="id" value="{{ case.id }}" />
    <input type="submit" name="prev" value="Prev" />
    <input type="submit" name="remove-prev" value="Remove and Prev" />
    <input type="submit" name="remove" value="Remove" />
    <input type="submit" name="remove-next" value="Remove and Next" />
    <input type="submit" name="next" value="Next" />
</form>
</div>
<br />
{{ footer() }}
