{% set nr = cache.hitList|length %}
{% for key, hit in cache.hitList %}
    {% if loop.first %}
<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-cache" class="brackets">View</a>
        {{ nr|number_format }} Cache key{{ nr|plural }}
        ({{ cache.elapsed|number_format(2) }} ms)</strong> (mean: {{ (cache.elapsed/nr)|number_format(5) }} ms):</td>
    </tr>
</table>
<table id="debug_cache" class="debug_table hidden">
    {% endif %}
    <tr>
        <td class="nobr debug_info debug_cache_key">
            <a href="tools.php?action=clear_cache&amp;key={{ key }}&amp;type=clear" target="_blank" class="tooltip" title="View this cache key">{{ key }}</a>
            ({{ hit|number_format }} hit{{ hit|plural}})
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
{% set nr = cache.deleteList|length %}
{% for key in cache.deleteList %}
    {% if loop.first %}
<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-del-cache" class="brackets">View</a></strong>{{ nr|number_format }} Cache key{{ nr|plural }} deleted</td>
    </tr>
</table>
<table id="debug_cache" class="debug_table hidden">
    {% endif %}
    <tr>
        <td class="nobr debug_info debug_cache_key">
            <a href="tools.php?action=clear_cache&amp;key={{ key }}&amp;type=clear" target="_blank" class="tooltip" title="View this cache key">{{ key }}</a>
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
