{% set nr = list|length %}
{% for key, value in list %}
    {% if loop.first %}
<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-cache" class="brackets">View</a>
        {{ nr|number_format }} Cache key{% if nr > 1 %}s{% endif %}
        ({{ time|number_format(2) }} ms)</strong> (mean: {{ (time/nr)|number_format(5) }} ms):</td>
    </tr>
</table>
<table id="debug_cache" class="debug_table hidden">
    {% endif %}
    <tr>
        <td class="label nobr debug_info debug_cache_key">
            <a href="#" onclick="$('#debug_cache_{{ key }}').gtoggle(); return false;">{{ key }}</a>
            <a href="tools.php?action=clear_cache&amp;key={{ key }}&amp;type=clear" target="_blank" class="brackets tooltip" title="Flush this cache key">Flush</a>
        </td>
        <td class="debug_data debug_cache_data">
            <pre id="debug_cache_{{ key }}" class="hidden">{{ value }}</pre>
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
