{% for error in list %}
    {% if loop.first %}
<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-error" class="brackets">View</a>
        {{ list|length|number_format }} Errors:</strong></td>
    </tr>
</table>
<table id="debug_error" class="debug_table hidden">
    {% endif %}
    <tr valign="top">
        <td class="debug_info debug_error_call">
            {{ error.2 }}({{ error.3 }})
        </td>
        <td class="debug_data debug_error_data">
            {{ error.0 }}
        </td>
        <td>
            {{ error.1 }}
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
