{{ header('Analysis List') }}
<div class="header">
    <h2>Error Analysis</h2>
</div>
<div class="thin">
<table width="100%">
    <tr class="colhead">
        <td>Case</td>
        <td>Duration</td>
        <td>Memory</td>
        <td>Errors</td>
        <td>Queries</td>
        <td>Cache</td>
        <td>Seen</td>
        <td>First</td>
        <td>Latest</td>
        <td>URI</td>
    </tr>
{% for item in list %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td style="text-align: right"><a href="tools.php?action=analysis&amp;case={{ item.error_log_id }}">{{ item.error_log_id }}</a></td>
        <td style="text-align: right">{{ item.duration }}</td>
        <td style="text-align: right">{{ item.memory|octet_size }}</td>
        <td style="text-align: right">{{ item.error_list|length|number_format }}</td>
        <td style="text-align: right">{{ item.nr_query|number_format }}</td>
        <td style="text-align: right">{{ item.nr_cache|number_format }}</td>
        <td style="text-align: right">{{ item.seen|number_format }}</td>
        <td>{{ item.created }}</td>
        <td>{% if item.seen == 1 %}&mdash;{% else %}{{ item.updated }}{% endif %}</td>
        <td>{{ item.uri }}</td>
    </tr>
{% endfor %}
</table>
</div>
<br />
{{ footer() }}
