{% for id, task in list %}
    {% if loop.first %}
        {% set nr = list|length %}
<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-task" class="brackets">View</a>
        {{ nr|number_format }} Task{% if nr > 1 %}s{% endif %}:
    </tr>
</table>
<table id="debug_task" class="debug_table hidden">
    <tr class="colhead">
        <td>Task</td>
        <td>Start</td>
        <td>Duration</td>
        <td>Processed / Errors</td>
    </tr>
    {% endif %}
    <tr valign="top">
        <td class="debug_data debug_task_data"><a href="tools.php?action=periodic&amp;mode=detail&amp;id={{ id }}">{{ task.name }}</a></td>
        <td class="rowa debug_info debug_task_start">{{ task.launch_time }}</td>
        <td class="rowa debug_info debug_task_time" style="width: 130px;" align="right">{{ task.duration_ms }} ms</td>
        <td class="rowa debug_info debug_task_processed">{{ task.num_items|number_format }}> / {{ tasak.num_errors|number_format }}</td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% endfor %}
