{% from 'macro/form.twig' import autocomplete, checked %}
{{ header(search.text, {'js': 'requests'}) }}
<div class="thin">
    <div class="header">
        <h2>{{ search.title|raw }}</h2>
    </div>
    <div class="linkbox">
{% if bookmark_view %}
        <a href="bookmarks.php?type=torrents" class="brackets">Torrents</a>
        <a href="bookmarks.php?type=artists" class="brackets">Artists</a>
        <a href="bookmarks.php?type=collages" class="brackets">Collages</a>
        <a href="bookmarks.php?type=requests" class="brackets">Requests</a>
{% else %}
{%  if viewer.permitted('site_submit_requests') %}
        <a href="requests.php?action=new" class="brackets">New request</a>
        <a href="requests.php?type=created" class="brackets">My requests</a>
{%  endif %}
{%  if viewer.permitted('site_vote') %}
        <a href="requests.php?type=voted" class="brackets">Requests I've voted on</a>
{%  endif %}
        <a href="bookmarks.php?type=requests" class="brackets">Bookmarked requests</a>
{% endif %}
    </div>
{% if not bookmark_view %}
    <form class="search_form" name="requests" action="" method="get">
{%  if bookmark_view %}
        <input type="hidden" name="action" value="view" />
        <input type="hidden" name="type" value="requests" />
{%  elseif type %}
        <input type="hidden" name="type" value="{{ type }}" />
{%  endif %}
        <input type="hidden" name="submit" value="true" />
{%  if user.id != viewer.id %}
        <input type="hidden" name="userid" value="{{ user.id }}" />
{%  endif %}
        <table cellpadding="6" cellspacing="1" border="0" class="layout border" width="100%">
            <tr id="search_terms">
                <td class="label">Search terms:</td>
                <td>
                    <input type="search" name="search" size="75" value="{{ search_text }}" />
                </td>
            </tr>
            <tr id="tagfilter">
                <td class="label">Tags (comma-separated):</td>
                <td>
                    <input type="search" name="tags" id="tags" size="60" value="{{ search.tagList }}"{{ autocomplete(user, 'other') }} />&nbsp;
                    <label><input type="radio" name="tag_mode" value="any"{{ checked(tag_mode == 'any') }} /> Any</label>&nbsp;&nbsp;
                    <label><input type="radio" name="tag_mode" value="all"{{ checked(tag_mode == 'all') }} /> All</label>
                </td>
            </tr>
            <tr id="include_filled">
                <td class="label"><label for="include_filled_box">Include filled:</label></td>
                <td>
                    <input type="checkbox" id="include_filled_box" name="show_filled"{{ checked(show_filled or (initial and type == 'filled')) }} />
                </td>
            </tr>
            <tr id="include_old">
                <td class="label"><label for="include_old_box">Include old:</label></td>
                <td>
                    <input type="checkbox" id="include_old_box" name="showall"{{ checked(show_old or initial) }} />
                </td>
            </tr>
        </table>
        <table class="layout">
            <tr id="cat_list">
                <td class="label">Categories</td>
                <td>
{%  for key, name in constant('CATEGORY') %}
                    <label class="req-choice">
                    <input type="checkbox" name="filter_cat[{{ key + 1 }}]" id="cat_{{ key + 1 }}" value="1"{{ 
                        checked(key + 1 in filter_cat|keys or initial) }} /> {{ name }}</label>
{%  endfor %}
                </td>
            </tr>

            <tr id="release_list">
                <td class="label">Release types</td>
                <td>
                    <input type="checkbox" id="toggle_releases" onchange="Toggle('releases', 0);"{{
                        checked(search.releaseTypeList|length in [0, release_types|length] or initial)
                       }} /> <label for="toggle_releases">All</label>
                    <br />
{%  for key, name in release_types %}
                    <label class="req-choice">
                    <input type="checkbox" name="releases[]" value="{{ key }}" id="release_{{ key }}"{{
                        checked(not search.releaseTypeList or key in search.releaseTypeList or initial)
                        }} /> {{ name }}</label>
{%  endfor %}
                </td>
            </tr>

            <tr id="format_list">
                <td class="label">Formats</td>
                <td>
                    <input type="checkbox" id="toggle_formats" onchange="Toggle('formats', 0);"{{ 
                        checked(search.formatList|length in [0, constant('FORMAT')] or initial) }} />
                    <label for="toggle_formats">All</label>
                    <input type="checkbox" id="formats_strict" name="formats_strict"{{ checked('formats_strict') }} />
                    <label for="formats_strict">Only specified</label>
                    <br />
{%  for key, name in constant('FORMAT') %}
                    <label class="req-choice">
                    <input type="checkbox" name="formats[]" value="{{ key }}" id="format_{{ key }}" {{
                        checked(not search.formatList or name|lower in search.formatList or initial)
                        }} /> {{ name }}</label>
{%  endfor %}
                </td>
            </tr>

            <tr id="bitrate_list">
                <td class="label">Encoding</td>
                <td>
                    <input type="checkbox" id="toggle_bitrates" onchange="Toggle('bitrates', 0);"{{ 
                        checked(search.encodingList|length in [0, constant('ENCODING')] or initial) }} />
                    <label for="toggle_bitrates">All</label>
                    <input type="checkbox" id="bitrate_strict" name="bitrate_strict"{{ checked('bitrate_strict') }} />
                    <label for="bitrate_strict">Only specified</label>
                    <br />
{%  for key, name in constant('ENCODING') %}
                    <label class="req-choice">
                    <input type="checkbox" name="bitrates[]" value="{{ key }}" id="bitrate_{{ key }}"{{
                        checked(not search.encodingList or name|lower in search.encodingList or initial)
                        }} /> {{ name }}</label>
{%  endfor %}
                </td>
            </tr>

            <tr id="media_list">
                <td class="label">Media</td>
                <td>
                    <input type="checkbox" id="toggle_media" onchange="Toggle('media', 0);"{{ 
                        checked(search.mediaList|length in [0, constant('MEDIA')] or initial) }} />
                    <label for="toggle_media">All</label>
                    <input type="checkbox" id="media_strict" name="media_strict"{{ checked('media_strict') }} />
                    <label for="media_strict">Only specified</label>
                    <br />
{%  for key, name in constant('MEDIA') %}
                    <label class="req-choice">
                    <input type="checkbox" name="media[]" value="{{ key }}" id="media_{{ key }}"{{
                        checked(not search.mediaList or name|lower in search.mediaList or initial) }} /> {{ name }}</label>
{%  endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <input type="submit" value="Search requests" />
                </td>
            </tr>
        </table>
    </form>
{% endif %}

{% include 'request/list.twig'
    with {
        'bounty'    : bounty,
        'filtering' : filtering,
        'header'    : header,
        'list'      : search.list,
        'paginator' : paginator,
        'viewer'    : viewer,
    }
    only
%}

{% if not search.list %}
<div class="box pad" align="center">
{%- if bookmark_view -%}
    <h3>You have not bookmarked any requests.</h3>
{%- else -%}
    <h3>Nothing found with these filters.</h3>
{%- endif -%}
</div>
{% endif %}

{{ footer() }}
