{% for request in list %}
{%  if loop.first %}
{{  paginator.linkbox|raw }}
    <div class="hidden">
        <form>
        <input type="hidden" id="current_uploaded" value="{{ viewer.uploadedSize }}" />
        <input type="hidden" id="current_downloaded" value="{{ viewer.downloadedSize }}" />
        <input type="hidden" id="current_rr" value="{{ viewer.requiredRatio }}" />
        </form>
    </div>
    <table id="request_table" class="request_table border m_table" cellpadding="6" cellspacing="1" border="0" width="100%">
        <tr class="colhead_dark">
            <td style="width: 38%;" class="m_th_left nobr">
            {%- if filtering %}Request Name / {{ header.emit('year')|raw }}{% else %}Request Name{% endif -%}
            </td>
            <td style="width: 7em;" class="m_th_right nobr">
            {%- if filtering %}{{ header.emit('votes')|raw }}{% else %}Votes{% endif -%}
            </td>
            <td class="m_th_right nobr">
            {%- if filtering %}{{ header.emit('bounty')|raw }}{% else %}Bounty{% endif -%}
            </td>
{%      if filtering %}
            <td class="nobr">
            {{- header.emit('filled')|raw -}}
            </td>
            <td class="nobr">Filled by</td>
{%      endif %}
            <td class="nobr">
                Requested by
            </td>
            <td class="nobr">
            {%- if filtering %}{{ header.emit('created')|raw }}{% else %}Created{% endif -%}
            </td>
            <td class="nobr">
            {%- if filtering %}{{ header.emit('lastvote')|raw }}{% else %}Last Vote{% endif -%}
            </td>
        </tr>
{%  endif %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
            <td>
                {{- request.smartLink|raw }}
                <div class="tags">{{ request.tagNameList|join(', ') }}</div>
            </td>
            <td class="m_td_right nobr">
                <span id="vote_count_{{ request.id }}">{{ request.userVotedTotal|number_format }}</span>&nbsp;&nbsp;
{%  set vote = request.userBounty(viewer) %}
{%  if vote %}
                <span title="You {% if request.isFilled %}contributed {% else %}have voted {% endif
                    -%}{{ vote|octet_size }} towards this request">&check;</span>
{%  elseif not request.isFilled and viewer.permitted('site_vote') %}
                <span class="request-vote tooltip brackets" data-id="{{ request.id
                    }}" data-bounty="{{ bounty }}" data-n="{{ request.userVotedTotal
                    }}" title="Add {{ bounty|octet_size(0) }} bounty">Vote</span>
{%  endif %}
            </td>
            <td class="m_td_right number_column nobr">
                {{- request.bountyTotal|octet_size -}}
            </td>
{%  if filtering %}
            <td class="m_hidden nobr">
{%      if request.isFilled %}
                <a href="torrents.php?torrentid={{ request.torrentId }}"><strong>{{ request.fillDate|time_diff(1) }}</strong></a>
{%      else %}
                <strong>No</strong>
{%      endif %}
            </td>
            <td>
{%      if request.isFilled %}
                {{- request.fillerId|user_url -}}
{%      else -%}
                &mdash;
{%      endif -%}
            </td>
{%  endif -%}
            <td>{{ request.userId|user_url }}</td>
            <td class="nobr">{{ request.created|time_diff(1) }}</td>
            <td class="nobr">{{ request.lastVoteDate|time_diff(1) }}</td>
        </tr>
{%  if loop.last %}
    </table>
    {{ paginator.linkbox|raw }}
{%  endif %}
{% endfor %}
