{% from 'macro/form.twig' import hidden %}
{% for request in list %}
{%  if loop.first %}
<div class="hidden">
    <form>
    <input type="hidden" id="current_uploaded" value="{{ viewer.uploadedSize }}" />
    <input type="hidden" id="current_downloaded" value="{{ viewer.downloadedSize }}" />
    <input type="hidden" id="current_rr" value="{{ viewer.requiredRatio }}" />
    </form>
</div>
<div class="box" id="requests_box">
    <div class="head">
        Requests <a href="#" onclick="$('#requests').gtoggle(); return false;" class="brackets">Toggle</a>
    </div>
    <div id="requests" class="request_table{{ hidden(list|length > 5) }}">
        <table cellpadding="6" cellspacing="1" border="0" class="border" width="100%">
            <tr class="colhead_dark">
                <td style="width: 48%;">
                    <strong>Request Name</strong>
                </td>
                <td style="width: 7em;">
                    <strong>Vote</strong>
                </td>
                <td>
                    <strong>Bounty</strong>
                </td>
                <td>
                    <strong>Added</strong>
                </td>
            </tr>
{%  endif %}
            <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
                <td>
                    {{ request.smartLink|raw }}
                    <div class="tags">{{ request.tagLinkList|raw }}</div>
                </td>
                <td>
                    <span id="vote_count_{{ request.id }}">{{ request.userVotedTotal|number_format }}</span>&nbsp;&nbsp;
{%  set vote = request.userBounty(viewer) %}
{%  if vote %}
                    <span title="You {% if request.isFilled %}contributed {% else %}have voted {% endif -%}{{
                        vote|octet_size }} towards this request">&check;</span>
{%  elseif not request.isFilled and viewer.permitted('site_vote') %}
                    <span class="request-vote tooltip brackets" data-id="{{ request.id
                        }}" data-bounty="{{ bounty }}" data-n="{{ request.userVotedTotal
                        }}" title="Add {{ bounty|octet_size }} bounty">Vote</span>
{%  endif %}
                </td>
                <td>
                    <span id="bounty_{{ request.id }}">{{ request.bountyTotal|octet_size }}</span>
                </td>
                <td>
                    {{ request.created|time_diff }}
                </td>
            </tr>
{%  if loop.last %}
        </table>
    </div>
</div>
{%  endif %}
{% endfor %}
