{% macro active(t) -%}
{%-  if t %} class="active"{% endif -%}
{% endmacro %}
{% macro active_class(t) %}
{%-  if t %} active{% endif -%}
{% endmacro -%}
</head>
<body data-id="{{ viewer.id }}" data-auth="{{ viewer.auth }}" id="{% if document == 'collages' %}collage{% else %}{{ document }}{% endif %}">
<form id="extra-hidden">
<input id="extracb1" class="hidden" type="checkbox">
<input id="extracb2" class="hidden" type="checkbox">
<input id="extracb3" class="hidden" type="checkbox">
<input id="extracb4" class="hidden" type="checkbox">
<input id="extracb5" class="hidden" type="checkbox">
</form>
<div id="wrapper">
<h1 class="site_name">{{ constant('SITE_NAME') }}</h1>
<div id="header">
<div id="logo"><a href="index.php"></a></div>
<div id="userinfo">
<ul id="userinfo_username">
    <li id="nav_userinfo" {{ _self.active(document == 'user' and request.id == viewer.id) }}>
        <a href="user.php?id={{ viewer.id }}" class="username">{{ viewer.username }}</a>
    </li>
    <li id="nav_userclass">
        <span class="hidden userclass">{{ viewer.userclassName }}</span>
    </li>
    <li id="nav_useredit" class="brackets{{ _self.active_class(document == 'user' and action =='edit') }}">
        <a href="user.php?action=edit&amp;id={{ viewer.id }}">Settings</a>
    </li>
    <li id="nav_logout" class="brackets">
        <a href="logout.php?auth={{ viewer.auth }}">Logout</a>
    </li>
</ul>
<ul id="userinfo_major">
    <li id="nav_upload" class="brackets{{ _self.active_class(document == 'upload') }}">
        <a href="upload.php" title="Upload">Upload</a>
    </li>
    <li id="nav_bonus" class="brackets{{ _self.active_class(document == 'user' and action == 'bonus') }}">
        <a href="bonus.php" class='tooltip' title="BP/hour: {{
            bonus.hourlyRate|number_format(3) }}">Bonus ({{ viewer.bonusPointsTotal|number_format }})</a>
    </li>
    <li id="nav_invite" class="brackets{{ _self.active_class(document == 'user' and action == 'invite') }}">
        <a href="user.php?action=invite" class='tooltip' title="Invite a friend!">Invite
        {% if viewer.permitted('site_send_unlimited_invites') %} (∞){% elseif viewer.unusedInviteTotal %} ({{ viewer.unusedInviteTotal }}){% endif %}</a>
    </li>
    <li id="nav_donate" class="brackets{{ _self.active_class(document == 'donate') }}">
        <a href="donate.php" class='tooltip' title="Donate">Donate ({{ dono_target }}%)</a>
    </li>
</ul>
<ul id="userinfo_stats">
    <li id="stats_seeding">
        <a href="torrents.php?type=seeding&amp;userid={{ viewer.id }}">Up</a>:
        <span class="stat tooltip" title="{{ viewer.uploadedSize|octet_size(5) }}">{{ viewer.uploadedSize|octet_size }}</span>
    </li>
    <li id="stats_leeching">
        <a href="torrents.php?type=leeching&amp;userid={{ viewer.id }}">Down</a>:
        <span class="stat tooltip" title="{{ viewer.downloadedSize|octet_size(5) }}">{{ viewer.downloadedSize|octet_size }}</span>
    </li>
    <li id="stats_ratio">
        Ratio: <span class="stat">{{ ratio(viewer.uploadedSize, viewer.downloadedSize) }}</span>
    </li>
{% set required_ratio = viewer.requiredRatio %}
{% if required_ratio > 0 %}
    <li id="stats_required">
        <a href="rules.php?p=ratio">Required</a>:
        <span class="stat tooltip" title="{{ required_ratio|number_format(5) }}">{{ required_ratio|number_format(2) }}</span>
    </li>
{% endif %}
{% if viewer.tokenCount %}
    <li id="fl_tokens">
        <a href="wiki.php?action=article&amp;id=57">Tokens</a>:
        <span class="stat">
            <a href="userhistory.php?action=token_history&amp;userid={{ viewer.id }}">{{ viewer.tokenCount|number_format }}</a>
        </span>
    </li>
{% endif %}
</ul>
<ul id="userinfo_minor">
{% for link in nav_links -%}
    {{ link|raw }}
{%- endfor %}
</ul>
</div>

<div id="menu">
<h4 class="hidden">Site Menu</h4>
<ul>
<li id="nav_index"{{    _self.active(document == 'index')    }}><a href="index.php">Home</a> </li>
<li id="nav_torrents"{{ _self.active(document == 'torrents') }}><a href="torrents.php">Torrents</a> </li>
<li id="nav_collages"{{ _self.active(document == 'collages') }}><a href="collages.php">Collages</a> </li>
<li id="nav_requests"{{ _self.active(document == 'requests') }}><a href="requests.php">Requests</a> </li>
<li id="nav_forums"{{   _self.active(document == 'forums')   }}><a href="forums.php">Forums</a> </li>
<li id="nav_irc"{{      _self.active(document == 'chat')     }}><a href="chat.php">IRC</a> </li>
<li id="nav_top10"{{    _self.active(document == 'top10')    }}><a href="top10.php">Top 10</a> </li>
<li id="nav_rules"{{    _self.active(document == 'rules')    }}><a href="rules.php">Rules</a> </li>
<li id="nav_wiki"{{     _self.active(document == 'wiki')     }}><a href="wiki.php">Wiki</a> </li>
<li id="nav_staff"{{    _self.active(document == 'staff')    }}><a href="staff.php" title="Staff">Staff</a> </li>
</ul>
</div>

<div id="searchbars">
<ul>
<li id="searchbar_torrents">
    <span class="hidden">Torrents: </span>
    <form class="search_form" name="torrents" action="torrents.php" method="get">
{% if viewer.option('SearchType') %}
        <input type="hidden" name="action" value="advanced" />
{% endif %}
        <input id="torrentssearch" value="Torrents" placeholder="Torrents" type="text" name="
            {%- if viewer.option('SearchType') %}groupname{% else %}searchstr{% endif -%}
            " size="17" spellcheck="false" accesskey="t" />
    </form>
</li>
<li id="searchbar_artists">
    <span class="hidden">Artist: </span>
    <form class="search_form" name="artists" action="artist.php" method="get">
        <input id="artistsearch"
            {%- if viewer.hasAutocomplete('search') %} data-gazelle-autocomplete="true" {% endif -%}
            value="Artists" placeholder="Artists" type="text" name="artistname" size="17" spellcheck="false" accesskey="a" />
    </form>
</li>
<li id="searchbar_collages">
    <span class="hidden">Collage: </span>
    <form class="search_form" name="collages" action="collages.php" method="get">
        <input id="collagesearch"
            {%- if viewer.hasAutocomplete('search') %} data-gazelle-autocomplete="true" {% endif -%}
            value="Collages" placeholder="Collages" type="text" name="search" size="17" spellcheck="false" accesskey="c" />
    </form>
</li>
<li id="searchbar_requests">
    <span class="hidden">Requests: </span>
    <form class="search_form" name="requests" action="requests.php" method="get">
        <input id="requestssearch" value="Requests" placeholder="Requests" type="text" name="search" size="17" spellcheck="false" accesskey="r" />
    </form>
</li>
<li id="searchbar_forums">
    <span class="hidden">Forums: </span>
    <form class="search_form" name="forums" action="forums.php" method="get">
        <input value="search" type="hidden" name="action" />
        <input id="forumssearch" value="Forums" placeholder="Forums" type="text" name="search" size="17" accesskey="f" />
    </form>
</li>
<li id="searchbar_log">
    <span class="hidden">Log: </span>
    <form class="search_form" name="log" action="log.php" method="get">
        <input id="logsearch" value="Log" placeholder="Log" type="text" name="search" size="17" accesskey="l" />
    </form>
</li>
<li id="searchbar_users">
    <span class="hidden">Users: </span>
    <form class="search_form" name="users" action="user.php" method="get">
        <input type="hidden" name="action" value="search" />
        <input id="userssearch" value="Users" placeholder="Users" type="text" name="search" size="20" spellcheck="false" accesskey="u" />
    </form>
</li>
</ul>
</div>
</div>
<div id="content">
{% if alert_list or action_list %}
<div id="alerts">
{%  if alert_list %}
<div class="alertbar">{{ alert_list|join(' &sdot; ')|raw }}</div>
{%  endif %}
{%  if action_list %}
<div class="alertbar blend">{{ action_list|join(' &sdot; ')|raw }}</div>
{%  endif %}
</div>
{% endif %}
