{%- from 'macro/header.twig' import scss, css, script -%}
{% set viewer_args = '&passkey=' ~ viewer.announceKey ~ '&auth=' ~ viewer.rssAuth %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="referrer" content="same-origin" />
<title>{{ page_title }} ⠶ {{ constant('SITE_NAME') }}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Torrents" href="opensearch.php?type=torrents" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Artists" href="opensearch.php?type=artists" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Requests" href="opensearch.php?type=requests" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Forums" href="opensearch.php?type=forums" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Log" href="opensearch.php?type=log" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Users" href="opensearch.php?type=users" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Wiki" href="opensearch.php?type=wiki" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=feed_news{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - News" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=feed_blog{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Blog" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=feed_changelog{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Change Log" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_notify_{{ viewer.announceKey }}{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Personal Torrent Notifications" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_all{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - All Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_music{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Music Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_apps{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Application Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_ebooks{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - E-Book Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_abooks{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Audiobooks Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_evids{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - E-Learning Video Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_comedy{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Comedy Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_comics{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Comic Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_mp3{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - MP3 Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_flac{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - FLAC Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_vinyl{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Vinyl Sourced Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_lossless{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - Lossless Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_lossless24{{ viewer_args }}" title="{{ constant('SITE_NAME') }} - 24bit Lossless Torrents" />
{% if viewer.permitted('site_torrents_notify') %}
{%     for id, name in viewer.notifyFilters %}
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_notify_{{ id }}_{{ viewer.announceKey }}{{ viewer_args }}&amp;name={{ name }}" title="{{ constant('SITE_NAME') }} - {{ name }}" />
{%     endfor %}
{% endif -%}

{{ scss('global.css') }}
{{ scss('tooltipster/style.css') }}
{% for sheet in scss_style %}
{{ scss(sheet) }}
{% endfor %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ constant('STATIC_SERVER') }}/styles/katex/katex-0.16.10.min.css?v={{ mtime_css('katex/katex-0.16.10.min.css') }}" />
{% for sheet in css_style %}
{{ css(sheet) }}
{% endfor -%}
{% if viewer.option('UseOpenDyslexic') %}
{{ scss('opendyslexic/style.css') }}
{% endif %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ stylesheet.cssUrl }}" title="{{ stylesheet.name }}" />
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/jquery.js?v={{ mtime('vendor/jquery.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/jquery.autocomplete.js?v={{ mtime('vendor/jquery.autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/katex-0.16.10.min.js?v={{ mtime('vendor/katex-0.16.10.min.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/tooltipster.js?v={{ mtime('vendor/tooltipster.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/tooltipster_settings.js?v={{ mtime('vendor/tooltipster_settings.js') }}"></script>
{% if use_noty %}
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/noty/noty.js?v={{ mtime('vendor/noty/noty.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/noty/noty.layout.bottomRight.js?v={{ mtime('vendor/noty/noty.layout.bottomRight.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/noty/noty.theme.default.js?v={{ mtime('vendor/noty/noty.theme.default.js') }}"></script>
{% endif %}
{% if constant('DEBUG_MODE') or viewer.permitted('site_debug') %}
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/vendor/jquery-migrate.js?v={{ mtime('vendor/jquery-migrate.js') }}"></script>
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/functions/debug.js?v={{ mtime('functions/debug.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ constant('STATIC_SERVER') }}/functions/global.js?v={{ mtime('functions/global.js') }}"></script>
{% for js in script %}
{{ script(js) }}
{% endfor %}
{% if use_noty %}
{{ script('user_notifications.js') }}
{% endif %}
<script type="text/javascript">
var authkey="{{ viewer.auth }}";var userid={{ viewer.id }};
</script>
