    <div class="main_column">
{% if contest %}
        <div id="contest-info" class="box news_post" style="text-align:center">
    {% if contest.banner %}
            <br /><a href="/contest.php?action=leaderboard">
                <img src="{{ contest.banner }}" alt="{{ contest.name }}" title="{{ contest.name }}" />
            </a>
    {% endif %}
            <h5>The <a href="/contest.php?action=leaderboard">{{ contest.name }}</a> {{ contest.isOpen ? 'ends in' : 'ended' }} {{ contest.dateEnd|time_diff }}</h5>
        </div>
{% endif %}

        <div id="last_uploads" class="box news_post">
            <div class="head">
                <strong>Latest Uploads</strong>
            </div>
            <div class="head">
            <ul class="collage_images" id="collage_page0">
{% for t in latest %}
    {% set title = t.name ~ '<br />(' ~ t.group.tagNameList|join(', ') ~ ')<br />uploaded by ' ~ t.uploader.username ~ ' ' ~ t.created|time_diff %}
    {% set alt = title|replace({'<br />': ' '}) %}
                <li class="image_group_{{ t.groupId }}">
                <a href="torrents.php?id={{ t.groupId }}&amp;torrentid={{ t.id }}#torrent{{ t.id }}">
                <img class="tooltip_interactive" src="{{ t.group.image|image }}" alt="{{ alt }}" title="{{ title }}" data-title-plain="{{ alt }}" width="118" /></a>
                </li>
{% endfor %}
            </ul>
            </div>
        </div>

{% for article in news[0:5] %}
        <div class="box news_post">
            <div class="head">
                <strong>{{ article.title|bb_format }}</strong> {{ article.created|time_diff }}
{% if admin %}
                - <a href="tools.php?action=editnews&amp;id={{ article.id }}" class="brackets">Edit</a>
{% endif %}

{%- set name = 'news' ~ article.id -%}
{{- dom.click("#" ~ name, "$('#newsbody" ~ article.id ~ "').gtoggle(); this.innerHTML = (this.innerHTML == 'Hide') ? 'Show' : 'Hide'; return false;") -}}
            <span id="{{ name }}" style="float: right; cursor: pointer;" class="brackets">Hide</span>
            </div>

            <div id="newsbody{{ article.id }}" class="pad">{{ article.body|bb_format }}</div>
        </div>
{% endfor %}

        <div id="more_news" class="box">
            <div class="head">
                {{- dom.click('#more-news-loader', "news_ajax(event, 3, 5, " ~ admin ~ ", false); return false;") -}}
                <em><span id="more-news-loader">Click to load more news.</span> To browse old news posts, <a href="forums.php?action=viewforum&amp;forumid=12">click here</a>.</em>
            </div>
        </div>
    </div>
</div>
{{ footer({'disclaimer': true}) }}
