{%- from 'macro/header.twig' import css, script -%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="referrer" content="none, no-referrer, same-origin" />
<title>{{ page_title }}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Torrents" href="opensearch.php?type=torrents" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Artists" href="opensearch.php?type=artists" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Requests" href="opensearch.php?type=requests" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Forums" href="opensearch.php?type=forums" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Log" href="opensearch.php?type=log" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Users" href="opensearch.php?type=users" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ constant('SITE_NAME') }} Wiki" href="opensearch.php?type=wiki" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=feed_news{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - News" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=feed_blog{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Blog" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=feed_changelog{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Change Log" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_notify_{{ viewer.announce_key}}{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - P.T.N." />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_all{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - All Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_music{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Music Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_apps{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Application Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_ebooks{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - E-Book Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_abooks{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Audiobooks Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_evids{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - E-Learning Video Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_comedy{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Comedy Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_comics{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Comic Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_mp3{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - MP3 Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_flac{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - FLAC Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_vinyl{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Vinyl Sourced Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_lossless{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - Lossless Torrents" />
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_lossless24{{ auth_args|raw }}" title="{{ constant('SITE_NAME') }} - 24bit Lossless Torrents" />

{%- if viewer.permitted('site_torrents_notify') -%}
    {%- for id, name in viewer.notifyFilters %}
<link rel="alternate" type="application/rss+xml" href="feeds.php?feed=torrents_notify_{{ id }}_{{ viewer.announce_key }}{{ auth_args|raw }}&amp;name={{ name }}" title="{{ constant('SITE_NAME') }} - {{ name }}" />
    {%- endfor %}
{% endif -%}

{%- for sheet in style %}
{{ css(sheet) }}
{% endfor %}
{% if viewer.stylesheetUrl %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ viewer.stylesheetUrl }}" title="External CSS" />
{% else -%}
{{ css(viewer.stylesheetName ~ '/style.css') }}
{% endif %}
{% for js in script %}
{{ script(js) }}
{% endfor %}
<script type="text/javascript">
//<![CDATA[
var authkey="{{ viewer.auth }}";var userid={{ viewer.id }};
//]]>
</script>
