{% from 'macro/form.twig' import checked, selected -%}

{{ header('User search') }}
<div class="thin">
<form class="search_form" name="users" action="user.php" method="get">
<input type="hidden" name="action" value="search" />

<table class="layout"><tr>
    <td style="vertical-align:top;"><table class="layout">
        <tr>
        <td class="label nobr">Username:</td>
        <td>
            <input type="text" name="username" size="20" value="{{ input.username }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Email address:</td>
        <td>
            <input type="text" name="email" size="20" value="{{ input.email }}" />
        </td>
        </tr>

        <tr>
        <td class="label tooltip nobr" title="To fuzzy search (default) for a block of addresses
            (e.g. 55.66.77.*), enter &quot;55.66.77.&quot; without the quotes">Site IP:</td>
        <td>
            <input type="text" name="ip" size="20" value="{{ input.ip }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Tracker IP:<br />
          <div style="padding-left: 20px; text-align: left;">
            <input type="radio" name="tracker-src" id="tracker-src-live" value="live"{{ checked(tracker_live_source) }} />
            <label class="tooltip" for="tracker-src-live" title="Search for client ip addresses currently connecting to the tracker">Live</label><br />
            <input type="radio" name="tracker-src" id="tracker-src-hist" value="hist"{{ checked(not tracker_live_source) }} />
            <label class="tooltip" for="tracker-src-hist" title="Search for ip addresses that have been seen by the tracker (but may be not connected at this time)">Historical</label>
          </div>
        </td>
        <td>
            <input type="text" name="tracker_ip" size="20" value="{{ input.tracker_ip }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Staff notes:</td>
        <td>
            <input type="text" name="comment" size="20" value="{{ input.comment }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Passkey:</td>
        <td>
            <input type="text" name="passkey" size="20" value="{{ input.passkey }}" />
        </td>
        </tr>

        <tr>
        <td class="label tooltip nobr" title="Supports partial URL matching, e.g. entering
            &quot;&#124;https://ptpimg.me&quot; will search for avatars hosted on https://phpimg.me">Avatar URL:</td>
        <td>
            <input type="text" name="avatar" size="20" value="{{ input.avatar }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Last.fm username:</td>
        <td>
            <input type="text" name="lastfm" size="20" value="{{ input.lastfm }}" />
        </td>
        </tr>

        <tr>
        <td class="nobr" colspan="2">
        <h4>Extra</h4>
        <ul class="options_list nobullet">
            <li title="Only display users that have a disabled account linked by IP address">
                <input type="checkbox" name="disabled_ip" id="disabled_ip"{{ checked(check_disabled_ip) }} />
                <label for="disabled_ip">Disabled accounts linked by IP</label>
            </li>
            <li>
                <input type="checkbox" name="ip_history" id="ip_history"{{ checked(check_ip_history) }} />
                <label title="Disabled accounts linked by IP must also be checked" for="ip_history">IP history</label>
            </li>
            <li>
                <input type="checkbox" name="email_history" id="email_history"{{ checked(check_email_history) }} />
                <label title="Also search the email addresses the member used in the past" for="email_history">Email history</label>
            </li>
        </ul>
        </tr>
    </table></td>

{# new column #}

    <td style="vertical-align:top;"><table class="layout">
        <tr>
        <td class="label nobr">Joined:</td>
        <td style="white-space: nowrap;">
            <select name="joined">
                <option value="on"{{ selected(input.joined == 'on') }}>On</option>
                <option value="before"{{ selected(input.joined == 'before') }}>Before</option>
                <option value="after"{{ selected(input.joined == 'after') }}>After</option>
                <option value="between"{{ selected(input.joined == 'between') }}>Between</option>
            </select>
            <input type="text" name="join1" size="10" value="{{ input.join1 }}" placeholder="YYYY-MM-DD" />
            <input type="text" name="join2" size="10" value="{{ input.join2 }}" placeholder="YYYY-MM-DD" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Last active:</td>
        <td style="white-space: nowrap;">
            <select name="lastactive">
                <option value="on"{{ selected(input.lastactive == 'on') }}>On</option>
                <option value="before"{{ selected(input.lastactive == 'before') }}>Before</option>
                <option value="after"{{ selected(input.lastactive == 'after') }}>After</option>
                <option value="between"{{ selected(input.lastactive == 'between') }}>Between</option>
            </select>
            <input type="text" name="lastactive1" size="10" value="{{ input.lastactive1 }}" placeholder="YYYY-MM-DD" />
            <input type="text" name="lastactive2" size="10" value="{{ input.lastactive2 }}" placeholder="YYYY-MM-DD" />
        </td>
        </tr>

        <tr>
        <td class="label nobr" title="The number of releases downloaded (may be greater than snatched">Downloads:</td>
        <td style="width:30%">
            <select name="downloads">
                <option value="off"{{ selected(input.downloads == 'off') }}>Off</option>
                <option value="equal"{{ selected(input.downloads == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.downloads == 'above') }}>Above</option>
                <option value="below"{{ selected(input.downloads == 'below') }}>Below</option>
                <option value="between"{{ selected(input.downloads == 'between') }}>Between</option>
            </select>
            <input type="text" name="downloads1" size="6" value="{{ input.downloads1 }}" />
            <input type="text" name="downloads2" size="6" value="{{ input.downloads2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Snatched:</td>
        <td style="width:30%">
            <select name="snatched">
                <option value="off"{{ selected(input.snatched == 'off') }}>Off</option>
                <option value="equal"{{ selected(input.snatched == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.snatched == 'above') }}>Above</option>
                <option value="below"{{ selected(input.snatched == 'below') }}>Below</option>
                <option value="between"{{ selected(input.snatched == 'between') }}>Between</option>
            </select>
            <input type="text" name="snatched1" size="6" value="{{ input.snatched1 }}" />
            <input type="text" name="snatched2" size="6" value="{{ input.snatched2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Seeding:</td>
        <td style="width:30%">
            <select name="seeding">
                <option value="off"{{ selected(input.seeding == 'off') }}>Off</option>
                <option value="equal"{{ selected(input.seeding == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.seeding == 'above') }}>Above</option>
                <option value="below"{{ selected(input.seeding == 'below') }}>Below</option>
                <option value="between"{{ selected(input.seeding == 'between') }}>Between</option>
            </select>
            <input type="text" name="seeding1" size="6" value="{{ input.seeding1 }}" />
            <input type="text" name="seeding2" size="6" value="{{ input.seeding2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label tooltip nobr" title="Units are GiB">Data Uploaded:</td>
        <td style="width:30%">
            <select name="uploaded">
                <option value="equal"{{ selected(input.uploaded == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.uploaded == 'above') }}>Above</option>
                <option value="below"{{ selected(input.uploaded == 'below') }}>Below</option>
                <option value="between"{{ selected(input.uploaded == 'between') }}>Between</option>
                <option value="buffer"{{ selected(input.uploaded == 'buffer') }}>buffer</option>
            </select>
            <input type="text" name="uploaded1" size="6" value="{{ input.uploaded1 }}" />
            <input type="text" name="uploaded2" size="6" value="{{ input.uploaded2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label tooltip nobr" title="Units are GiB">Data Downloaded:</td>
        <td style="width:30%">
            <select name="downloaded">
                <option value="equal"{{ selected(input.downloaded == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.downloaded == 'above') }}>Above</option>
                <option value="below"{{ selected(input.downloaded == 'below') }}>Below</option>
                <option value="between"{{ selected(input.downloaded == 'between') }}>Between</option>
            </select>
            <input type="text" name="downloaded1" size="6" value="{{ input.downloaded1 }}" />
            <input type="text" name="downloaded2" size="6" value="{{ input.downloaded2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label tooltip nobr" title="Units are GiB">Request Bounty:</td>
        <td style="width:30%">
            <select name="bounty">
                <option value="equal"{{ selected(input.bounty == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.bounty == 'above') }}>Above</option>
                <option value="below"{{ selected(input.bounty == 'below') }}>Below</option>
                <option value="between"{{ selected(input.bounty == 'between') }}>Between</option>
            </select>
            <input type="text" name="bounty1" size="6" value="{{ input.bounty1 }}" />
            <input type="text" name="bounty2" size="6" value="{{ input.bounty2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Ratio:</td>
        <td style="width:30%">
            <select name="ratio">
                <option value="equal"{{ selected(input.ratio == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.ratio == 'above') }}>Above</option>
                <option value="below"{{ selected(input.ratio == 'below') }}>Below</option>
                <option value="between"{{ selected(input.ratio == 'between') }}>Between</option>
            </select>
            <input type="text" name="ratio1" size="6" value="{{ input.ratio1 }}" />
            <input type="text" name="ratio2" size="6" value="{{ input.ratio2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr"># of invites:</td>
        <td>
            <select name="invites">
                <option value="equal"{{ selected(input.invites == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.invites == 'above') }}>Above</option>
                <option value="below"{{ selected(input.invites == 'below') }}>Below</option>
                <option value="between"{{ selected(input.invites == 'between') }}>Between</option>
            </select>
            <input type="text" name="invites1" size="6" value="{{ input.invites1 }}" />
            <input type="text" name="invites2" size="6" value="{{ input.invites2 }}" />
        </td>
        </tr>

        <tr>
        <td style="width:30%" class="label nobr"># invited:</td>
        <td>
            <select name="invited">
                <option value="off"{{ selected(input.invited == 'off') }}>Off</option>
                <option value="equal"{{ selected(input.invited == 'equal') }}>Equal</option>
                <option value="above"{{ selected(input.invited == 'above') }}>Above</option>
                <option value="below"{{ selected(input.invited == 'below') }}>Below</option>
                <option value="between"{{ selected(input.invited == 'between') }}>Between</option>
            </select>
            <input type="text" name="invited1" size="6" value="{{ input.invited1 }}" />
            <input type="text" name="invited2" size="6" value="{{ input.invited2 }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr"># of emails:</td>
        <td>
            <select name="emails_opt">
                <option value="equal"{{ selected(input.emails_opt == 'any') }}>Equal</option>
                <option value="above"{{ selected(input.emails_opt == 'locked') }}>Above</option>
                <option value="below"{{ selected(input.emails_opt == 'unlocked') }}>Below</option>
            </select>
            <input type="text" name="email_cnt" size="6" value="{{ input.email_cnt }}" />
        </td>
        </tr>
    </table></td>

{# new column #}

    <td style="vertical-align:top;"><table class="layout">
        <tr>
        <td class="label nobr">Primary class:</td>
        <td>
            <select name="class[]" size="3" multiple="multiple">
{% for c in primary_class %}
                <option value="{{ c.ID }}"{{ selected(c.ID in input.class) }}>{{ c.Name|shorten(12) }} ({{ c.Level }})</option>
{% endfor %}
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Secondary class:</td>
        <td>
            <select name="secclass">
                <option value=""{{ selected(input.secclass == '') }}>Don't Care</option>
{% for c in secondary_class %}
                <option value="{{ c.ID }}"{{ selected(input.secclass == c.ID) }}>{{ c.Name|shorten(20) }}</option>
{% endfor %}
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Enabled:</td>
        <td>
            <select name="enabled">
                <option value=""{{ selected(input.enabled is empty) }}>Don't Care</option>
                <option value="0"{{ selected(input.enabled == '0') }}>Unconfirmed</option>
                <option value="1"{{ selected(input.enabled == '1') }}>Enabled</option>
                <option value="2"{{ selected(input.enabled == '2') }}>Disabled</option>
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Donor:</td>
        <td>
            <select name="donor">
                <option value=""{{ selected(input.donor is empty) }}>Don't Care</option>
                <option value="yes"{{ selected(input.donor == 'yes') }}>Yes</option>
                <option value="no"{{ selected(input.donor == 'no') }}>No</option>
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Warned:</td>
        <td>
            <select name="warned">
                <option value=""{{ selected(input.warned is empty) }}>Don't Care</option>
                <option value="isnotnull"{{ selected(input.warned == 'isnotnull') }}>Yes</option>
                <option value="isnull"{{ selected(input.warned == 'isnull') }}>No</option>
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Locked Account:</td>
        <td>
            <select name="lockedaccount">
                <option value="any"{{ selected(input.lockedaccount == 'any') }}>Don't Care</option>
                <option value="locked"{{ selected(input.lockedaccount == 'locked') }}>Locked</option>
                <option value="unlocked"{{ selected(input.lockedaccount == 'unlocked') }}>Unlocked</option>
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Disabled invites:</td>
        <td>
            <select name="disabled_invites">
                <option value=""{{ selected(input.disabled_invites is empty) }}>Don't Care</option>
                <option value="yes"{{ selected(input.disabled_invites == 'yes') }}>Yes</option>
                <option value="no"{{ selected(input.disabled_invites == 'no') }}>No</option>
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Disabled uploads:</td>
        <td>
            <select name="disabled_uploads">
                <option value=""{{ selected(input.disabled_uploads is empty) }}>Don't Care</option>
                <option value="yes"{{ selected(input.disabled_uploads == 'yes') }}>Yes</option>
                <option value="no"{{ selected(input.disabled_uploads == 'no') }}>No</option>
            </select>
        </td>
        </tr>

        <tr>
        <td class="label nobr">Stylesheet:</td>
        <td>
            <select name="stylesheet" id="stylesheet">
                <option value="">Don't Care</option>
{% for s in stylesheet %}
                <option value="{{ s.ID }}"{{ selected(input.stylesheet == s.ID) }}>{{ s.ProperName }}</option>
{% endfor %}
            </select>
        </td>
        </tr>

        <tr>
        <td class="label tooltip nobr" title="Two-letter codes as defined in ISO 3166-1 alpha-2">Country code:</td>
        <td style="width:30%">
            <select name="cc_op">
                <option value="equal"{{ selected(input.cc_op == 'equal') }}>Equals</option>
                <option value="not_equal"{{ selected(input.cc_op == 'not_equal') }}>Not equal</option>
            </select>
            <input type="text" name="cc" size="2" value="{{ input.cc }}" />
        </td>
        </tr>

        <tr>
        <td class="label nobr">Search type:</td>
        <td>
            <ul class="options_list nobullet">
                <li>
                    <input type="radio" name="matchtype" id="strict_match_type" value="strict"{{ checked(match_mode == 'strict') }} />
                    <label class="tooltip" title="A &quot;strict&quot; search uses no wildcards in search fields,
                        and it is analogous to &#96;grep -E &quot;&circ;SEARCHTERM&#36;&quot;&#96;" for="strict_match_type">Strict</label>
                </li>
                <li>
                    <input type="radio" name="matchtype" id="fuzzy_match_type" value="fuzzy"{{ checked(match_mode == 'fuzzy') }} />
                    <label class="tooltip" title="A &quot;fuzzy&quot; search automatically prepends and appends wildcards to
                        search strings, except for IP address searches, unless the search string begins or ends with a
                        &quot;&#124;&quot; (pipe). It is analogous to a vanilla grep search (except for the pipe stuff)." for="fuzzy_match_type">Fuzzy</label>
                </li>
                <li>
                    <input type="radio" name="matchtype" id="regexp_match_type" value="regexp"{{ checked(match_mode == 'regexp') }} />
                    <label class="tooltip" title="A &quot;regexp&quot; search uses MySQL's regular expression syntax." for="regexp_match_type">Regexp</label>
                </li>
            </ul>
        </td>
        </tr>
    </table></td>
</tr>
</table>

{# end last column #}

Results ordered <select name="order">
{% for field in field_by %}
    <option value="{{ field }}"{{ selected(field == input.order|default('Joined')) }}>{{ field }}</option>
{% endfor %}
</select>

<select name="way">
{% for dir in order_by %}
    <option value="{{ dir }}"{{ selected(dir == input.way|default('Descending')) }}>{{ dir }}</option>
{% endfor %}
</select>
<input type="submit" value=" Search " />

</form>
</div>

{{ paginator.linkbox|raw }}
<div class="box pad center">
    <h2>{{ paginator.total|number_format }} result{{ paginator.total|plural }}</h2>
    <table width="100%">
        <tr class="colhead">
            <td>Username</td>
            <td>Class</td>
            <td>Email</td>
            <td>Joined / Last seen</td>
            <td>Upload</td>
            <td>Download</td>
            <td>Ratio</td>
            <td>Bounty</td>
            <td title="Downloads">DLs</td>
            <td><img src="{{ url_stem }}snatched.png" class="tooltip" title="Snatched" /></td>
            <td><img src="{{ url_stem }}seeders.png" class="tooltip" title="Seeding" /></td>
            <td>Invites</td>
{% if show_invited %}
            <td>Invited</td>
{% endif %}
        </tr>
{% for u in page %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
            <td>{{ u.user.link|raw }} {{ u.user_id|user_status(viewer)|raw }}</td>
            <td>{{ u.user.userclassName }}
    {% for badge, title in u.user.secondaryBadges|filter((v, k) => k is not empty) %}
        {% if loop.first %}
            <br />
        {% endif %}
            <span class="tooltip secondary_class" title="{{ title }}">{{ badge }}</span>
    {% endfor %}
            </td>
            <td>{{ u.user.email }}</td>
            <td>{{ u.user.joinDate|time_diff(1) }}<br />{{ u.user.lastAccess|time_diff(1) }}</td>
            <td>{{ u.user.uploadedSize|octet_size }}</td>
            <td>{{ u.user.downloadedSize|octet_size }}</td>
            <td>{{ ratio(u.user.uploadedSize, u.user.downloadedSize) }}</td>
            <td>{{ u.user.stats.requestVoteSize|octet_size }}</td>
            <td>{{ u.user.stats.downloadUnique|number_format }}</td>
            <td>{{ u.user.stats.snatchUnique|number_format }}</td>
            <td>{{ u.user.stats.seedingTotal|number_format }}</td>
            <td>{{ u.invites|number_format }}
    {%- if u.user.disableInvites -%}
        <span title="Invites are disabled">&nbsp;&nbsp;&#x1F6AB;</span>
    {%- endif -%}
        </td>
    {% if show_invited %}
            <td>
        {%- if u.user.invitedTotal > 0 -%}
            <a href="user.php?action=invitetree&userid={{ u.user_id }}">
        {%- endif -%}
            {{ u.user.invitedTotal }}
        {%- if u.user.invitedTotal > 0 -%}
            </a>
        {%- endif -%}
            </td>
    {% endif %}
        </tr>
{% endfor %}
    </table>
</div>
{{ paginator.linkbox|raw }}
{{ footer() }}
