{{ header('Cache management') }}
<div class="header">
    <h2>Cache Inspector</h2>
</div>
<div class="linkbox">
    <a href="tools.php?action=service_stats" class="brackets">Cache/DB stats</a>
    <a href="tools.php?action=db-mysql" class="brackets">Mysql inspector</a>
    <a href="tools.php?action=db-pg" class="brackets">Postgresql inspector</a>
    <a href="tools.php?action=db_sandbox" class="brackets">DB sandbox</a>
</div>
<div class="thin pad">

{% for name, value in result %}
{%  if loop.first %}
    <div class="box pad">
        <h2>{% if flushed %}Cache flushed{% else %}Cache contents{% endif %}</h2>
        <table>
        <tr><th>Name</th><th>Value</th><tr>
{%  endif %}
        <tr><td style="vertical-align: top">{{ name }}</td>
{%  if flushed %}
{%      if multi %}
        <td>Flushed {{ value|number_format }} key{{ value|plural }} in this namespace</td>
{%      else %}
        <td>{{ value }}</td>
{%      endif %}
{%  else %}
        <td style="overflow: scroll; max-width: 400px;">
{%      if value is null %}
            <tt>null</tt>
{%      elseif value is iterable %}
            <pre>{{ value|json_encode }}</pre>
{%      elseif value == false %}
            <tt>false</tt>
{%      else %}
            {{ value }}
{%      endif %}
        </td>
{%  endif %}
        </tr>
{%  if loop.last %}
{%      if flushed %}
        <tr><td colspan="2">Flush performed in
{%-         if delta > 1 %} {{ delta|number_format(3) }} sec
{%-         else %} {{ (delta*1000)|number_format(3) }} msec
{%-         endif %}
            </td></tr>
{%      endif %}
        </table>
    </div>
{%  endif %}
{% endfor %}

    <div class="box pad">
    <h2>Inspection</h2>
    <form class="manage_form" name="cache" method="get" action="">
        <input type="hidden" name="action" value="clear_cache" />
        <p>View or flush keys (separated by spaces). Remember to check the checkbox to validate that you really want to flush content.</p>
        <textarea cols="80" rows="8" name="key" id="key" class="inputtext">{{ key }}</textarea><br />
        <span style="padding: 0 0"><input type="submit" name="view" value="View" /></span>
        <span style="padding: 0 20px"><input type="submit" name="json" value="View as JSON" /></span>
{% if viewer.permitted('admin_clear_cache') %}
        <label><input type="checkbox" name="check" /> Confirm</label>
        <input type="submit" name="flush" value="Flush keys" />
{% endif %}
    </form>
    </div>
{% if viewer.permitted('admin_clear_cache') %}
    <div class="box pad">
    <h2>Bulk Eraser</h2>
        <p>Flush collections. Warning: may be so slow as to cause a gateway timeout, but the process will complete.</p>
        <form class="manage_form" name="cache" action="">
        <input type="hidden" name="action" value="clear_cache" />
        <table>
            <tr>
{%  for name in constant('CACHE_NAMESPACE')|keys %}
                <th width="{{ 100/(constant('CACHE_NAMESPACE')|length) }}%">{{ name }}</th>
{%  endfor %}
            </tr>
            <tr>
{%  for list in constant('CACHE_NAMESPACE') %}
                <td style="vertical-align: top">
{%      for field, shape in list %}
                    <label><input type="checkbox" name="{{ field }}" id="flush-{{ field }}" /> {{ shape|replace({'%d': '*'}) }}</label>
                    <br />
{%      endfor %}
                </td>
{%  endfor %}
            </tr>
            <tr>
                <td colspan="{{ constant('CACHE_NAMESPACE')|length }}">If you also want to flush a specfic collection (or more) that is not listed,
                you may write it in below (e.g. <tt>artist_foo_*</tt>, space separated, in the appropriate column).</td>
            </tr>
            <tr>
{%  for name in constant('CACHE_NAMESPACE')|keys %}
                <td>write-in<br />
                    <textarea cols="{{ 90/(constant('CACHE_NAMESPACE')|length) }}" rows="3" name="{{ name }}-free" id="{{ name }}-free" class="inputtext"></textarea><br />
                </td>
{%  endfor %}
            </tr>
            <tr>
{%  for name in constant('CACHE_NAMESPACE')|keys %}
                <td align="center">
                    <input type="submit" name="flush-{{ name }}" value="Flush checked" />
                </td>
{%  endfor %}
            </tr>
        </table>
    </form>
    <br />
    <table>
        <tr>
            <td>
                <form class="delete_form" name="cache" action="" method="post">
                    <input type="hidden" name="action" value="clear_cache" />
                    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                    <input type="hidden" name="flush-global" value="1" />
                    <p>Full restart (all keys will be flushed!)</p>
                    <label><input type="checkbox" name="confirm-global" value="1" /> Confirm</label>
                    <input type="submit" value="Flush memcached" />
                </form>
            </td>
        </tr>
    </table>
    </div>
{% endif %}
</div>
{{ footer() }}
