{{ header(constant('SITE_NAME') ~ ' Change Log') }}
<div class="thin">
    <h2>{{ constant('SITE_NAME') }} Change Log</h2>
    {{ paginator.linkbox|raw }}
{% if viewer.permitted('users_mod') %}
    <div class="box box2 edit_changelog">
        <div class="head">
            <strong>Manually submit a new change to the change log</strong>
        </div>
        <div class="pad">
            <form method="post" action="">
                <input type="hidden" name="perform" value="add" />
                <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                <div class="field_div" id="cl_message">
                    <span class="label">Commit message:</span>
                    <br />
                    <textarea name="message" rows="2"></textarea>
                </div>
                <div class="field_div" id="cl_author">
                    <span class="label">Author:</span>
                    <br />
                    <input type="text" name="author" value="{{ viewer.username }}" />
                </div>
                <div class="submit_div" id="cl_submit">
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% for change in list %}
    <div class="box box2 change_log_entry">
        <div class="head">
            <span>{{ change.date }} by {{ change.author }}</span>
    {% if viewer.permitted('users_mod') %}
            <span style="float: right;">
                <form id="delete_{{ change.id }}" method="post" action="">
                    <input type="hidden" name="perform" value="remove" />
                    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                    <input type="hidden" name="change_id" value="{{ change.id }}" />
                </form>
                {{- dom.click('#changelog-rm-' ~ change.id, "$('#delete_" ~ change.id ~ "').raw().submit(); return false;") -}}
                <a href="#" id="changelog-rm-{{ change.id }}" class="brackets">Delete</a>
            </span>
    {% endif %}
        </div>
        <div class="pad">
            {{ change.message }}
        </div>
    </div>
{% endfor %}
{{ paginator.linkbox|raw }}
</div>
{{ footer() }}
