{{ header('Database Specifics - ' ~ table_name) }}
<div class="linkbox">
    <a href="tools.php?action=service_stats" class="brackets">Cache/DB stats</a>
    <a href="tools.php?action=clear_cache" class="brackets">Cache inspector</a>
    <a href="tools.php?action=database_specifics" class="brackets">DB schema info</a>
    <a href="tools.php?action=db_sandbox" class="brackets">DB sandbox</a>
</div>

<div class="pad"><div class="box pad">
    <h3>Table {{ table_name }} definition</h3>
    <pre>{{ definition }}</pre>
    <a href="tools.php?action=db_sandbox&amp;table={{ table_name }}" class="brackets">Inspect</a>
</div></div>

<div class="pad"><div class="box pad">
    <h3>Rows read</h3>
    <table>
        <tr>
            <th>Rows</th>
            <th>Average length</th>
            <th>Data</th>
            <th>Index</th>
            <th>Free</th>
            <th>Rows read</th>
            <th>Rows changed</th>
            <th>Rows changed per index</th>
        </tr>
{% for r in table_read %}
        <tr>
            <td>{{ stats.table_rows|number_format }}</td>
            <td>{{ stats.avg_row_length|number_format }}</td>
            <td>{{ stats.data_length|octet_size }}</td>
            <td>{{ stats.index_length|octet_size }}</td>
            <td>{{ stats.data_free|octet_size }}</td>
            <td>{{ r.ROWS_READ|number_format }}</td>
            <td>{{ r.ROWS_CHANGED|number_format }}</td>
            <td>{{ r.ROWS_CHANGED_X_INDEXES|number_format }}</td>
        </tr>
{% endfor %}
    </table>
</div></div>

<div class="pad"><div class="box pad">
    <h3>Index reads</h3>
    <table>
        <tr>
            <th>Index name</th>
            <th>Rows read</th>
        </tr>
{% for r in index_read %}
        <tr>
            <td>{{ r.INDEX_NAME }}</td>
            <td>{{ r.ROWS_READ|number_format }}</td>
        </tr>
{% endfor %}
    </table>
</div></div>
{{ footer() }}
