{{ header('Dupe IPs', {'js': 'resolve-ip'}) }}
{% if list is empty %}
<h2 align="center">There are currently no users with more than {{ constant('IP_OVERLAPS') }} IP overlaps.</h2>
{% else %}
{{ paginator.linkbox|raw }}
<table width="100%">
    <tr class="colhead">
        <td>User</td>
        <td>IP address</td>
        <td>Dupes</td>
        <td>Joined</td>
    </tr>
{% for item in list %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td>{{ item.user_id|user_full }}</td>
        <td>
            <span style="float: left;">{{ item.ipaddr }} (<span class="resolve-ipv4" data-ip="{{ item.ipaddr }}">Resolving...</span>)</span>
            <span style="float: right;"><a href="userhistory.php?action=ips&amp;userid={{ item.user_id }}" title="History" class="brackets tooltip">H</a> <a href="user.php?action=search&amp;ip_history=on&amp;ip={{ item.ipaddr }}" title="Search" class="brackets tooltip">S</a></span>
        </td>
        <td>{{ item.uses|number_format }}</td>
        <td>{{ item.created|time_diff }}</td>
    </tr>
{% endfor %}
</table>
{{ paginator.linkbox|raw }}
{% endif %}
{{ footer() }}
