{% from 'macro/form.twig' import selected %}
{% from 'macro/ipv4.twig' import asn, ip_search, rdns %}
{{ header('Bulk Email Search') }}
<div class="thin">
<div class="header">
    <h2>Bulk Email Search</h2>
</div>

<div class="linkbox">
    <a href="tools.php?action=ip_search" class="brackets">Bulk IP Search</a>
</div>

{% if email_list %}
<div class="box pad">
<ul class="nobullet">
    <li>Email addresses identified: {{ email_list|length|number_format }}</li>
    <li>Matched on site: {{ paginator.total|number_format }}</li>
</ul>
<br />

{{ paginator.linkbox|raw }}

<h3>Live addresses</h3>
{% for r in live_page %}
    {% if loop.first %}
<table>
<thead>
    <tr>
    <th>Registered</th>
    <th>CC</th>
    <th>Joined</th>
    <th>Username / Email</th>
    <th>ASN</th>
    <th>rDNS</th>
    </tr>
</thead>
<tbody>
    {% endif %}
    <tr>
    <td>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.join_date }}</td>
    <td>{% if r.user_id %}{{ r.user_id|user_url }}{% else %}User #{{ r.user_id }}{% endif %} / {{ r.email }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td>{{ rdns(r.ipv4) }}</td>
    </tr>
    {% if loop.last %}
</tbody>
</table>
    {% endif %}
{% else %}
<div>no records</div>
{% endfor %}

<br />
<h3>Historical addresses</h3>
{% for r in history_page %}
    {% if loop.first %}
<table>
<thead>
    <tr>
    <th>Change IP</th>
    <th>CC</th>
    <th>Joined</th>
    <th>Changed</th>
    <th>Username / Email</th>
    <th>ASN</th>
    <th>rDNS</th>
    </tr>
</thead>
<tbody>
    {% endif %}
    <tr>
    <td>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.join_date }}</td>
    <td>{{ r.change_date }}</td>
    <td>{% if r.user_id %}{{ r.user_id|user_url }}{% else %}User #{{ r.user_id }}{% endif %} / {{ r.email }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td>{{ rdns(r.ipv4) }}</td>
    </tr>
    {% if loop.last %}
</tbody>
</table>
    {% endif %}
{% else %}
<div>no records</div>
{% endfor %}

</div>
{{ paginator.linkbox|raw }}
{% endif %}

<div class="box pad">
    <div class="thin">Paste a block of text here containing mail addresses (anything that look
    like xxx@yyy). The code will take of sorting and deduplicating.</div>
    <br />
    <form action="tools.php?action=email_search&amp;column={{ column }}&amp;direction={{ direction }}{% if email_list %}&amp;emaillist={{ email_list|join(',') }}{% endif %}" method="post">
    {{ text.preview|raw }}
    {{ text.field|raw }}
    <br >Order by <select name="column">
        <option value="{{ constant('\\Gazelle\\Search\\Email::EMAIL') }}"{{ selected(column == constant('\\Gazelle\\Search\\Email::EMAIL')) }}>Email address</option>
        <option value="{{ constant('\\Gazelle\\Search\\Email::USER') }}"{{ selected(column == constant('\\Gazelle\\Search\\Email::USER')) }}>Username</option>
        <option value="{{ constant('\\Gazelle\\Search\\Email::JOINED') }}"{{ selected(column == constant('\\Gazelle\\Search\\Email::JOINED')) }}>Join date</option>
        <option value="{{ constant('\\Gazelle\\Search\\Email::CHANGED') }}"{{ selected(column == constant('\\Gazelle\\Search\\Email::CHANGED')) }}>Change date</option>
        <option value="{{ constant('\\Gazelle\\Search\\Email::IP') }}"{{ selected(column == constant('\\Gazelle\\Search\\Email::IP')) }}>IP address</option>
    </select>
    <select name="direction">
        <option value="{{ constant('\\Gazelle\\Search\\Email::ASC') }}"{{ selected(direction == constant('\\Gazelle\\Search\\Email::ASC')) }}>Ascending</option>
        <option value="{{ constant('\\Gazelle\\Search\\Email::DESC') }}"{{ selected(direction == constant('\\Gazelle\\Search\\Email::DESC')) }}>Descending</option>
    </select>
    {{ text.button|raw }}
    <input type="submit" value="Search" />
    </form>
</div>
{{ footer() }}
