{{ header('Forum Category Management') }}
<div class="header">
    <script type="text/javacript">document.getElementByID('content').style.overflow = 'visible';</script>
    <h2>Forum Category Management</h2>
</div>
<div class="linkbox">
    <a class="brackets" href="tools.php?action=forum">Forum Control Panel</a>
    <a class="brackets" href="tools.php?action=forum_transitions">Forum Transitions</a>
</div>
<table width="100%">
    <tr class="colhead">
        <td>Sort</td>
        <td>Name</td>
        <td>Forums</td>
        <td>Submit</td>
    </tr>
{% for cat in list %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
    <form class="manage_form" name="forums" action="" method="post">
        <input type="hidden" name="id" value="{{ cat.id }}" />
        <input type="hidden" name="action" value="categories_alter" />
        <input type="hidden" name="auth" value="{{ auth }}" />
        <td>
            <input type="text" size="3" name="sort" value="{{ cat.sequence }}" />
        </td>
        <td>
            <input type="text" size="100" name="name" value="{{ cat.name }}" />
        </td>
        <td>
            {{ cat.total|number_format }}
        </td>
        <td>
            <input type="submit" name="submit" value="Edit" />
    {% if not cat.total %}
            {{- dom.click('#confirm-del', "return confirm('Are you sure you want to delete this category? This is an irreversible action!')") -}}
            <input id="confirm-del" type="submit" name="submit" value="Delete" />
    {% endif %}
        </td>
    </form>
    </tr>
{% endfor %}
    <tr class="colhead">
        <td colspan="8">Create Category</td>
    </tr>
    <tr class="rowa">
        <form class="create_form" name="forum" action="" method="post">
            <input type="hidden" name="action" value="categories_alter" />
            <input type="hidden" name="auth" value="{{ auth }}" />
            <td>
                <input type="text" size="3" name="sort" />
            </td>
            <td colspan="2">
                <input type="text" size="100" name="name" />
            </td>
            <td>
                <input type="submit" value="Create" />
            </td>
        </form>
    </tr>
</table>
{{ footer() }}
