{% from 'macro/form.twig' import selected %}
{% from 'macro/ipv4.twig' import asn, ip_search %}
{{ header('Bulk IP Search', {'js': 'resolve-ip'}) }}
<div class="thin">
<div class="header">
    <h2>Bulk IP Search</h2>
</div>

<div class="linkbox">
    <a href="tools.php?action=email_search" class="brackets">Bulk Email Search</a>
</div>

{% if found %}
<div class="box pad">
<ul class="nobullet">
    <li>IP addresses identified: {{ found|number_format }}</li>
    <li>Matched on site: {{ paginator.total|number_format }}</li>
</ul>

{{ paginator.linkbox|raw }}

<h3>Site history</h3>
{% for r in site %}
    {% if loop.first %}
<table>
<thead>
    <tr>
    <th>IPv4</th>
    <th>CC</th>
    <th>First seen</th>
    <th>Last seen</th>
    <th>ASN</th>
    <th>rDNS</th>
    <th>User</th>
    </tr>
</thead>
<tbody>
    {% endif %}
    <tr>
    <td{% if r.is_tor %} class="tor"{% endif %}>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.first_seen }}</td>
    <td>{{ r.last_seen }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td><span class="resolve-ipv4" data-ip="{{ r.ipv4 }}">Resolving...</span></td>
    <td>{% if r.user_id %}{{ r.user_id|user_url }}{% else %}User #{{ r.user_id }}{% endif %}</td>
    </tr>
    {% if loop.last %}
</tbody>
</table>
    {% endif %}
{% else %}
<div>no records</div>
{% endfor %}

<br />
<h3>Snatch history</h3>
{% for r in snatch %}
    {% if loop.first %}
<table>
<thead>
    <tr>
    <th>IPv4</th>
    <th>CC</th>
    <th>First seen</th>
    <th>Last seen</th>
    <th>ASN</th>
    <th>rDNS</th>
    <th>Total</th>
    <th>User</th>
    </tr>
</thead>
<tbody>
    {% endif %}
    <tr>
    <td{% if r.is_tor %} class="tor"{% endif %}>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.first_seen }}</td>
    <td>{{ r.last_seen }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td><span class="resolve-ipv4" data-ip="{{ r.ipv4 }}">Resolving...</span></td>
    <td><a href="torrents.php?type=snatched&userid={{ r.user_id }}">{{ r.total|number_format }}</a></td>
    <td>{% if r.user_id %}{{ r.user_id|user_url }}{% else %}User #{{ r.user_id }}{% endif %}</td>
    </tr>
    {% if loop.last %}
</tbody>
</table>
    {% endif %}
{% else %}
<div>no records</div>
{% endfor %}

<br />
<h3>Tracker history</h3>
{% for r in tracker %}
    {% if loop.first %}
<table>
<thead>
    <tr>
    <th>IPv4</th>
    <th>CC</th>
    <th>First seen</th>
    <th>Last seen</th>
    <th>ASN</th>
    <th>rDNS</th>
    <th>Total</th>
    <th>User</th>
    </tr>
</thead>
<tbody>
    {% endif %}
    <tr>
    <td{% if r.is_tor %} class="tor"{% endif %}>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.first_seen }}</td>
    <td>{{ r.last_seen }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td><span class="resolve-ipv4" data-ip="{{ r.ipv4 }}">Resolving...</span></td>
    <td><a href="torrents.php?type=snatched&userid={{ r.user_id }}">{{ r.total|number_format }}</a></td>
    <td>{% if r.user_id %}{{ r.user_id|user_url }}{% else %}User #{{ r.user_id }}{% endif %}</td>
    </tr>
    {% if loop.last %}
</tbody>
</table>
    {% endif %}
{% else %}
<div>no records</div>
{% endfor %}

</div>
{{ paginator.linkbox|raw }}
{% endif %}

<div class="box pad">
    <div class="thin">Paste a block of text here containing IP addresses (anything that look
    like a dotted quad address a.b.c.d). The code will take of sorting and
    deduplicating.</div>
    <br />
    <form action="tools.php?action=ip_search&amp;column={{ column }}&amp;direction={{ direction }}{% if ip_list %}&amp;iplist={{ ip_list }}{% endif %}" method="post">
    {{ text.preview|raw }}
    {{ text.field|raw }}
    <br /> Order by
    <select name="column">
        <option value="{{ constant('\\Gazelle\\Search\\IPv4::START') }}"{{ selected(column == constant('\\Gazelle\\Search\\IPv4::START')) }}>First seen</option>
        <option value="{{ constant('\\Gazelle\\Search\\IPv4::END') }}"{{ selected(column == constant('\\Gazelle\\Search\\IPv4::END')) }}>Last seen</option>
        <option value="{{ constant('\\Gazelle\\Search\\IPv4::IP') }}"{{ selected(column == constant('\\Gazelle\\Search\\IPv4::IP')) }}>IP address</option>
        <option value="{{ constant('\\Gazelle\\Search\\IPv4::TOTAL') }}"{{ selected(column == constant('\\Gazelle\\Search\\IPv4::TOTAL')) }}>Total</option>
    </select>
    <select name="direction">
        <option value="{{ constant('\\Gazelle\\Search\\IPv4::ASC') }}"{{ selected(direction == constant('\\Gazelle\\Search\\IPv4::ASC')) }}>Ascending</option>
        <option value="{{ constant('\\Gazelle\\Search\\IPv4::DESC') }}"{{ selected(direction == constant('\\Gazelle\\Search\\IPv4::DESC')) }}>Descending</option>
    </select>
    {{ text.button|raw }}
    <input type="submit" value="Search" />
    </form>
</div>
{{ footer() }}
