{% from 'macro/admin.twig' import news_pitch %}
{{ header('Manage news', {'js': 'admin,bbcode,news_ajax'}) }}
<div class="thin">
    <div class="header">
        <h2>{% if create %}Create a{% else %}edit{% endif %} news post</h2>
    </div>
    <form class="{% if create %}create_form{% else %}edit_form{% endif %}" name="news_post" action="tools.php" method="post">
        <div class="box pad">
            <input type="hidden" name="action" value="{% if create %}takenewnews{% else %}takeeditnews{% endif %}" />
            <input type="hidden" name="auth" value="{{ auth }}" />
{% if id %}
            <input type="hidden" name="id" value="{{ id }}" />
{% endif %}
            <h3>Title</h3>
            <input type="text" name="title" size="72" value="{{ title }}" />
            <br />
            <h3>Body</h3>
            {{ body.preview|raw }}
            {{ body.field|raw }}
            {{ body.button|raw }}
            {{ news_pitch() }}
            <br />
            <input type="submit" value="{% if create %}Create{% else %}Edit{% endif %} news post" />
        </div>
    </form>
{% if create %}
{%  for article in list %}
{%      if loop.first %}
    <h2>News archive</h2>
{%      endif %}
    <div class="box vertical_space news_post">
        <div class="head">
            <strong>{{ article.title }}</strong> - posted {{ article.created|time_diff }}
            - <a href="tools.php?action=editnews&amp;id={{ article.id }}" class="brackets">Edit</a>
            <a href="tools.php?action=deletenews&amp;id={{ article.id }}&amp;auth={{ auth }}" class="brackets">Delete</a>
        </div>
        <div class="pad">{{ article.body|bb_format }}</div>
    </div>
{%      if loop.last and loop.index > 0 %}
    <div id="more_news" class="box">
        <div class="head">
            {{- dom.click('#more-news-loader', "news_ajax(3, 1, authkey); return false;") -}}
            <em><span id="more-news-loader">Click to load more news.</span></em>
        </div>
    </div>
{%      endif %}
{%  endfor %}
{% endif %}
</div>
{{ footer() }}
