{% from 'macro/form.twig' import checked, selected %}
{{ header('Payment Dates') }}
<div class="header">
    <h2>Payment Dates</h2>
</div>
<table>
    <tr class="colhead">
        <td>Payment</td>
        <td>Expiry</td>
        <td>Annual Rent</td>
        <td>Currency Code</td>
        <td>Equivalent XBT</td>
        <td>Active</td>
{% if viewer.permitted('admin_manage_payments') %}
        <td>Submit</td>
{% endif %}
    </tr>
{% set total = 0.0 %}
{% for p in list %}
    {% if p.Active %}
        {% set total = total + p.btcRent %}
    {% endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
    {% if not viewer.permitted('admin_manage_payments') %}
            <td>{{ p.Text }}</td>
            <td>{{ p.Expiry }}</td>
            <td>{{ p.Rent }}</td>
            <td>{{ p.cc }}</td>
            <td title="Based on a rate of {{ p.fiatRate|number_format(4) }}">{{ p.btcRent }}</td>
            <td>{% if p.Active %}Active{% else %}Inactive{% endif %}</td>
    {% else %}
        <form class="manage_form" name="accounts" action="" method="post">
            <input type="hidden" name="action" value="payment_alter" />
            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
            <input type="hidden" name="id" value="{{ p.ID }}" />
            <td><input type="text" name="text" value="{{ p.Text }}" /></td>
            <td><input type="text" name="expiry" value="{{ p.Expiry }}" placeholder="YYYY-MM-DD" /></td>
            <td><input type="text" name="rent" value="{{ p.Rent }}" /></td>
            <td>
                <select name="cc">
                    <option value="XBT"{{ selected(p.cc == 'XBT') }}>XBT</option>
                    <option value="EUR"{{ selected(p.cc == 'EUR') }}>EUR</option>
                    <option value="USD"{{ selected(p.cc == 'USD') }}>USD</option>
                </select>
            </td>
            <td title="Based on a rate of {{ p.fiatRate|number_format(4) }}">{{ p.btcRent }}</td>
            <td>
                <input type="checkbox" name="active"{{ checked(p.Active) }} />
            </td>
            <td>
                <input type="submit" name="submit" value="Edit" />
                <input type="submit" name="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this payment? This is an irreversible action!')" />
            </td>
        </form>
    </tr>
    {% endif %}
{% endfor %}

{% if viewer.permitted('admin_manage_payments') %}
    <tr class="colhead">
        <td colspan="7">Create Payment</td>
    </tr>
    <tr class="rowa">
        <form class="manage_form" name="accounts" action="" method="post">
        <input type="hidden" name="action" value="payment_alter" />
        <input type="hidden" name="auth" value="{{ viewer.auth }}" />
        <td><input type="text" size="15" name="text" value="" /></td>
        <td><input type="text" size="10" name="expiry" value="" placeholder="YYYY-MM-DD" /></td>
        <td><input type="text" name="rent" value="0" /></td>
        <td>
            <select name="cc">
                <option value="EUR" selected="selected">EUR</option>
                <option value="USD">USD</option>
                <option value="XBT">XBT</option>
            </select>
        </td>
        <td>&nbsp;</td>
        <td>
            <input type="checkbox" name="active" checked="checked" />
        </td>
        <td>
            <input type="submit" name="submit" value="Create" />
        </td>
        </form>
    </tr>
{% endif %}
</table>

<div class="box pad">
<div class="header">
    <h2>Budget Forecast</h2>
</div>
    <table>
        <tr class="colhead">
            <td>&nbsp;</td>
            <td>Monthly</td>
            <td>Quarterly</td>
            <td>Annual</td>
        </tr>
        <tr>
            <td>Budget</td>
            <td>{{ (total / 12)|number_format(4) }}</td>
            <td>{{ (total /  4)|number_format(4) }}</td>
            <td>{{  total      |number_format(4) }}</td>
        </tr>
        <tr>
            <td>Actual</td>
            <td>{{ donorMan.totalMonth( 1)|number_format(4) }}</td>
            <td>{{ donorMan.totalMonth( 3)|number_format(4) }}</td>
            <td>{{ donorMan.totalMonth(12)|number_format(4) }}</td>
        </tr>
        <tr>
            <td>Target %</td>
            <td>{% if total > 0 %}{{ (donorMan.totalMonth( 1)/(total / 12) * 100)|number_format(1) }}{% else %}100.0%{% endif %}</td>
            <td>{% if total > 0 %}{{ (donorMan.totalMonth( 3)/(total /  4) * 100)|number_format(1) }}{% else %}100.0%{% endif %}</td>
            <td>{% if total > 0 %}{{ (donorMan.totalMonth(12)/(total     ) * 100)|number_format(1) }}{% else %}100.0%{% endif %}</td>
        </tr>
    </table>
</div>
{{ footer() }}
