{{ header('Privilege Matrix') }}
<div class="thin">
<div class="header">
    <div class="linkbox">
        <a href="tools.php?action=userclass" class="brackets">Userclass list</a>
        <a href="tools.php?action=staff_groups" class="brackets">Staff Groups</a>
        <br />
        <a href="tools.php?action=permissions&amp;id=new" class="brackets">Create a new userclass</a>
    </div>
</div>
<h2>Privilege Matrix</h2>
<table width="100%">
    <tr class="colhead">
        <td rowspan="2" style="vertical-align: bottom">Primary Class ★<br /><br />Privilege</td>
{% for c in class_list %}
        <td style="padding: 0;"><div class="rot90-container"><div class="rot90">
            <a href="tools.php?action=permissions&amp;id={{ c.ID }}">{{ c.Name }}</a>
        </div></div></td>
{% endfor %}
    </tr>
    <tr class="colhead">
{% for c in class_list %}
        <td style="padding: 0; text-align: center; font-weight: normal;">{% if c.Secondary == 0 %}★{% endif %}</td>
{% endfor %}
    </tr>
{% for p in privilege %}
    <tr>
        <td{{ p.orphan ? ' title="This is an orphaned privilege" style="color: orangered; font-weight: bold;"' : '' }} title="{{ p.description }}">{{ p.name }}</td>
{% for c in class_list %}
        <td style="text-align: center;" title="{{ c.Name }} {{ c.ID in p.can ? 'can' : 'cannot' }} {{ p.description }}">
            <a href="tools.php?action=permissions&amp;id={{ c.ID }}">{% if c.ID in p.can %}✅{% else %}·{% endif %}</a></td>
{% endfor %}
    </tr>
{% endfor %}
</table>
<br />

<div class="box pad">Any privileges marked <span style="color: orangered">in
red</span> are orphaned privileges that were found in the database
(in the <tt>permissions.Values</tt> column) but no longer connected to anything
in the code. They should be cleaned out by hand.</div>

</div>
{{ footer() }}
