{% from 'macro/form.twig' import checked, selected -%}
{{ header('Manage Permissions', {'js': 'validate'}) }}
{{ js|raw }}
<div class="header">
    <div class="linkbox">
        <a href="tools.php?action=permissions" class="brackets">Userclass List</a>
        <a href="tools.php?action=privilege_matrix" class="brackets">Privilege Matrix</a>
        <a href="tools.php?action=staff_groups" class="brackets">Staff Groups</a>
    </div>
</div>
<div class="pad">
{% if edited %}
    <div class="box thin"><div class="pad"><b>{{ edit_total }} user{{ edit_total|plural }} affected.</b></div></div>
{% endif %}
<form class="manage_form" name="permissions" id="permissionsform" method="post" action="" onsubmit="return formVal();">
    <input type="hidden" name="action" value="privilege-alter" />
    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
{% if privilege.id %}
    <input type="hidden" name="id" value="{{ privilege.id }}" />
{% endif %}
    <table class="permission_head layout">
        <tr>
            <td class="label">Userclass name</td>
            <td><input type="text" name="name" id="name" value="{{ privilege.name }}" /></td>
        </tr>
        <tr>
            <td class="label">Class level</td>
            <td><input type="text" name="level" id="level" value="{{ privilege.level }}" /></td>
        </tr>
        <tr>
            <td class="label">Secondary class</td>
            <td><input type="checkbox" name="secondary" value="1"{{ checked(privilege.isSecondary) }} /></td>
        </tr>
        <tr>
            <td class="label">Show on staff page</td>
            <td>
                <input type="checkbox" name="displaystaff" value="1"{{ checked(privilege.displayStaff) }} />
                in <select name="staffgroup" id="staffgroup">
{% for id, name in group_list %}
                    <option value="{{ id }}"{{ selected(id == privilege.staffGroupId) }}>{{ name }}</option>
{% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Additional forums</td>
            <td><input type="text" size="30" name="forums" value="{{ privilege.permittedForums|join(', ') }}" /></td>
        </tr>
{% if privilege.isSecondary %}
        <tr>
            <td class="label">Badge</td>
            <td><input type="text" size="30" name="badge" value="{{ privilege.badge }}" /></td>
        </tr>
{% endif %}
{% if privilege.id %}
        <tr>
            <td class="label">Total users in this class</td>
            <td>{{ privilege.userTotal|number_format }}&nbsp;<a href="/user.php?action=search&class[]={{ privilege.id }}" class="brackets">View</a></td>
        </tr>
{% endif %}
    </table>
{% include 'admin/privilege-list.twig' with {'default': null, 'user': privilege.values} only %}
</form>
</div>
{{ footer() }}
