{% for pm in list %}
    {% if loop.first %}
<div class="box" id="staffpms_box">
    <div class="head">
        Staff PMs <a href="#" onclick="$('#staffpms').gtoggle(); return false;" class="brackets">View</a>
    </div>
    <table width="100%" class="message_table hidden" id="staffpms">
        <tr class="colhead">
            <td>Subject</td>
            <td>Date</td>
            <td>Assigned to</td>
            <td>Replies</td>
            <td>Resolved by</td>
        </tr>
    {% endif %}
        <tr>
            <td><a href="staffpm.php?action=viewconv&amp;id={{ pm.pm_id }}">{{ pm.subject }}</a></td>
            <td>{{ pm.date|time_diff(2) }}</td>
            <td>{% if assigned_to_user %}{{ pm.user_id|user_url }}{% else %}{{ pm.reader }}{% endif %}</td>
            <td>{{ pm.replies }}</td>
            <td>{% if pm.resolver_id %}{{ pm.resolver_id|user_url }}{% else %}(unresolved){% endif %}</td>
        </tr>
    {% if loop.last %}
    </table>
</div>
    {% endif %}
{% endfor %}
