{{ header('Manage Stylesheets') }}
<div class="thin">
{% for s in list %}
    {% if loop.first %}
<table width="100%">
    <tr class="colhead">
        <td>{{ heading.emit('name')|raw }}</td>
        <td>Description</td>
        <td>Theme</td>
        <td>Default</td>
        <td>{{ heading.emit('enabled')|raw }}</td>
        <td>{{ heading.emit('total')|raw }}</td>
    </tr>
    {% endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td>{{ s.name }}</td>
        <td>{{ s.description }}</td>
        <td>{{ s.theme }}</td>
        <td>{% if s.initial %}Default{% endif %}</td>
        <td>{{ s.total_enabled|number_format }}</td>
        <td>{{ s.total|number_format }}</td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% else %}
<h2 align="center">There are no stylesheets.</h2>
{% endfor %}
</div>
{{ footer() }}
