{{ header('Tracker info') }}
<div class="thin">
    <div class="header">
        <h2>Tracker info</h2>
    </div>
    <div class="linkbox">
{% if (user_id and user_stats|length) or mem_stats %}
        <a href="?action={{ action }}" class="brackets" />Main stats</a>
{% endif %}
{% if not mem_stats %}
        <a href="?action=ocelot_info&status=memory" class="brackets" />Memory stats</a>
{% endif %}
    </div>
    <div class="sidebar">
        <div class="box box2">
            <div class="head">User status</div>
            <div class="pad">
                <form method="get" action="">
                    <input type="hidden" name="action" value="ocelot_info" />
                    <label>Report status of user (id or @username)<br />
                    <input type="text" name="userid" placeholder="User ID" value="{{ user_id }}" />
                    </label><br />
                    <input type="submit" value="Go" />
                </form>
            </div>
        </div>
        <div class="box box2">
            <div class="head">Torrent status</div>
            <div class="pad">
                <form method="get" action="">
                    <input type="hidden" name="action" value="ocelot_info" />
                    <label>Report status of torrent (id)<br />
                    <input type="text" name="torrentid" placeholder="Torrent ID" value="{{ torrent_stats.torrent.id }}" />
                    </label><br />
                    <input type="submit" value="Go" />
                </form>
            </div>
        </div>
        <div class="box box2">
            <div class="head">Reannounce torrents</div>
            <div class="pad">
                <form method="post" action="">
                    <input type="hidden" name="action" value="ocelot_info" />
                    <label>Enter a list of torrent ids or urls<br />
                    <textarea name="tlist" rows="4" cols="20"></textarea>
                    </label><br />
                    <input type="submit" value="Reannounce" />
                </form>
            </div>
        </div>
    </div>

    <div class="main_column">
{% if reannounce.active %}
        <div class="box box2">
            <div class="pad">
            {{ reannounce.success }} torrent{{ reannounce.success|plural }} of {{ reannounce.total }} reannounced.
            </div>
        </div>
{% endif %}
{% if not mem_stats and not user_stats and not torrent_stats %}
        <div class="box box2">
            <div class="pad">
            <div class="head">Tracker Delay</div>
            <table>
                <tr>
                    <th>Source</th>
                    <th>Torrent</th>
                    <th>Created</th>
                </tr>
    {% for source in delay %}
                <tr>
                    <td>{{ source.who }}</td>
                    <td><a href="{{ constant('SITE_URL') }}/torrents.php?torrentid={{ source.id }}">{{ source.id|default("None")  }}</a></td>
                    <td>{{ source.created|time_diff }}</td>
                </tr>
    {% endfor %}
            </table>
            </div>
        </div>
{% endif %}
        <div class="box box2">
            <div class="pad">
{% if user_id and user_stats %}
            <div class="head">User status</div>
            <table>
            <tr>
                <td class="label">User</td>
                <td>{{ user_stats.id|user_full }}
            </tr>
            <tr>
                <td class="label">Leeching</td>
                <td>{{ user_stats.leeching|number_format }}</td>
            </tr>
            <tr>
                <td class="label">Seeding</td>
                <td>{{ user_stats.seeding|number_format }}</td>
            </tr>
            <tr>
                <td class="label">Info</td>
                <td>
                    Allowed: {{ user_stats.can_leech }}<br />
                    Hidden: {{ user_stats.protected }}<br />
                    Deleted: {{ user_stats.deleted }}<br />
                    Traced: {{ user_stats.traced }}<br />
                </td>
            </tr>
            </table>
{% elseif user_id %}
                User id {{ user_id }} is not known to the tracker.
{% elseif torrent_stats%}
            <div class="head">Torrent status</div>
            <table>
    {% if torrent_stats.error %}
            <tr>
                <td>{{ torrent_stats.error }}</td>
    {% else %}
            <tr>
                <td class="label">Title</td>
                <td><a href="torrents.php?torrentid={{ torrent_stats.torrent.id }}">{{ torrent_stats.torrent.link|raw }}</a></td>
            </tr>
            <tr>
                <td class="label">Completed</td>
                <td>{{ torrent_stats.info.completed|number_format }}</td>
            </tr>
            <tr>
                <td class="label">Balance</td>
                <td>{{ torrent_stats.info.balance|number_format }}</td>
            </tr>
            <tr>
                <td class="label">Last flushed</td>
                <td>{{ torrent_stats.info.last_flushed|time_diff }}</td>
            </tr>
            <tr>
                <td class="label">Last selected seeder</td>
                <td>{{ torrent_stats.info.last_selected_seeder }}</td>
            </tr>
            <tr>
                <td class="label">Leecher list</td>
                <td>{% autoescape false %}{{ torrent_stats.info.leecher_list
                    | map(id => "<a href=\"user.php?id=#{id}\">#{id}</a>")
                    | default("none")
                    | join(' ')
                    }}{% endautoescape %}</td>
            </tr>
            <tr>
                <td class="label">Seeder list</td>
                <td>{% autoescape false %}{{ torrent_stats.info.seeder_list
                    | map(id => "<a href=\"user.php?id=#{id}\">#{id}</a>")
                    | default("none")
                    | join(' ')
                    }}{% endautoescape %}</td>
            </tr>
            <tr>
                <td class="label">FL token list</td>
                <td>{% autoescape false %}{{ torrent_stats.info.fltoken_list
                    | map(id => "<a href=\"user.php?id=#{id}\">#{id}</a>")
                    | default("none")
                    | join(' ')
                    }}{% endautoescape %}</td>
            </tr>
    {% endif %}
            </table>
{% elseif mem_stats%}
    <div class="head">Memory allocation (jemalloc) statistics</div>
    <pre>{{ mem_stats }}</pre>
{% elseif main_stats %}
    <div class="head">Numbers and such</div>
        <div class="pad box2">
    {% for name, item in main_stats %}
        {{ name }}
        {%- if item.type == 'number' %} {{ item.value|number_format }}
        {%- elseif item.type == 'byte' %} {{ item.value|octet_size }}
        {%- elseif item.type == 'elapsed' %} {{ item.value|time_compact }}
        {%- else %} {{ item.value }}{% endif %}
        <br />
    {% endfor %}
        </div>
    {% if viewer.permitted('admin_tracker') %}
        <div class="box box2">
            <div class="pad">
            <div>In this section you can control the frequency at which clients
            report back to the tracker. The announce interval is the amount
            of time that a client must wait before reporting. Jitter is used
            to smear the announce times, to avoid regular thundering herds when
            the tracker is paused for a long interval and then restarted.</div>
            <br />
            <div>It is expected that you understand the impact and know what
            you are doing. If you trash the values by accident, the standard
            settings are 30 minute (1800s) announce intervals and 3 minutes
            (180s) jitter.</div>
            <br />
            <div>Changes made to these values will not persist across a restart
            of the tracker.</div>
            <br />
            <form action="" method="post">
            <table>
            <tr>
                <td class="label">Announce interval</td>
                <td>
                    <input type="number" size="7" name="interval" value="{{ main_stats["announce interval"].value }}" />
                    {{ main_stats["announce interval"].value|time_compact }}
                </td>
            </tr>
            <tr>
                <td class="label">Announce jitter</td>
                <td>
                    <input type="number" size="7" name="jitter" value="{{ main_stats["announce jitter"].value }}" />
                    {{ main_stats["announce jitter"].value|time_compact }}
                </td>
            </tr>
            <tr>
                <td class="label">&nbsp;</td>
                <td>
                    <input type="hidden" name="action" value="ocelot_info" />
                    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                    <input type="submit" value="Modify" />
                </td>
            </tr>

            </table>
            </form>
            </div>
        </div>
    {% endif %}
{% else %}
    <div>Failed to retrieve tracker info</div>
{% endif %}
            </div>
        </div>
    </div>
</div>
{{ footer() }}
