{{ header('User Flow', {'js': 'highcharts,highcharts_custom'}) }}
<div class="thin">
{% if show_flow %}
    <div class="box pad center">
        <figure class="highcharts-figure"><div id="user-flow"></div></figure>
    </div>
{% endif %}
    {{ paginator.linkbox|raw }}
    <table width="100%">
        <tr class="colhead">
            <td>Date</td>
            <td>(+) Joined</td>
            <td>(-) Manual</td>
            <td>(-) Ratio</td>
            <td>(-) Inactivity</td>
            <td>(-) Total</td>
            <td>Net Growth</td>
        </tr>
{% for d in details %}
    {% set total_out = d.ratio + d.inactivity + d.manual %}
        <tr class="{{ cycle(['a', 'b'], loop.index0) }}">
            <td>{{ d.date }}</td>
            <td>{{ d.created|number_format }}</td>
            <td>{{ d.manual|number_format }}</td>
            <td>{{ d.ratio|number_format }}</td>
            <td>{{ d.inactivity|number_format }}</td>
            <td>{{ total_out|number_format }}</td>
            <td>{{ (d.created - total_out)|number_format }}</td>
        </tr>
{% endfor %}
    </table>
    {{ paginator.linkbox|raw }}
</div>

{% if show_flow %}
<script>
document.addEventListener('DOMContentLoaded', function() {
Highcharts.chart('user-flow', {
    chart: {
        type: 'column',
        plotBackgroundColor: '#051401',
        backgroundColor: '#000000',
    },
    title: {
        text: 'User Flow',
        style: { color: '#c0c0c0', },
    },
    credits: { enabled: false },
    xAxis: {
        categories: [{{ category|join(',')|raw }}],
    },
    yAxis: [
        { // Primary yAxis
            labels: { format: '{value}', style: { color: Highcharts.getOptions().colors[2] }},
            title: { text: 'Change', style: { color: Highcharts.getOptions().colors[2] }},
            opposite: true,
        }, { // Secondary yAxis
            title: { text: 'Net total', style: { color: Highcharts.getOptions().colors[0] }},
            labels: { format: '{value}', style: { color: Highcharts.getOptions().colors[0] }},
        }
    ],
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}'
    },
    plotOptions: {
        column: { stacking: 'normal' }
    },
    series: [
        { type: 'column', name: 'Enabled',  data: [{{ enabled|join(',') }}] },
        { type: 'column', name: 'Disabled', data: [{{ disabled|join(',') }}] },
        { type: 'spline', name: 'Net', yAxis: 1,
            marker: { lineWidth: 2, color: 'teal', fillColor: 'steelblue'},
            data: {{ net|json_encode|raw }},
        }
    ]
})});
</script>
{% endif %}

{{ footer() }}
