{% from 'macro/ipv4.twig' import asn, ip_search, rdns %}
<tr><th colspan="7"><br />{{ title }}</th></tr>
{% for r in info %}
    {% if loop.first %}
<tr>
    <th>IP</th>
    <th>CC</th>
    <th>First seen</th>
    <th>Last seen</th>
    <th>ASN</th>
    <th>rDNS</th>
    <th></th>
</tr>
    {% endif %}
<tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
    <td>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.first_seen }}</td>
    <td>{{ r.last_seen }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td>{{ rdns(r.ipv4) }}</td>
    <td></td>
</tr>
{% else %}
<tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
    <td colspan="7">no records</td>
</tr>
{% endfor %}
