{% from 'macro/form.twig' import selected -%}
{{ header(user.username ~ ' › Email and IP summary', {'js': 'resolve-ip'}) }}
<div class="box pad center">
<h2>{{ user.id|user_url }} &rsaquo; Email and IP summary</h2>

<table>
<tr><th>Now</th><td colspan="6">{{ now }}</td></tr>
<tr><th>Last seen</th><td colspan="6">{{ user.lastAccess|time_diff }}</td></tr>
<tr><th>Joined</th><td colspan="6">{{ user.created }}</td></tr>
<tr><th>URL</th><td colspan="6">{{ user.publicLocation }}</td></tr>
<tr><th>Invited by</th><td colspan="6">
{%- if not user.inviterId -%}
    Nobody
{%- else %}
{%  set current = user %}
{%  for parent in ancestry %}
{%      if not loop.first %}&nbsp;&nbsp;↳ {% endif %}
{{      parent.id|user_url }}
{%      if parent.isDisabled %}<span title="disabled"> ⛔️<span>{% endif %}
{%      if parent.disableInvites %}<span title="invites revoked"> 🚫</span>{% endif %}
&nbsp;{{ parent.publicLocation -}}
{%      set source = invite_source.findSourceNameByUser(current) %}
{%      if not source and (inviter.isInterviewer or inviter.isRecruiter) %} (unconfirmed){% endif %}
{%      if source %} from {{ source }}
    <tt> {{ user.externalProfile.profile }}</tt>
{%      endif %}
{%      set current = parent %}
    <br />
{%  endfor %}
{% endif %}
</td></tr>

{% include 'admin/user-info-email.twig' with {'info': hist.email(asn),       'title': 'Email History' } only %}
{% include 'admin/user-info-ipv4.twig'  with {'info': hist.siteIPv4(asn),    'title': 'Site IPv4 History' } only %}
{% include 'admin/user-info-ipv4.twig'  with {'info': hist.trackerIPv4(asn), 'title': 'Tracker IPv4 History' } only %}

</table>
</div>

<form method="get" action="">
    <input type="hidden" name="action" value="user_info" />
    <input type="hidden" name="userid" value="{{ user.id }}" />
Order by <select name="col">
    <option value="first"{{ selected(column == "first") }}>First seen</option>
    <option value="last"{{ selected(column == "last") }}>Last seen</option>
    <option value="ip"{{ selected(column == "ip") }}>IP address</option>
</select>
<select name="dir">
    <option value="up"{{ selected(direction == "up") }}>Ascending</option>
    <option value="down"{{ selected(direction == "down") }}>Descending</option>
</select>
<input type="submit" value="Sort" />
</form>

{{ footer() }}
