{% from 'macro/ipv4.twig' import asn, ip_search %}
<tr><th colspan="7"><br />{{ title }}</th></tr>
{% for r in info %}
    {% if loop.first %}
<tr>
    <th>IP</th>
    <th>CC</th>
    <th>Registered</th>
    <th>ASN</th>
    <th>rDNS</th>
    <th>Email address</th>
    <th>Useragent</th>
</tr>
    {% endif %}
<tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
    <td>{{ ip_search(r.ipv4) }}</td>
    <td>{{ r.cc }}</td>
    <td>{{ r.created }}</td>
    <td>{{ asn(r.name, r.n) }}</td>
    <td><span class="resolve-ipv4" data-ip="{{ r.ipv4 }}">Resolving...</span></td>
    <td>{{ r.email }}</td>
    <td>{{ r.useragent }}</td>
</tr>
{% else %}
<tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
    <td colspan="7">no records</td>
</tr>
{% endfor %}
