<tr><th colspan="3">{{ title }}</th></tr>
<tr>
    <th>{{ header.0 }}</th>
    <th>{{ header.1 }}</th>
    <th>{{ header.2 }}</th>
</tr>
{% for i in info %}
<tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
    <td>{{ i.2 }}</td>
</tr>
{% endfor %}
