{{ header("Comments for collage " ~ collage.name, {'js': 'comments,bbcode,subscriptions'}) }}
<div class="thin">
    <div class="header">
        <h2><a href="collages.php">Collages</a> &rsaquo; {{ collage.link|raw }}</h2>
        <div class="linkbox">
            <a href="#" id="subscribelink_collages{{ collage.id }}" class="brackets" onclick="SubscribeComments('collages', {{ collage.id }}); return false;">
            {%- if is_subscribed %}Unsubscribe{% else %}Subscribe{% endif -%}
            </a>
        </div>
    </div>

{%- include 'comment/thread.twig' with {
    'object':    collage,
    'comment':   comment,
    'paginator': paginator,
    'subbed':    is_subscribed,
    'textarea':  textarea,
    'url':       url,
    'url_stem':  'comments.php?page=collages',
    'userMan':   userMan,
    'viewer':    viewer,
} only %}
</div>
{{ footer() }}

