{% from 'macro/form.twig' import checked, selected %}
{{ header('Edit collage') }}

{% if error %}
<div class="save_message error">{{ error }}</div>
{% endif %}

<div class="thin">
    <div class="header">
        <h2>Edit collage {{ collage.link|raw }}</h2>
    </div>
    <form class="edit_form" name="collage" action="collages.php" method="post">
        <input type="hidden" name="action" value="edit_handle" />
        <input type="hidden" name="auth" value="{{ viewer.auth }}" />
        <input type="hidden" name="collageid" value="{{ collage.id }}" />
        <table id="edit_collage" class="layout">
{% if can_rename %}
            <tr>
                <td class="label">Name</td>
                <td><input type="text" name="name" size="60" value="{{ collage.name }}" /></td>
            </tr>
{% endif %}
{% if not collage.isPersonal or viewer.permitted('site_collages_delete') %}
            <tr>
                <td class="label"><strong>Category</strong></td>
                <td>
                    <select name="category">
    {% for id, name in constant('COLLAGE') %}
        {% if id > 0 or (id == 0 and viewer.permitted('site_collages_delete')) %}
        <option value="{{ id }}"{{ selected(id == collage.categoryId) }}>{{ name }}</option>
        {% endif %}
    {% endfor %}
                    </select>
                </td>
            </tr>
{% endif %}
            <tr>
                <td class="label">Description</td>
                <td>
                    {{ description.emit|raw }}
                </td>
            </tr>
            <tr>
                <td class="label">Tags</td>
                <td><input type="text" name="tags" size="60" value="{{ collage.tags|join(', ') }}" />
                <label class="tooltip" title="Regenerate the tag list based on the tags most frequently used by the current collage entries. If there are less than three candidate tags, the list will remain unchanged.">
                    <input type="checkbox" name="regen-tags" /> Regenerate?
                </label></td>
            </tr>
{% if collage.isPersonal %}
            <tr>
                <td class="label"><span class="tooltip" title="">Featured</span></td>
                <td>
                <label>
                    <input type="checkbox" name="featured"{{ checked(collage.isFeatured) }} />
                    A "featured" personal collage will be listed first on your profile, along with a preview of the included torrents.
                </label></td>
            </tr>
            <tr>
                <td class="label">Additions</td>
                <td><label>
                    <input type="checkbox" name="addition"{{ checked(collage.sortNewest) }} />
                    Append new entries to the end of the list (new entries in Personal collages are inserted at the top by default).
                </label></td>
            </tr>
{% else %}
            <tr>
                <td class="label">Additions</td>
                <td><label>
                    <input type="checkbox" name="addition"{{ checked(collage.sortNewest) }} />
                    Insert new entries at the top of the list (new entries in collages other than Personal are appended to the end by default).
                </label></td>
            </tr>
{% endif %}
{% if viewer.permitted('site_collages_delete') %}
            <tr>
                <td class="label">Locked</td>
                <td><input type="checkbox" name="locked"{{ checked(collage.isLocked) }} /> No new entries are permitted.</td>
            </tr>
            <tr>
                <td class="label">Max groups</td>
                <td><input type="text" name="maxgroups" size="2" value="{{ collage.maxGroups }}" /> (0 indicates unlimited)</td>
            </tr>
            <tr>
                <td class="label">Max groups per user</td>
                <td><input type="text" name="maxgroupsperuser" size="2" value="{{ collage.maxGroupsPerUser }}" /> (0 indicates unlimited)</td>
            </tr>
{% endif %}
{% if viewer.permitted('admin_freeleech') %}
    {% from 'macro/torrent.twig' import freeleech %}
            <tr>
                <td class="label">Leech status</td>
                <td>{{ freeleech(constant('NEUTRAL_LEECH_THRESHOLD'), constant('NEUTRAL_LEECH_UNIT'), leech_type, leech_reason) }}</td>
            </tr>
{% endif %}
            <tr>
                <td></td><td><input type="submit" value="Edit collage" /></td>
            </tr>
        </table>
    </form>
</div>
{{ footer() }}
