<div class="header">
    <h2>{{ name }}</h2>
    <div class="linkbox">
        <a href="collages.php" class="brackets">List of collages</a>
{% if can_create %}
        <a href="collages.php?action=new" class="brackets">New collage</a>
{% endif %}
        <br /><br />
{% if can_sub %}
        <a href="#" id="subscribelink{{ id }}" class="brackets" onclick="CollageSubscribe({{ id }}); return false;">{{ subbed ? 'Unsubscribe' : 'Subscribe' }}</a>
{% endif %}
{% if can_edit %}
        <a href="collages.php?action=edit&amp;collageid={{ id }}" class="brackets">Edit description</a>
{% else %}
        <span class="brackets">Locked</span>
{% endif %}
{% if bookmarked %}
        <a href="#" id="bookmarklink_collage_{{ id }}" class="brackets" onclick="Unbookmark('collage', {{ id }}, 'Bookmark'); return false;">Remove bookmark</a>
{% else %}
        <a href="#" id="bookmarklink_collage_{{ id }}" class="brackets" onclick="Bookmark('collage', {{ id }}, 'Remove bookmark'); return false;">Bookmark</a>
{% endif %}
{% if can_manage %}
        <a href="collages.php?action={{ object == 'torrent' ? 'manage' : 'manage_artists' }}&amp;collageid={{ id }}" class="brackets">Manage {{ object }}s</a>
{% endif %}
        <a href="reports.php?action=report&amp;type=collage&amp;id={{ id }}" class="brackets">Report collage</a>
{% if can_delete %}
        <a href="collages.php?action=delete&amp;collageid={{ id }}" class="brackets">Delete</a>
{% endif %}
    </div>
</div>
