{{ header(collage.name, {'js': 'browse,collage,bbcode,voting'}) }}
<div class="thin">
<div class="header">
    <h2>{{ collage.name }}</h2>
    <div class="linkbox">
        <a href="collages.php" class="brackets">List of collages</a>
{% if viewer.permitted('site_collages_create') %}
        <a href="collages.php?action=new" class="brackets">New collage</a>
{% endif %}
        <br /><br />
{% if viewer.permitted('site_collages_subscribe') %}
        {{- dom.click('#subscribelink' ~ collage.id, "CollageSubscribe(" ~ collage.id ~ "); return false;") -}}
        <a href="#" id="subscribelink{{ collage.id }}" class="brackets">
    {%- if collage.isSubscribed(viewer) %}Unsubscribe{% else %}Subscribe{% endif %}</a>
{% endif %}
{% if viewer.permitted('site_collages_delete') or (viewer.permitted('site_edit_wiki') and not collage.isLocked) %}
        <a href="collages.php?action=edit&amp;collageid={{ collage.id }}" class="brackets">Edit description</a>
{% endif %}
{% if bookmarked %}
        {{- dom.click('#bookmarklink_collage_' ~ collage.id, "Unbookmark('collage', " ~ collage.id ~ ", 'Bookmark'); return false;") -}}
        <a href="#" id="bookmarklink_collage_{{ collage.id }}" class="brackets">Remove bookmark</a>
{% else %}
        {{- dom.click('#bookmarklink_collage_' ~ collage.id, "Bookmark('collage', " ~ collage.id ~ ", 'Remove bookmark'); return false;") -}}
        <a href="#" id="bookmarklink_collage_{{ collage.id }}" class="brackets">Bookmark</a>
{% endif %}
{% if collage.userCanContribute(viewer) %}
        <a href="collages.php?action={{ object == 'torrent' ? 'manage' : 'manage_artists' }}&amp;collageid={{ collage.id }}" class="brackets">Manage entries</a>
{% endif %}
        <a href="reports.php?action=report&amp;type=collage&amp;id={{ collage.id }}" class="brackets">Report collage</a>
{% if viewer.permitted('site_collages_delete') or collage.isOwner(viewer) %}
        <a href="collages.php?action=delete&amp;collageid={{ collage.id }}" class="brackets">Delete</a>
{% endif %}
    </div>
</div>
