{{ header('Disabled') }}
{% include('logo.twig') %}
<script type="text/javascript">
function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display === 'block') {
        e.style.display = 'none';
    } else {
        e.style.display = 'block';
    }
}
</script>
{% if auto %}
<div style="width: 100%">
<div style="width: 60%; margin: 0 auto;">
{% if enabler %}
    {% if enabler.isPending %}
Your request to re-enable your account has been received. You can expect
a reply message in your email within 48 hours.<br />
If you do not receive an email after 48 hours have passed, please visit us
on IRC for assistance in {{ constant('BOT_DISABLED_CHAN') }}
on {{ constant('BOT_SERVER') }}
    {% elseif enabler.isRejected %}
Your request to re-enable your account has been rejected.<br />
This may be because a request is already pending for your username,
or because a recent request was denied.<br /><br />
You are encouraged to discuss this with staff by visiting {{ constant('BOT_DISABLED_CHAN') }}
on {{ constant('BOT_SERVER') }}
    {% endif %}
{% endif %}
<br /><br /><a href='/'>Back</a>
</div>
</div>
{% else %}
<p class="warning-login">
Your account has been disabled.<br />
This is either due to inactivity or rule violation(s).</p>

<div style="width: 100%">
<div style="width: 65%; margin: 0 auto;">

    {% if constant('FEATURE_EMAIL_REENABLE') %}
<p>If you believe your account was in good standing and was disabled
for inactivity, you may request it be re-enabled via email using
the form below.  Please note that you will need access to the email
account associated with your account at {{ constant('SITE_NAME') }} if you
cannot do so, please see below.</p>

<form action="" method="POST">
    <input type="email" class="inputtext" placeholder="Email Address" name="email" required />
    <input type="submit" value="Enable" />
    <input type="hidden" name="username" value="{{ username }}" />
</form>
<br />
    {% endif %}

<p>If you are unsure why your account is disabled, or you wish to
discuss this with staff, come to our IRC network at
<b>{{ constant('BOT_SERVER') }}</b> and join the
<b>{{ constant('BOT_DISABLED_CHAN') }}</b>&nbsp;channel. Use of Mibbit is
<i>not</i> recommended. If nobody is online when you join, after a
time your session will be disconnected and you will never receive
a reply and will have to connect again. It could be a while before
you manage to move forward.</p>

<p><strong>Be honest.</strong> At this point, lying will get you
nowhere.</p>

<strong>Before joining the disabled channel, please read our <span
style="color: gold;">Golden Rules</span> right
<a style="color: #1464F4;" href="#" onclick="toggle_visibility('golden_rules')">here</a>.</strong>

<br /><br />

<div id="golden_rules" class="rule_summary" style="width: 90%; display: none; text-align: left;">
{% include 'rules/golden.twig' %}
</div>

</div>
</div>
{% endif %}
{{ footer() }}
