{{ header('Recover Password') }}
{% include 'logo.twig' %}

<div id="main">
<div class="pwrecover">
    <span class="titletext">Reset your password - Step 1</span><br /><br />
{% if sent %}
    <p>If the email address you gave is in our records, a message will be sent to it, with information on how to reset your password.</p>
    <p>If you do not receive an email you will need to come to IRC and join {{ constant('IRC_CHAN_BLOCKED') }} on {{ constant('IRC_HOSTNAME') }}.</p>
{% elseif error %}
    <strong class="important_text">{{ error }}</strong><br /><br />
{% else %}
    <div class="email-reset-form">
        <form class="auth_form" name="recovery" id="recoverform" method="post" action="">
            <input type="email" name="email" id="email" class="inputtext" placeholder="email address" required />
            <button>Reset!</button>
        </form>
    </div>
{% endif %}
</div>
</div>
{{ footer(true) }}
