{{ header(user.username ~ ' › Bookmarked artists', {'js': 'browse'}) }}
<div class="thin">
    <div class="header">
        <h2>{{ user.username }} › Bookmarked artists</h2>
        <div class="linkbox">
            <a href="bookmarks.php?type=torrents" class="brackets">Torrents</a>
            <a href="bookmarks.php?type=artists" class="brackets">Artists</a>
            <a href="bookmarks.php?type=collages" class="brackets">Collages</a>
            <a href="bookmarks.php?type=requests" class="brackets">Requests</a>
        </div>
    </div>
    <div class="pad">
{% set own_profile = user.id == viewer.id %}
{% for id, name in list %}
    {% if loop.first %}
<table class="artist_table">
    <tr class="colhead">
        <td>Artist</td>
    </tr>
    {% endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }} bookmark_{{ id }}">
        <td>
            <a href="artist.php?id={{ id }}">{{ name }}</a>
            <span style="float: right;">
    {% if viewer.permitted('site_torrents_notify') %}
        {% if not viewer.hasArtistNotification(name) %}
                <a href="artist.php?action=notify&amp;artistid={{ id }}&amp;auth={{ viewer.auth }}" class="brackets">Notify of new uploads</a>
        {% else %}
                <a href="artist.php?action=notifyremove&amp;artistid={{ id }}&amp;auth={{ viewer.auth }}" class="brackets">Do not notify of new uploads</a>
        {% endif %}
    {% endif %}
    {% if own_profile %}
                <a href="#" id="bookmarklink_artist_{{ id }}" onclick="Unbookmark('artist', {{ id }}, 'Bookmark'); return false;" class="brackets">Remove bookmark</a>
    {% endif %}
            </span>
        </td>
    </tr>
    {% if loop.last %}
</table>
    {% endif %}
{% else %}
     <h2>No bookmarked artists</h2>
{% endfor %}
    </div>
</div>
{{ footer() }}
