{{ header(user.username ~ ' › Bookmarked artists', {'js': 'browse'}) }}
<div class="thin">
    <div class="header">
        <h2>{{ user.id|user_url }} › Bookmarked artists</h2>
        <div class="linkbox">
            <a href="bookmarks.php?type=torrents" class="brackets">Torrents</a>
            <a href="bookmarks.php?type=artists" class="brackets">Artists</a>
            <a href="bookmarks.php?type=collages" class="brackets">Collages</a>
            <a href="bookmarks.php?type=requests" class="brackets">Requests</a>
        </div>
    </div>
    <div class="pad">
{% set own_profile = user.id == viewer.id %}
{% for item in list %}
{%  if loop.first %}
<table class="artist_table">
    <tr class="colhead">
        <td>Artist</td>
        <td width="15%">Created</td>
        <td width="{{
            max(5,
                (viewer.permitted('site_torrents_notify') ? 15 : 0)
                + (own_profile ? 15 : 0)
            )
        }}%">Action</td>
    </tr>
{%  endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }} bookmark_{{ id }}">
        <td>
            <a href="artist.php?id={{ item.artist_id }}">{{ item.artist_name }}</a>

        </td>
        <td>{{ item.created|time_diff }}
        <td>
{%  if own_profile %}
                <a href="#" id="bookmarklink_artist_{{ item.artist_id }}" onclick="Unbookmark('artist', {{ item.artist_id }}, 'Bookmark'); return false;" class="brackets">Remove bookmark</a>
{%  endif %}
{%  if viewer.permitted('site_torrents_notify') %}
{%      if not viewer.hasArtistNotification(item.artist_name) %}
                <a href="artist.php?action=notify&amp;artistid={{ item.artist_id }}&amp;auth={{ viewer.auth }}" class="brackets">Notify of new uploads</a>
{%      else %}
                <a href="artist.php?action=notifyremove&amp;artistid={{ item.artist_id }}&amp;auth={{ viewer.auth }}" class="brackets">Do not notify of new uploads</a>
{%      endif %}
{%  endif %}
        </td>
    </tr>
{%  if loop.last %}
</table>
{%  endif %}
{% else %}
     <h2>No bookmarked artists</h2>
{% endfor %}
    </div>
</div>
{{ footer() }}
