{% from 'macro/form.twig' import selected %}
</div>
<table cellpadding="3" cellspacing="1" border="0" class="layout border slice" width="100%">
{% if not is_upload and user.permitted('torrents_freeleech') %}
    <tr id="freetorrent">
        <td class="label">Leech Type</td>
        <td>
            <select name="freeleechtype">
    {% for leech in ["Normal", "Free", "Neutral"] %}
                <option value="{{ loop.index0 }}"{{ selected(loop.index0 == info.FreeTorrent) }}>{{ leech }}</option>
    {% endfor %}
            </select>
            because
            <select name="freeleechreason">
    {% for reason in ["N/A", "Staff Pick", "Perma-FL", "Showcase"] %}
                <option value="{{ loop.index0 }}"{{ selected(loop.index0 == info.FreeLeechType) }}>{{ reason }}</option>
    {% endfor %}
            </select>
        </td>
    </tr>
{% endif %}
    <tr>
        <td colspan="2" style="text-align: center;">
            <p>Make sure that your torrent adheres to the <a href="rules.php?p=upload" target="_blank">rules</a>. Not doing so will result in a <strong class="important_text">warning</strong> or <strong class="important_text">worse</strong>.</p>
{% if is_upload %}
            <p>After uploading, you have a one hour grace period in which only you can fill requests with this torrent.<br />
            Make use of this time wisely, and <a href="requests.php" target="_blank">search the list of requests</a>.</p>
{% endif %}
            <div style="width: 60%; margin: 0 auto;">
            <ul id="check" class="nobullet" style="display: none; padding: 12px; text-align: left; border: 2px solid orangered;"></ul>
            </div>
        <input type="hidden" id="workaround_broken_html_entities" name="workaround_broken_html_entities" value="0" />
        <input id="post" type="submit" value="{% if is_upload %}Upload{% else %}Edit{% endif %} torrent" />
    </tr>
</table>
</form>
</div>
{% if show_footer %}
    {{- footer() }}
{% endif %}
