{% from 'macro/form.twig' import disabled, selected %}
<div class="thin">
{% if is_new %}
    <div style="text-align: center;">
        Your personal announce URL is:<br />
        <div style="margin: 0 auto;"><input type="text" value="{{ announce }}" size="71" onclick="this.select();" readonly="readonly" /></div>
    </div>
{% endif %}
{% if error %}
    <p style="color: red; text-align: center;">{{ error|raw }}</p>
{% endif %}
    <form class="create_form" name="torrent" action="" enctype="multipart/form-data" method="post" id="upload_table" onsubmit="$('#post').raw().disabled = 'disabled';">
        <div>
            <input type="hidden" id="torrent-new" name="torrent-new" value="{{ is_new }}" />
            <input type="hidden" name="submit" value="true" />
            <input type="hidden" name="auth" value="{{ auth }}" />
{% if not is_new %}
            <input type="hidden" name="action" value="takeedit" />
            <input type="hidden" name="torrentid" value="{{ info.ID }}" />
            <input type="hidden" name="type" id="edittype" value="{{ info.CategoryID }}" />
{% else %}
    {% if info.GroupID %}
            <input type="hidden" name="groupid" value="{{ info.GroupID }}" />
            <input type="hidden" name="type" value="{{ category_id }}" />
    {% endif %}
    {% if info.RequestID %}
            <input type="hidden" name="requestid" value="{{ info.RequestID }}" />
    {% endif %}
{% endif %}
        </div>
{% if is_new %}
        <table cellpadding="3" cellspacing="1" border="0" class="layout border" width="100%">
            <tr>
                <td class="label">Torrent file:</td>
                <td>
                    <input id="file" type="file" name="file_input" size="50" accept="application/x-bittorrent, .torrent" />
                </td>
            </tr>
            <tr>
                <td class="label">JSON file:</td>
                <td>
                    <input type="file" id="torrent-json-file" accept="application/json, .json" />
                    <br />(If you are not cross-seeding from another site, you can safely leave this field empty).
                </td>
            </tr>
            <tr>
                <td class="label">Type:</td>
                <td>
                    <select id="categories" name="type" onchange="Categories()"{{ disabled(is_disabled) }}>
    {%- for name in constant('CATEGORY') %}
                        <option value="{{ loop.index0 }}"{{ selected(name == info.CategoryName) }}>{{ name }}</option>
    {%- endfor %}
                    </select>
                </td>
            </tr>
        </table>
{% endif %}
        <div id="dynamic_form">
