{% from 'macro/form.twig' import disabled, selected %}
<div class="thin">
{% if is_upload %}
<h2>Upload</h2>
    <div style="text-align: center;">
        Your personal announce url is:<br />
        <div style="margin: 0 auto;">
            <input type="text" value="{{ user.announceUrl }}" size="71" onclick="this.select();" readonly="readonly" />
{%  if not user.option('HttpsTracker') %}
            <br />
            <strong style="font-size: 15pt" class="important_text">WARNING: your announce url uses the
            <a href="/user.php?action=edit&id=me#torrent">plaintext <code>http</code> protocol!</a>
            <br />This functionality will be retired on 2025-07-01 (in
            {{ '2025-07-01 00:00:00'|time_diff }}).</strong>
{%  endif %}
        </div>
    </div>
{% else %}
<h2>Edit <a href="torrents.php?id={{ info.GroupID }}&torrentid={{ info.ID }}#torrent{{ info.ID }}">{{ info.Title }}</a></h2>
{% endif %}
{% if error %}
    <p class="upload-error">{{ error|raw }}</p>
{% endif %}
    <form class="{% if is_upload %}create_form{% else %}edit_form{% endif %}" name="torrent" action="" enctype="multipart/form-data" method="post" id="upload_table">
        <input type="hidden" name="auth" value="{{ user.auth }}" />
{% if not is_upload %}
        <input type="hidden" name="action" value="takeedit" />
        <input type="hidden" name="torrentid" value="{{ info.ID }}" />
        <input type="hidden" name="type" id="edittype" value="{{ info.CategoryID }}" />
{% else %}
        <input type="hidden" id="torrent-new" name="torrent-new" value="{{ (info is not iterable)|number_format }}" />
    {%  if info.GroupID %}
        <input type="hidden" name="groupid" value="{{ info.GroupID }}" />
        <input type="hidden" name="type" value="{{ category_id - 1 }}" />
{%  endif %}
{%  if info.RequestID %}
        <input type="hidden" name="requestid" value="{{ info.RequestID }}" />
{%  endif %}
{% endif %}
{% if is_upload %}
        <table cellpadding="3" cellspacing="1" border="0" class="layout border" width="100%">
            <tr>
                <td class="label">Torrent file:</td>
                <td>
                    <input id="file" type="file" name="file_input" size="50" accept="application/x-bittorrent, .torrent" />
                </td>
            </tr>
            <tr>
                <td class="label">JSON file:</td>
                <td>
                    <input type="file" id="torrent-json-file" accept="application/json, .json" />
                    <br />(If you are not cross-seeding from another site, you can safely leave this field empty).
                </td>
            </tr>
            <tr>
                <td class="label">Type:</td>
                <td>
                    <select id="categories" name="type" onchange="Categories()"{{ disabled(is_uploaded) }}>
{%  for name in constant('CATEGORY') %}
                        <option value="{{ loop.index0 }}"{{ selected(name == info.CategoryName) }}>{{ name }}</option>
{%  endfor %}
                    </select>
                </td>
            </tr>
        </table>
{% endif %}
        <div id="dynamic_form">
