{% from 'macro/form.twig' import autocomplete, checked, class_hidden, disabled, selected %}
<div id="musicbrainz_popup" style="display: none;">
    <a href="#null" id="popup_close">x</a>
    <h1 id="popup_title"></h1>
    <h2 id="popup_back"></h2>
    <div id="results1"></div>
    <div id="results2"></div>
</div>
<div id="popup_background"></div>
<table id="form-music-upload" cellpadding="3" cellspacing="1" border="0" class="layout border{% if not torrent %} slice{% endif %}" width="100%">
{% if tgroup and not add_format %}
    <tr><td colspan="2"><h3>Edit {{ tgroup.link|raw }}</h3></td></tr>
{% else %}
    <tr id="releasetype_tr">
        <td class="label">
            <span id="releasetype_label">Release type:</span>
        </td>
        <td>
            <select id="releasetype" name="releasetype"{{ disabled(is_uploaded) }}>
                <option>---</option>
{%  for key, name in release_type %}
                <option value="{{ key }}"{{ selected(key == torrent.ReleaseType) }}>{{ name }}</option>
{%  endfor %}
            </select>
            <br />Please take the time to fill this out correctly (especially when adding Compilations and Anthologies). Need help? Try reading <a href="wiki.php?action=article&amp;id=58" target="_blank">this wiki article</a> or searching <a href="https://musicbrainz.org/search" target="_blank">MusicBrainz</a>.
        </td>
    </tr>
{%  include 'upload/cover.twig' with {'is_uploaded': is_uploaded} only %}
    <tr id="artist_tr">
    <td class="label">Artist(s):</td>
    <td id="artistfields">
        <p id="vawarning" class="hidden"><strong class="important_text">Please use the multiple artists feature rather than adding "Various Artists" as an artist; read <a href="wiki.php?action=article&amp;id=64" target="_blank">this</a> for more information.</strong></p>
{%  if torrent.Artists %}
{%      for role, artist_list in torrent.Artists %}
{%          for artist in artist_list %}
            <input type="text" id="artist_{{ loop.index0 }}" name="artists[]" size="45" value="{{ artist.name }}"{{ autocomplete(user, 'other') }}{{ disabled(is_uploaded) }} onblur="CheckVA();" />
            <select id="importance" name="importance[]"{{ disabled(is_uploaded) }}>
                <option value="{{ constant('ARTIST_MAIN') }}"{{ selected(role == constant('ARTIST_MAIN')) }}>Main</option>
                <option value="{{ constant('ARTIST_GUEST') }}"{{ selected(role == constant('ARTIST_GUEST')) }}>Guest</option>
                <option value="{{ constant('ARTIST_COMPOSER') }}"{{ selected(role == constant('ARTIST_COMPOSER')) }}>Composer</option>
                <option value="{{ constant('ARTIST_CONDUCTOR') }}"{{ selected(role == constant('ARTIST_CONDUCTOR')) }}>Conductor</option>
                <option value="{{ constant('ARTIST_DJ') }}"{{ selected(role == constant('ARTIST_DJ')) }}>DJ / Compiler</option>
                <option value="{{ constant('ARTIST_REMIXER') }}"{{ selected(role == constant('ARTIST_REMIXER')) }}>Remixer</option>
                <option value="{{ constant('ARTIST_PRODUCER') }}"{{ selected(role == constant('ARTIST_PRODUCER')) }}>Producer</option>
                <option value="{{ constant('ARTIST_ARRANGER') }}"{{ selected(role == constant('ARTIST_ARRANGER')) }}>Arranger</option>
            </select>
{%              if loop.parent.loop.first and loop.first and not is_uploaded %}
            <a href="javascript:AddArtistField()" class="brackets">+</a> <a href="javascript:RemoveArtistField()" class="brackets">&minus;</a>
{%              endif %}
            <br />
{%          endfor %}
{%      endfor %}
{%  else %}
            <input type="text" id="artist_0" name="artists[]" size="45" value="{{ artist.name }}"{{ autocomplete(user, 'other') }}{{ disabled(is_uploaded) }} onblur="CheckVA();" />
            <select id="importance_0" name="importance[]"{{ disabled(is_uploaded) }}>
                <option value="{{ constant('ARTIST_MAIN') }}">Main</option>
                <option value="{{ constant('ARTIST_GUEST') }}">Guest</option>
                <option value="{{ constant('ARTIST_COMPOSER') }}">Composer</option>
                <option value="{{ constant('ARTIST_CONDUCTOR') }}">Conductor</option>
                <option value="{{ constant('ARTIST_DJ') }}">DJ / Compiler</option>
                <option value="{{ constant('ARTIST_REMIXER') }}">Remixer</option>
                <option value="{{ constant('ARTIST_PRODUCER') }}">Producer</option>
                <option value="{{ constant('ARTIST_ARRANGER') }}">Arranger</option>
            </select>
            <a href="#" onclick="AddArtistField(); return false;" class="brackets">+</a> <a href="#" onclick="RemoveArtistField(); return false;" class="brackets">&minus;</a>
{%  endif %}
        </td>
    </tr>

    <tr id="title_tr">
        <td class="label">Album title:</td>
        <td>
            <input type="text" id="title" name="title" size="60" value="{{ torrent.Title }}"{{ disabled(is_uploaded) }} />
            <p class="min_padding">Do not include the words remaster, re-issue, MFSL Gold, limited edition, bonus tracks, bonus disc or country-specific information in this field. That belongs in the edition information fields below; see <a href="wiki.php?action=article&amp;id=18" target="_blank">this</a> for further information. Also remember to use the correct capitalization for your upload. See the <a href="wiki.php?action=article&id=42" target="_blank">Capitalization Guidelines</a> for more information.</p>
        </td>
    </tr>
    <tr id="musicbrainz_tr">
        <td class="label tooltip" title="Click the &quot;Find Info&quot; button to automatically fill out parts of the upload form by selecting an entry in MusicBrainz">MusicBrainz:</td>
        <td><input type="button" value="Find Info" id="musicbrainz_button" /></td>
    </tr>
    <tr id="year_tr">
        <td class="label">
            <span id="year_label_not_remaster"{{ class_hidden(torrent.Remastered) }}>Year:</span>
            <span id="year_label_remaster"{{ class_hidden(not torrent.Remastered) }}>Year of first release:</span>
        </td>
        <td>
            <p id="yearwarning" class="hidden">You have entered a year for a release which predates the medium's availability. You will need to change the year and enter additional edition information. If this information cannot be provided, check the &quot;Unknown Release&quot; check box below.</p>
            <input type="text" id="year" name="year" size="5" value="{{ torrent.Year }}"{{ disabled(is_uploaded) }} onblur="CheckYear();" />
            <br />This is the year of the original release. You may be uploading a remaster or re-edition that was published more recently.
            <br />If so, there is a place to add that date below (check Edition information).
        </td>
    </tr>
    <tr id="label_tr">
        <td class="label">Record label (optional):</td>
        <td><input type="text" id="record_label" name="record_label" size="40" value="{{ torrent.RecordLabel }}"{{ disabled(is_uploaded) }} /></td>
    </tr>
    <tr id="catalogue_tr">
        <td class="label">Catalogue number (optional):</td>
        <td>
            <input type="text" id="catalogue_number" name="catalogue_number" size="40" value="{{ torrent.CatalogueNumber }}"{{ disabled(is_uploaded) }} />
            <br />
            Please double-check the record label and catalogue number when using MusicBrainz. See <a href="wiki.php?action=article&amp;id=18" target="_blank">this guide</a> for more details.
        </td>
    </tr>
{% endif %}{# new upload #}

    <tr>
        <td class="label">Edition information:</td>
        <td>
            <input type="checkbox" id="remaster" name="remaster"{{ checked(torrent.Remastered) }} onclick="Remaster();{% if not torrent %}CheckYear();{% endif %}" />
            <label for="remaster">Check this if this torrent is a different edition to the original, for example a remaster, country specific edition, or a release that includes additional bonus tracks or bonus discs.</label>
            <div id="remaster_true"{{ class_hidden(not (torrent.Remastered)) }}>
{% set unknown_release = torrent.Remastered and not torrent.RemasterYear %}
{% if user.permitted('edit_unknowns') or torrent.UserID == user.id %}
                <br />
                <label><input type="checkbox" id="unknown" name="unknown"{{ checked(unknown_release) }} onclick="{% if not torrent %}>CheckYear();{% endif %}ToggleUnknown();" />
                Unknown Release</label>
{% endif %}
                <br /><br />
{% for index, remaster in tgroup.remasterList %}
{%  if loop.first %}
                <input type="hidden" id="json_remasters" value="{{ tgroup.remasterList|json_encode }}" />
                <select id="groupremasters" name="groupremasters" onchange="GroupRemaster()"{{ disabled(unknown_release) }}>
                    <option value="">-------</option>
{%      set prev = '' %}
{%  endif %}
{%  set line = [remaster.year, remaster.title, remaster.record_label, remaster.catalogue_number]|join(' / ') %}
{%  if prev != line %}
{%      set prev = line %}
                    <option value="{{ index }}"{{ selected(torrent.ID in remaster.id_list) }}>{{ line }}</option>
{%  endif %}
{%  if loop.last %}
                </select>
                <br />
{%  endif %}
{% endfor %}
                <table id="edition_information" class="layout border" border="0" width="100%">
                    <tbody>
                        <tr id="edition_year">
                            <td class="label">Year (required):</td>
                            <td>
                                <input type="text" id="remaster_year" name="remaster_year" size="5" value="{{ torrent.RemasterYear }}"{{ disabled(unknown_release) }} />
                            </td>
                        </tr>
                        <tr id="edition_title">
                            <td class="label">Title:</td>
                            <td>
                                <input type="text" id="remaster_title" name="remaster_title" size="50" value="{{ torrent.RemasterTitle }}"{{ disabled(unknown_release) }} />
                                <p class="min_padding">Title of the edition (e.g. <span style="font-style: italic;">"Deluxe Edition" or "Remastered"</span>).</p>
                            </td>
                        </tr>
                        <tr id="edition_record_label">
                            <td class="label">Record label:</td>
                            <td>
                                <input type="text" id="remaster_record_label" name="remaster_record_label" size="50" value="{{ torrent.RemasterRecordLabel }}"{{ disabled(unknown_release) }} />
                                <p class="min_padding">This is for the record label of the <strong>edition</strong>. It may differ from the original.</p>
                            </td>
                        </tr>
                        <tr id="edition_catalogue_number">
                            <td class="label">Catalogue number:</td>
                            <td>
                                <input type="text" id="remaster_catalogue_number" name="remaster_catalogue_number" size="50" value="{{ torrent.RemasterCatalogueNumber }}"{{ disabled(unknown_release) }} />
                                <p class="min_padding">This is for the catalogue number of the <strong>edition</strong>.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td class="label">Scene:</td>
        <td>
            <label><input type="checkbox" id="scene" name="scene"{{ checked(torrent.Scene) }} />
            Select this only if this is a "scene release".<br />
            If you ripped it yourself, it is <strong>not</strong> a scene release. If you are not sure, <strong class="important_text">do not</strong> select it; you will be penalized. For information on the scene, visit <a href="https://en.wikipedia.org/wiki/Warez_scene" target="_blank">Wikipedia</a>.</label>
        </td>
    </tr>
{% if not user.permitted('torrents_edit_vanityhouse') %}
    <tr>
        <td class="label">Showcase:</td>
        <td>
            <label><input type="checkbox" id="vanity_house" name="vanity_house"{{ checked(torrent.VanityHouse) }} />
            Check this only if you are submitting your own work or submitting on behalf of the artist, and this is intended to be a Showcase release.</label>
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label">Media:</td>
        <td>
            <select name="media" id="media">
                <option>---</option>
{% for m in constant('MEDIA') %}
                <option value="{{ m }}"{{ selected(m == torrent.Media) }}>{{ m }}</option>
{% endfor %}
            </select>
        </td>
    </tr>
{% include 'upload/format.twig' with {'format': torrent.Format} %}
{% include 'upload/bitrate.twig' with {'bitrate': torrent.Bitrate} %}
    <tr id="upload_logs"{{ class_hidden(not torrent or torrent.Media != 'CD') }}>
        <td class="label">
            Log files:<br /><a href="javascript:;" onclick="AddLogField('{{ logchecker_accept }}');" class="brackets">+</a> <a href="javascript:;" onclick="RemoveLogField();" class="brackets">&minus;</a>
        </td>
        <td id="logfields">
            <a class="brackets" href="logchecker.php" target="_blank">Logchecker</a>
            You may analyze your log files prior uploading to verify that they are perfect.<br />For multi-disc releases, click the "<span class="brackets">+</span>" button to add multiple log files.<br />
            <input id="logfile_1" type="file" accept="{{ logchecker_accept }}" multiple name="logfiles[]" size="50" />
        </td>
    </tr>
{% if not torrent or add_format %}
    <tr>
        <td class="label">Multi-format uploader:</td>
        <td><input type="button" value="+" id="add_format" />&nbsp;<input type="button" style="display: none;" value="-" id="remove_format" /></td>
    </tr>
    <tr id="placeholder_row_top"></tr>
    <tr id="extra_format_placeholder"></tr>
{% else %}
{%  if user.permitted('users_mod') %}
    <tr>
        <td class="label">Log/cue:</td>
        <td>
            <label><input type="checkbox" id="flac_log" name="flac_log"{{ checked(torrent.HasLog) }} />
            Check this box if the torrent has, or should have, a log file.</label><br />
            <label><input type="checkbox" id="flac_cue" name="flac_cue"{{ checked(torrent.HasCue) }} />
            Check this box if the torrent has, or should have, a cue file.</label><br />
        </td>
    </tr>
{%  endif %}
{%  for flag in torrent_flags %}
{%      if (not flag.permission or user.permitted(flag.permission)) and not add_format %}
    <tr>
        <td class="label">{{ flag.label }}:</td>
        <td>
            <label><input type="checkbox" id="{{ flag.value }}" name="{{ flag.value }}"{{ checked(torrent[flag.value]) }} />
            {{ flag.description }}</label>
        </td>
    </tr>
{%      endif %}
{%  endfor %}
{% endif %}
{% if not torrent %}
{%  include 'upload/tag.twig' with {'is_uploaded': is_uploaded, 'tag_list': tag_list, 'user': user} %}
    <tr>
        <td class="label">Album description:</td>
        <td>
            {{ description_album.emit|raw }}
            <p class="min_padding">Contains background information such as album history and maybe a review.</p>
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label">Release description (optional):</td>
        <td>
            {{ description_release.emit|raw }}
            <p class="min_padding">Contains information like encoder settings or details of the ripping process. <strong class="important_text">Do not paste the ripping log here.</strong></p>
        </td>
    </tr>
</table>
