{{ header('Bonus Points - Title', {'js': 'bonus'}) }}
<div class="thin">
    <table>
        <thead>
        <tr>
            <td>Custom Title, {% if not bbcode %}no {% endif %} allowed - {{ price|number_format }} Points</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form action="bonus.php?action=purchase&label={{ label }}" method="post">
                    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                    <input type="hidden" name="confirm" value="true" />
                    <input type="text" style="width: 98%" id="title" name="title" placeholder="Custom Title"/> <br />
                    <input type="submit" onclick="ConfirmPurchase(event, '{{ title }}')" value="Submit" />&nbsp;<input type="button" onclick="PreviewTitle({{ bbcode }});" value="Preview" /><br /><br />
                    <div id="preview"></div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{{ footer() }}
