{% from 'macro/form.twig' import checked, disabled, selected %}
{{ header('Edit artist ' ~ artist.name, {'js': 'artist_edit'}) }}
<div class="thin">

<div class="header">
    <h2>Edit <a href="artist.php?id={{ artist.id }}">{{ artist.name }}</a></h2>
</div>

{% if artist.isLocked %}
<div class="box pad">
<h4>This artist is artist.isLocked</h4>
<p>Some editing functions are unavailable. If you see an error that you cannot change,
please send a Staff PM to ask a moderator to unlock the artist.</p>
</div>
{% endif %}

<form class="edit_form" name="artist" action="artist.php" method="post">
<input type="hidden" name="action" value="edit" />
<input type="hidden" name="auth" value="{{ viewer.auth }}" />
<input type="hidden" name="artistid" value="{{ artist.id }}" />
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_basic">
    <tr class="colhead_dark">
        <td colspan="2"><strong>Basic Information</strong></td>
    </tr>
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Image</td>
        <td>
        <input type="text" name="image" size="92" value="{{ artist.image }}" /><br />
{% if constant('IMAGE_HOST_BANNED') %}
        <b>Images hosted on <strong class="important_text">{{ constant('IMAGE_HOST_BANNED')|join(', ')
            }} are not allowed</strong>, please rehost first on one of {{ constant('IMAGE_HOST_RECOMMENDED')|join(', ') }}.</b><br />
{% endif %}
        </td>
    </tr>
    <tr>
        <td class="label" style="vertical-align: top;">Discogs ID</td>
        <td>
        <div class="pad">E.g. for Suzanne Vega, the Discogs artist page is https://www.discogs.com/artist/41182-Suzanne-Vega
        <br />Hence her Discogs ID is <b>41182</b>.
        </div>
        <input type="text" name="discogs-id" size="9" value="{{ artist.discogs.id }}" /><br /><br />
        </td>
    </tr>
{% if not artist.isLocked %}
    <tr>
        <td class="label" style="vertical-align: top;">Lock this artist
        </td>
        <td>
        <input type="checkbox" id="locked" name="locked" value="1"{{ checked(artist.isLocked) }} /> Prevent renaming or further redirects on this artist<br />
        <br />This is for special artists only! <b>Leave artists unlocked unless you know what you are doing.</b>
        </td>
    </tr>
{% elseif artist.isLocked and viewer.permitted('users_mod') %}
    <tr>
        <td class="label" style="vertical-align: top;">Unlock this artist</td>
        <td>
        <input type="checkbox" id="unlocked" name="unlocked" value="1" /> Enable renaming or further redirects on this artist<br /><br />
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label" style="vertical-align: top;">Artist information</td>
        <td>{{ body.emit|raw }}<br /><br /></td>
    </tr>
    <tr>
        <td class="label" style="vertical-align: top;"><label for="showcase">Showcase a.k.a Vanity House</label></td>
        <td>
            <input type="checkbox" id="showcase" name="showcase" value="1"{{ disabled(not viewer.permitted('artist_edit_vanityhouse')) }}{{ checked(artist.isShowcase) }} /><br /><br />
        </td>
    </tr>
    <tr>
        <td class="label" style="vertical-align: top;">Edit summary</td>
        <td>
        <input type="text" name="summary" size="92" /><br /><br />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Edit Artist" /></td>
    </tr>
</table>
</form>

{% if viewer.permitted('torrents_edit') %}

<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_aliases">
    <tr class="colhead_dark">
        <td colspan="2"><strong>Alias Management</strong></td>
    </tr>
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Existing aliases</td>
        <td>
        <div style="float: right">
            ★ primary artist name<br />
            ■ non-redirecting alias (NRA)<br />
            □ alias of artist or previous NRA<br />
        </div>
        <ul class="nobullet alias-last">
    {% for alias_id, info in artist.aliasInfo %}
            <li>
                <span title="Non-redirecting alias {{ info.alias_id }}" class="nra-group">
                    {% if info.alias_id == artist.primaryAliasId %}★{% else %}■{% endif %}
                    <span id="nra-name-{{ info.alias_id }}" class="nra-name" data-nra-id="{{ info.alias_id }}">{{ info.name }}</span>
                    <span class="nra-rename-form hidden">
                        <form class="add_form" name="rename" action="artist.php" method="post" autocomplete="off">
                            <input type="hidden" name="action" value="rename" />
                            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                            <input type="hidden" name="artistid" value="{{ artist.id }}" />
                            <input type="hidden" name="aliasid" value="{{ info.alias_id }}" />
                            <input type="text" name="name" value="{{ info.name }}" />
                            <input type="submit" value="save" />
                        </form>
                    </span>
                    <span style="font-size: smaller">({{ info.alias_id }})</span>
                    {%- if info.user %} by {{ info.user.id|user_url }}{% endif -%}
                    &nbsp;
            {% if not artist.isLocked %}
                {% if not info.alias and info.alias_id != artist.primaryAliasId %}
                    <a href="artist.php?action=delete_alias&amp;aliasid={{ info.alias_id }}&amp;auth={{ viewer.auth }}"
                         title="Delete this non-redirecting alias" class="brackets tooltip artist-alias-remove">X</a>
                    &nbsp;
                {% endif %}
                    <a class="nra-link" href="#">[rename]</a>
            {% endif %}
                </span>
            {% if info.alias %}
                <ul class="nobullet alias-ra">
                    {% for alias in info.alias %}
                    <li><span title="alias {{ alias.alias_id }} of {{ info.name }}">□</span> {{ alias.name }} <span style="font-size: smaller">({{ alias.alias_id }})</span>
                        {%- if alias.user %} by {{ alias.user.id|user_url }}{% endif -%}
                        {% if not artist.isLocked -%}
                            &nbsp;<a href="artist.php?action=delete_alias&amp;aliasid={{ alias.alias_id }}&amp;auth={{ viewer.auth }}" title="Delete this alias" class="brackets tooltip artist-alias-remove">X</a>
                        {%- endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
    {% endfor %}
        </ul>
        </td>
    </tr>
</table>

<form class="add_form" name="aliases" action="artist.php" method="post">
<input type="hidden" name="action" value="add_alias" />
<input type="hidden" name="auth" value="{{ viewer.auth }}" />
<input type="hidden" name="artistid" value="{{ artist.id }}" />
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_alias">
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Add new alias</td>
        <td>
        <div class="pad">
        <p>This autocorrects artist names as they are written (e.g. when new torrents are uploaded or artists added). All uses of this new alias will be recorded as the alias ID you enter here. Use for common misspellings, inclusion of diacritical marks, etc.</p>
            <div class="field_div">
                <span class="label"><strong>Name:</strong></span>
                <br />
                <input type="text" name="name" size="40" value="{{ artist.name }}" />
            </div>
            <div class="field_div">
                <span class="label"><strong>Usage replaced with:</strong></span>
                <select name="redirect">
    {% for alias_id, info in artist.aliasInfo %}
                    <option value="{{ alias_id }}"{{ selected(info.name == artist.name) }}>{{ info.name }}</option>
    {% endfor %}
                    <option value="0">Non-redirecting alias</option>
                </select><br />
            </div>
        </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Add alias" /></td>
    </tr>
</table>
</form>

<form class="merge_form" name="artist" action="artist.php" method="post">
<input type="hidden" name="action" value="change_artistid" />
<input type="hidden" name="auth" value="{{ viewer.auth }}" />
<input type="hidden" name="artistid" value="{{ artist.id }}" />
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_redirect">
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Merge Artists</td>
        <td>
    {% if artist.isLocked %}
            <p>This artist is locked. Modifications are  not possible.</p>
    {% else %}
            <p>Merges this artist ("{{ artist.name }}") into the artist specified below,
            so that ("{{ artist.name }}") and its aliases will appear as a (non-)redirecting alias of the artist entered in the text box below.</p>
            <p>A non-redirecting alias is used so a release is shown with the correct artist (e.g.
            <i>Sun Ra All Stars</i> or <i>Sun Ra and His Astro-Solar-Infinity Arkestra</i>) and all
            releases are shown on the artist page <i>Sun Ra</i>.</p>
            <br />
            <div style="text-align: center;">
                <label for="newartistid">Artist ID:</label>&nbsp;<input type="text" id="newartistid" name="newartistid" size="40" value="" /><br />
                <strong>OR</strong><br />
                <label for="newartistid">Artist name:</label>&nbsp;<input type="text" id="newartistname" name="newartistname" size="40" value="" />
            </div><br /><br />
            <fieldset>
                <legend>Redirection Option</legend>
                <div>
                    <input type="radio" id="artist_no_redirect" name="redirect" value="0" checked />
                    <label for="artist_no_redirect">Non-redirecting alias</label>
                </div>
                <div>
                    <input type="radio" id="artist_redirect" name="redirect" value="1" />
                    <label for="artist_redirect">Redirecting alias</label>
                </div>
            </fieldset>
    {% endif %}
        </td>
    </tr>
    {% if not artist.isLocked %}
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Merge Artists" /></td>
    </tr>
    {% endif %}
</table>
</form>
{% endif %}
<br />
</div>
{{ footer() }}
