{% from 'macro/form.twig' import checked, disabled, selected %}
{{ header('Edit artist ' ~ name) }}
<div class="thin">

<div class="header">
    <h2>Edit <a href="artist.php?id={{ id }}">{{ name }}</a></h2>
</div>

{% if locked %}
<div class="box pad">
<h4>This artist is locked</h4>
<p>Some editing functions are unavailable. If you see an error that you cannot change,
please send a Staff PM to ask a moderator to unlock the artist.</p>
</div>
{% endif %}

<form class="edit_form" name="artist" action="artist.php" method="post">
<input type="hidden" name="action" value="edit" />
<input type="hidden" name="auth" value="{{ auth }}" />
<input type="hidden" name="artistid" value="{{ id }}" />
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_basic">
    <tr class="colhead_dark">
        <td colspan="2"><strong>Basic Information</strong></td>
    </tr>
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Image</td>
        <td>
        <input type="text" name="image" size="92" value="{{ image }}" /><br />
{% if constant('IMAGE_HOST_BANNED') %}
        <b>Images hosted on <strong class="important_text">{{ constant('IMAGE_HOST_BANNED')|join(', ')
            }} are not allowed</strong>, please rehost first on one of {{ constant('IMAGE_HOST_RECOMMENDED')|join(', ') }}.</b><br />
{% endif %}
        </td>
    </tr>
    <tr>
        <td class="label" style="vertical-align: top;">Discogs ID</td>
        <td>
        <div class="pad">E.g. for Suzanne Vega, the Discogs artist page is https://www.discogs.com/artist/41182-Suzanne-Vega
        <br />Hence her Discogs ID is <b>41182</b>.
        </div>
        <input type="text" name="discogs-id" size="9" value="{{ discogs_id }}" /><br /><br />
        </td>
    </tr>
{% if not locked %}
    <tr>
        <td class="label" style="vertical-align: top;">Lock this artist
        </td>
        <td>
        <input type="checkbox" id="locked" name="locked" value="1"{{ checked(locked) }} /> Prevent renaming or further redirects on this artist<br />
        <br />This is for special artists only! <b>Leave artists unlocked unless you know what you are doing.</b>
        </td>
    </tr>
{% elseif locked and is_mod %}
    <tr>
        <td class="label" style="vertical-align: top;">Unlock this artist</td>
        <td>
        <input type="checkbox" id="unlocked" name="unlocked" value="1" /> Enable renaming or further redirects on this artist<br /><br />
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label" style="vertical-align: top;">Artist information</td>
        <td>
        <textarea name="body" cols="91" rows="15">{{ body }}</textarea> <br /><br />
        </td>
    </tr>
    <tr>
        <td class="label" style="vertical-align: top;"><label for="showcase">Showcase a.k.a Vanity House</label></td>
        <td>
            <input type="checkbox" id="showcase" name="showcase" value="1"{{ disabled(not is_showcase_editor) }}{{ checked(showcase) }} /><br /><br />
        </td>
    </tr>
    <tr>
        <td class="label" style="vertical-align: top;">Edit summary</td>
        <td>
        <input type="text" name="summary" size="92" /><br /><br />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Edit Artist" /></td>
    </tr>
</table>
</form>

{% if is_editor %}

<form class="merge_form" name="artist" action="artist.php" method="post">
<input type="hidden" name="action" value="change_artistid" />
<input type="hidden" name="auth" value="{{ auth }}" />
<input type="hidden" name="artistid" value="{{ id }}" />
    <table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_redirect">
    <tr class="colhead_dark">
        <td colspan="2"><strong>Alias Management</strong></td>
    </tr>
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Existing aliases</td>
        <td>
        <div style="float: right">
            {{ constant('ICON_BLACK_SQUARE') }} non-redirecting alias (NRA)<br />
            {{ constant('ICON_WHITE_SQUARE') }} alias of artist or previous NRA<br />
        </div>
        <ul class="nobullet">
    {% for alias_id, info in alias_info %}
            <li><span title="Non-redirecting alias {{ info.alias_id }}">{{ constant('ICON_BLACK_SQUARE') }} {{ info.name }}</span> <span style="font-size: smaller">({{ info.alias_id }})</span>
        {%- if info.user %} by <a href="/user.php?id={{ info.user.id}}">{{ info.user.id|user_url }}</a>{% endif -%}
            &nbsp;<a href="artist.php?action=delete_alias&amp;aliasid={{ info.alias_id }}&amp;auth={{ auth }}" title="Delete this non-redirecting alias" class="brackets tooltip">X</a>
            </li>
        {% for alias in info.alias %}
            <li><span title="alias {{ alias.alias_id }} of {{ info.name }}">{{ constant('ICON_WHITE_SQUARE') }}</span> {{ alias.name }} <span style="font-size: smaller">({{ alias.alias_id }})</span>
            {%- if alias.user %} by <a href="/user.php?id={{ alias.user.id}}">{{ alias.user.id|user_url }}</a>{% endif -%}
            {% if not locked -%}
                &nbsp;<a href="artist.php?action=delete_alias&amp;aliasid={{ alias.alias_id }}&amp;auth={{ auth }}" title="Delete this alias" class="brackets tooltip">X</a>
            {%- endif %}
            </li>
        {% endfor %}
    {% endfor %}
        {% if not r.redirectId %}
                &nbsp;<?= "\xE2\x98\x85" ?>
        {% endif %}
            </li>
        </ul>
        </td>
    </tr>
</table>
</form>

<form class="add_form" name="aliases" action="artist.php" method="post">
<input type="hidden" name="action" value="add_alias" />
<input type="hidden" name="auth" value="{{ auth }}" />
<input type="hidden" name="artistid" value="{{ id }}" />
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_alias">
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Add new alias</td>
        <td>
        <div class="pad">
        <p>This autocorrects artist names as they are written (e.g. when new torrents are uploaded or artists added). All uses of this new alias will be recorded as the alias ID you enter here. Use for common misspellings, inclusion of diacritical marks, etc.</p>
            <div class="field_div">
                <span class="label"><strong>Name:</strong></span>
                <br />
                <input type="text" name="name" size="40" value="{{ name }}" />
            </div>
            <div class="field_div">
                <span class="label"><strong>Usage replaced with:</strong></span>
                <select name="redirect">
    {% for alias_id, info in alias_info %}
                    <option value="{{ alias_id }}"{{ selected(info.name == name) }}>{{ info.name }}</option>
    {% endfor %}
                    <option value="0">Non-redirecting alias</option>
                </select><br />
            </div>
        </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Add alias" /></td>
    </tr>
</table>
</form>

<form class="merge_form" name="artist" action="artist.php" method="post">
<input type="hidden" name="action" value="change_artistid" />
<input type="hidden" name="auth" value="{{ auth }}" />
<input type="hidden" name="artistid" value="{{ id }}" />
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_redirect">
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">Change to non-redirecting alias</td>
        <td>
    {% if locked %}
            <p>Modifications are locked</p>
    {% else %}
            <p>Merges this artist ("{{ name }}") into the artist specified below (without redirection),
            so that ("{{ name }}") and its aliases will appear as a non-redirecting alias of the artist entered in the text box below.</p>
            <p>A non-redirecting alias is used so a release is show with the correct artist name (e.g.
            <i>Sun Ra All Stars</i> versus <i>Sun Ra and His Astro-Solar-Infinity Arkestra</i>) and all
            releases are shown on the artist page <i>Sun Ra</i>.</p>
            <br />
            <div style="text-align: center;">
                <label for="newartistid">Artist ID:</label>&nbsp;<input type="text" id="newartistid" name="newartistid" size="40" value="" /><br />
                <strong>OR</strong><br />
                <label for="newartistid">Artist name:</label>&nbsp;<input type="text" id="newartistname" name="newartistname" size="40" value="" />
            </div><br /><br />
    {% endif %}
        </td>
    </tr>
    {% if not locked %}
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Make non-redirecting alias" /></td>
    </tr>
    {% endif %}
</table>
</form>

    {% if locked %}
<h4>Renaming is locked</h4>
    {% else %}
<form class="rename_form" name="artist" action="artist.php" method="post">
<input type="hidden" name="action" value="rename" />
<input type="hidden" name="auth" value="{{ auth }}" />
<input type="hidden" name="artistid" value="{{ id }}" />
    <table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border artist_edit" id="artist_edit_rename">
    <tr class="colhead_dark">
        <td colspan="2"><strong>Rename this artist</strong></td>
    </tr>
    <tr>
        <td class="label" style="width: 120px; vertical-align: top;">New name</td>
        <td>
            <input type="text" name="name" size="92" value="{{ name }}" /><br /><br />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Rename Artist" /></td>
    </tr>
    </table>
</form>
    {% endif %}
{% endif %}
<br />
</div>
{{ footer() }}
