{{ header('Register', {'js': 'validate,password_validate'}) }}
{% include 'logo.twig' %}

<div style="width: 100%">
<div style="width: 45%; margin: auto;">
<form class="create_form" name="user" id="registerform" method="post" action="" onsubmit="return formVal();">
{% if sent %}
    {% if is_new %}
Since this is a new installation, you can log in directly without having to confirm your account.
    {% else %}
An email has been sent to the address that you provided. After you confirm your email address, you will be able to log into your account.
If you do not receive a response within a couple of hours, you may try contacting staff on IRC. Join <code>{{ constant('IRC_PUBLIC_SERVER') }}</code>,
channel <code>#disabled</code>. Depending on the timezone you may have to wait, but you will receive a response.
    {% endif %}
{% else %}
    {% if invite %}
    <input type="hidden" name="invite" value="{{ invite }}" />
    {% endif %}
    {% if error %}
    <strong class="important_text">{{ error }}</strong><br /><br />
    {% endif %}

    <table class="layout" cellpadding="2" cellspacing="2" border="0" align="center">
        <tr valign="top">
            <td align="right">Username</td>
            <td align="left">
                <input type="text" name="username" id="username" class="inputtext" placeholder="Username" value="{{ username }}" />
                <p>Usernames are up to 20 characters long, using letters, digits and "." (dot).
                <br />Use common sense when choosing your username. Offensive usernames may result in an instant ban.
                <br /><strong>Do not choose a username that can be associated with your real name.</strong> If you do so, we will not change it for you.</p>
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Email address</td>
            <td align="left">
                <input type="email" name="email" id="email" class="inputtext" placeholder="Email" value="{{ email }}" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Password</td>
            <td align="left">
                <input type="password" name="password" id="new_pass_1" class="inputtext" placeholder="Password" /> <strong id="pass_strength"></strong>
            </td>
        </tr>
        <tr valign="top">
            <td align="right">Verify&nbsp;password</td>
            <td align="left">
                <input type="password" name="confirm_password" id="new_pass_2" class="inputtext" placeholder="Verify password" /> <strong id="pass_match"></strong>
                <p>A strong password is 8 characters or longer, contains at least 1 lowercase and uppercase letter, and contains at least a number or a symbol, or is at least 20 characters.</p>
            </td>
        </tr>
        <tr valign="top">
            <td></td>
            <td align="left">
                <input type="checkbox" name="readrules" id="readrules" value="1"{{ readrules|checked }} />
                <label for="readrules">I will read and abide by the rules.</label>
            </td>
        </tr>
        <tr valign="top">
            <td></td>
            <td align="left">
                <input type="checkbox" name="readwiki" id="readwiki" value="1"{{ readwiki|checked }} />
                <label for="readwiki">I will read the wiki.</label>
            </td>
        </tr>
        <tr valign="top">
            <td></td>
            <td align="left">
                <input type="checkbox" name="agereq" id="agereq" value="1"{{ agereq|checked }} />
                <label for="agereq">I am 13 years of age or older.</label>
            </td>
        </tr>
        <tr valign="top">
            <td colspan="2" align="center"><br /><input type="submit" name="submit" value="Create my account" class="submit" /></td>
        </tr>
    </table>

{% endif %}
</form>
</div>
</div>
{{ js|raw }}
{{ footer() }}
