{% set url = "torrents.php?action=download&id=" ~ t.ID ~ "&torrent_pass=" ~ key %}
{% set fl_tokens = t.Size|token_count %}
<span class="torrent_links_block"> [ <a href="{{ url }}" class="tooltip" title="Download">DL</a>
{% if can_fl %}
 | <a href="{{ url }}&usetoken=1" title="Use a FL Token" class="tooltip" onclick="return confirm('
 {%- if not t.Seeders -%}Warning: This torrent is NOT SEEDED at the moment! {% endif -%}
 Are you sure you want to use {{ fl_tokens }} Freeleech token{{ fl_tokens|plural }} here?');">FL</a>
{% endif %}
 | <a href="reportsv2.php?action=report&id={{ t.ID }}" class="tooltip" title="Report">RP</a>
{% if edit %}
 | <a href="torrents.php?action=edit&id={{ t.ID }}" class="tooltip" title="Edit">ED</a>
{% endif %}
{% if remove %}
 | <a href="torrents.php?action=delete&torrentid={{ t.ID }}" class="tooltip" title="Remove">RM</a>
{% endif %}
{% if pl %}
 | <a href="torrents.php?torrentid={{ t.ID }}" class="tooltip" title="Permalink">PL</a>
{% endif %}
{% for e in extra %}
 | {{ e|raw }}
{% endfor %}
] </span>
