{% set url = "torrents.php?action=download&id=" ~ torrent.id ~ "&torrent_pass=" ~ viewer.announceKey %}
<span class="torrent_links_block"> [ <a href="{{ url }}" class="tooltip" title="Download">DL</a>
{% if viewer.canSpendFLToken(torrent) %}
{% set fl_tokens = torrent.size|token_count %}
 | <a href="{{ url }}&amp;usetoken=1" title="Use a FL Token" class="tooltip" onclick="return confirm('
 {%- if torrent.unseeded -%}Warning: This torrent is NOT SEEDED at the moment! {% endif -%}
 Are you sure you want to use {{ fl_tokens }} Freeleech token{{ fl_tokens|plural }} here?');">FL</a>
{% endif %}
 | <a href="reportsv2.php?action=report&amp;id={{ torrent.id }}" class="tooltip" title="Report">RP</a>
{% if edit
    and (
        viewer.permitted('torrents_edit')
        or (
            torrent.uploaderId == viewer.id
            and not viewer.disableWiki
            and not torrent.isRemasteredUnknown
        )
    ) %}
 | <a href="torrents.php?action=edit&amp;id={{ torrent.id }}" class="tooltip" title="Edit">ED</a>
{% endif %}
{% if remove 
    and (
        viewer.permitted('torrents_delete') or torrent.uploaderId == viewer.id
    ) %}
 | <a href="torrents.php?action=delete&amp;torrentid={{ torrent.id }}" class="tooltip" title="Remove">RM</a>
{% endif %}
{% if pl %} | <a href="{{ torrent.location }}" class="tooltip" title="Permalink">PL</a>{% endif %}
{% if js %} | <a href="ajax.php?action=torrent&amp;id={{ torrent.id }}" download="{{ torrent.fullName }}.{{ torrent.id }}.opsnet.json" class="tooltip" title="Download JSON">JS</a>{% endif %}
{% for e in extra %}
 | {{ e|raw }}
{% endfor %} ]</span>
