{% from 'macro/form.twig' import checked, selected %}

{{ header('Browse Torrents', {'js': 'browse'}) }}
<div class="thin widethin">
<div class="header">
    <h2>Torrents</h2>
</div>
<form class="search_form" name="torrents" method="get" action="" onsubmit="$(this).disableUnset();">
<div class="box filter_torrents">
    <div class="head">
        <span style="float: right;">
{% if not show_search %}
    {% if viewer.permitted('site_advanced_search') %}
            <a id="ft_type" href="#" class="brackets tooltip hidden" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch('{{ search_toggle }}');">Switch to {{ search_toggle }}</a>
    {% endif %}
            <a href="#" id="ft_toggle" class="brackets tooltip" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch(0);">Show search form</a>
{% else %}
    {% if viewer.permitted('site_advanced_search') %}
            <a id="ft_type" href="#" class="brackets tooltip" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch('{{ search_toggle }}');">Switch to {{ search_toggle }}</a>
    {% endif %}
            <a href="#" id="ft_toggle" class="brackets tooltip" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch(0);">Hide search form</a>
{% endif %}</span>&nbsp;
    </div>

    <div id="ft_container" class="pad{% if not show_search %} hidden{% endif %}">
    <table class="layout">
        <tr id="artist_name" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Artist name:</td>
            <td colspan="3" class="ft_artistname">
                <input type="search" spellcheck="false" size="40" name="artistname" class="inputtext smaller fti_advanced" value="{{ input.artistname }}" />
            </td>
        </tr>
        <tr id="album_torrent_name" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Album/Torrent name:</td>
            <td colspan="3" class="ft_groupname">
                <input type="search" spellcheck="false" size="40" name="groupname" class="inputtext smaller fti_advanced" value="{{ input.groupname }}" />
            </td>
        </tr>
        <tr id="record_label" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Record label:</td>
            <td colspan="3" class="ft_recordlabel">
                <input type="search" spellcheck="false" size="40" name="recordlabel" class="inputtext smaller fti_advanced" value="{{ input.recordlabel }}" />
            </td>
        </tr>
        <tr id="catalogue_number_year" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Catalogue number:</td>
            <td class="ft_cataloguenumber">
                <input type="search" size="40" name="cataloguenumber" class="inputtext smallest fti_advanced" value="{{ input.cataloguenumber }}" />
            </td>
            <td class="label">Year:</td>
            <td class="ft_year">
                <input type="search" name="year" class="inputtext smallest fti_advanced" value="{{ input.year }}" size="4" />
            </td>
        </tr>
        <tr id="edition_expand" class="ftr_advanced{{ hide_advanced }}">
            <td colspan="4" class="center ft_edition_expand">
                <a href="#" class="brackets" onclick="ToggleEditionRows(); return false;">Click here to toggle searching for specific remaster information</a>
            </td>
        </tr>
        <tr id="edition_title" class="ftr_advanced{{ hide_advanced ~ hide_remaster }}">
            <td class="label">Edition title:</td>
            <td class="ft_remastertitle">
                <input type="search" spellcheck="false" size="40" name="remastertitle" class="inputtext smaller fti_advanced" value="{{ input.remastertitle }}" />
            </td>
            <td class="label">Edition year:</td>
            <td class="ft_remasteryear">
                <input type="search" name="remasteryear" class="inputtext smallest fti_advanced" value="{{ input.remasteryear }}" size="4" />
            </td>
        </tr>
        <tr id="edition_label" class="ftr_advanced{{ hide_advanced ~ hide_remaster }}">
            <td class="label">Edition release label:</td>
            <td colspan="3" class="ft_remasterrecordlabel">
                <input type="search" spellcheck="false" size="40" name="remasterrecordlabel" class="inputtext smaller fti_advanced" value="{{ input.remasterrecordlabel }}" />
            </td>
        </tr>
        <tr id="edition_catalogue" class="ftr_advanced{{ hide_advanced ~ hide_remaster }}">
            <td class="label">Edition catalogue number:</td>
            <td colspan="3" class="ft_remastercataloguenumber">
                <input type="search" size="40" name="remastercataloguenumber" class="inputtext smallest fti_advanced" value="{{ input.remastercataloguenumber }}" />
            </td>
        </tr>
        <tr id="file_list" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">File list:</td>
            <td colspan="3" class="ft_filelist">
                <input type="search" spellcheck="false" size="40" name="filelist" class="inputtext fti_advanced" value="{{ input.filelist }}" />
            </td>
        </tr>
        <tr id="torrent_description" class="ftr_advanced{{ hide_advanced }}">
            <td class="label"><span title="Search torrent descriptions (not group information)" class="tooltip">Torrent description:</span></td>
            <td colspan="3" class="ft_description">
                <input type="search" spellcheck="false" size="40" name="description" class="inputtext fti_advanced" value="{{ input.description }}" />
            </td>
        </tr>
        <tr id="rip_specifics" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Rip specifics:</td>
            <td class="nobr ft_ripspecifics" colspan="3">
                <select name="releasetype" class="ft_releasetype fti_advanced">
                    <option value="">Release type</option>
{% for id, name in release_type %}
                    <option value="{{ id }}"{{ selected(id == input.releasetype) }}>{{ name }}</option>
{% endfor %}
                </select>
                <select name="media" class="ft_media fti_advanced">
                    <option value="">Media</option>
{% for media in constant('MEDIA') %}
                    <option value="{{ media }}"{{ selected(media == input.media) }}>{{ media }}</option>
{% endfor %}
                </select>
                <select name="format" class="ft_format fti_advanced">
                    <option value="">Format</option>
{% for format in constant('FORMAT') %}
                    <option value="{{ format }}"{{ selected(format == input.format) }}>{{ format }}</option>
{% endfor %}
                </select>
                <select id="bitrate" name="encoding" class="ft_bitrate fti_advanced">
                    <option value="">Encoding</option>
{% for encoding in constant('ENCODING') %}
                    <option value="{{ encoding }}"{{ selected(encoding == input.encoding) }}>{{ encoding }}</option>
{% endfor %}
                </select>
            </td>
        </tr>
        <tr id="misc" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Miscellaneous:</td>
            <td class="nobr ft_misc" colspan="3">
                <select name="haslog" class="ft_haslog fti_advanced">
                    <option value="">Rip Log File</option>
                    <option value="1"{{ selected(input.haslog == 1) }}>Has log file</option>
                    <option value="0"{{ selected(input.haslog|default('-') == '0') }}>No log file</option>
                    <option value="99"{{ selected(input.haslog == 99) }}>Scores 99%</option>
                    <option value="100"{{ selected(input.haslog == 100) }}>Scores 100%</option>
                    <option value="-1"{{ selected(input.haslog == -1) }}>&lt;100%/Unscored</option>
                </select>
                <select name="hascue" class="ft_hascue fti_advanced">
                    <option value="">Cue File</option>
                    <option value="1"{{ selected(input.hascue == 1) }}>Has Cue</option>
                    <option value="0"{{ selected(input.hascue|default('-') == '0') }}>No Cue</option>
                </select>
                <select name="scene" class="ft_scene fti_advanced">
                    <option value="">Scene</option>
                    <option value="1"{{ selected(input.scene == 1) }}>Is Scene</option>
                    <option value="0"{{ selected(input.scene|default('-') == '0') }}>Not Scene</option>
                </select>
                <select name="vanityhouse" class="ft_vanityhouse fti_advanced">
                    <option value="">Vanity House</option>
                    <option value="1"{{ selected(input.vanityhouse == 1) }}>Is Vanity</option>
                    <option value="0"{{ selected(input.vanityhouse|default('-') == '0') }}>Not Vanity</option>
                </select>
                <select name="freetorrent" class="ft_freetorrent fti_advanced">
                    <option value="">Leech Status</option>
                    <option value="1"{{ selected(input.freetorrent == 1) }}>Freeleech</option>
                    <option value="2"{{ selected(input.freetorrent == 2) }}>Neutral Leech</option>
                    <option value="3"{{ selected(input.freetorrent == 3) }}>Either</option>
                    <option value="0"{{ selected(input.freetorrent|default('-') == '0') }}>Normal</option>
                </select>
            </td>
        </tr>
        <tr id="search_terms" class="ftr_basic{% if search_plus %} hidden{% endif %}">
            <td class="label">Search terms:</td>
            <td colspan="3" class="ftb_searchstr">
                <input type="search" spellcheck="false" size="40" name="searchstr" class="inputtext fti_basic" value="{{ input.searchstr }}" />
            </td>
        </tr>
        <tr id="tagfilter">
            <td class="label"><span title="Use !tag to exclude tag" class="tooltip">Tags (comma-separated):</span></td>
            <td colspan="3" class="ft_taglist">
                <input type="search" size="40" id="tags" name="taglist" class="inputtext smaller" value="{{
                    tag_list }}"{% if viewer.hasAutocomplete('other') %} data-gazelle-autocomplete="true"{% endif %} />&nbsp;
                <input type="radio" name="tags_type" id="tags_type0" value="0"{{ checked(input.tags_type == 0) }} /><label for="tags_type0"> Any</label>&nbsp;&nbsp;
                <input type="radio" name="tags_type" id="tags_type1" value="1"{{ checked(input.tags_type == 1) }} /><label for="tags_type1"> All</label>
            </td>
        </tr>
        <tr id="order">
            <td class="label">Order by:</td>
            <td colspan="3" class="ft_order">
                <select name="order" style="width: auto;" class="ft_order_by">
                    <option value="time"{{ selected(input.order == 'time') }}>Time added</option>
                    <option value="year"{{ selected(input.order == 'year') }}>Year</option>
                    <option value="size"{{ selected(input.order == 'size') }}>Size</option>
                    <option value="snatched"{{ selected(input.order == 'snatched') }}>Snatched</option>
                    <option value="seeders"{{ selected(input.order == 'seeders') }}>Seeders</option>
                    <option value="leechers"{{ selected(input.order == 'leechers') }}>Leechers</option>
                    <option value="random"{{ selected(input.order == 'random') }}>Random</option>
                </select>
                <select name="sort" class="ft_order_way">
                    <option value="desc"{{ selected(input.sort == 'desc') }}>Descending</option>
                    <option value="asc"{{ selected(input.sort == 'asc') }}>Ascending</option>
                </select>
            </td>
        </tr>
        <tr id="search_group_results">
            <td class="label">
                <label for="group_results">Group by release:</label>
            </td>
            <td colspan="3" class="ft_group_results">
                <input type="checkbox" value="1" name="group_results" id="group_results"{{ checked(grouped) }} />
            </td>
        </tr>
    </table>

    <table class="layout cat_list ft_cat_list">
        <tr>
{% for key, name in constant('CATEGORY') %}
            <td style="width:{{ (100 / constant('CATEGORY')|length)|round(1) }}%; padding-left: 1.6em; text-indent:-1.6em">
                <input type="checkbox" name="filter_cat[{{ key + 1 }}]" id="cat_{{ key + 1 }}" value="1"{{ checked(input.filter_cat[key + 1]) }} />
                <label for="{{ key + 1 }}">{{ name }}</label>
            </td>
{% endfor %}
        </tr>
    </table>

{% if viewer.option('ShowTags') %}
    {% set n = 7 %}
    {% set width = 100 / n %}
    <div>
    <span style="float: right">
        <a class="brackets" href="#" onclick="$('#taglist').gtoggle(); if (this.innerHTML == 'Show tags') { this.innerHTML = 'Hide tags'; } else { this.innerHTML = 'Show tags'; }; return false;">{% if viewer.option('ShowTags') %}Hide {% else %}Show {% endif %} tags</a>
    </span>

    <table class="layout cat_list" id="taglist">
        <tr class="label">
            <td colspan="{{ n }}">
            Click on a tag name to add it the form filter
            </td>
        </tr>
        <tr>
    {% for tag in tag_default %}
        {% if loop.index0 and not loop.index0 % n %}
        </tr>
        <tr>
        {% endif %}
            <td style="width:{{ width }}%"><a href="#" onclick="add_tag('{{ tag }}'); return false;">{{ tag }}</a></td>
    {% endfor %}
    {% if tag_default|length % n %}
            <td colspan="{{ n - (tag_default|length % n) }}">&nbsp;</td>
    {% endif %}
        </tr>
    </table>
    </div>
{% endif %}

    <table class="layout cat_list" width="100%">
        <tr>
            <td>
                <a class="brackets" href="random.php?action=torrent">Random Torrent</a>
                <a class="brackets" href="random.php?action=artist">Random Artist</a>
            </td>
            <td class="label">
            </td>
        </tr>
    </table>
    <br />
    <div class="submit ft_submit">
        <span style="float: left;">{{ results_total|number_format }} Result{{ results_total|plural }}
{% if results_total > results_shown and not viewer.permitted('site_search_many') %} (Showing first {{ results_shown|number_format }}  matches){% endif %}
        </span>
{% if filtered %}
        <input type="submit" name="setdefault" value="Make default" />
{% endif %}
{% if viewer.option('DefaultSearch') %}
        <input type="submit" name="cleardefault" value="Clear default" />
{% endif %}
        &nbsp;&nbsp;<input type="submit" value="Filter torrents" />
        <input type="hidden" name="action" id="ft_action" value="{{ search_mode }}" />
        <input type="hidden" name="searchsubmit" value="1" />
        <input type="button" value="Reset" onclick="location.href = 'torrents.php{% if input.action == 'action' %}?action=advanced{% endif %}'" />
        &nbsp;&nbsp;
    </div>
</div>
</div>
</form>

