{{ header('Edit group ' ~ torrent.group.text) }}
<div class="thin">
<div class="header">
    <h2>Torrent Group ID Change Confirmation</h2>
</div>
<div class="box pad">
    <form class="confirm_form" name="torrent_group" action="torrents.php" method="post">
        <input type="hidden" name="action" value="editgroupid" />
        <input type="hidden" name="auth" value="{{ auth }}" />
        <input type="hidden" name="confirm" value="true" />
        <input type="hidden" name="torrentid" value="{{ torrent.id }}" />
        <input type="hidden" name="groupid" value="{{ new.id }}" />
        <h3>You are attempting to move the torrent with ID {{ torrent.id }} from the group:</h3>
        <ul>
            <li>{{ torrent.group.link|raw }}</li>
        </ul>
        <h3>Into the group:</h3>
        <ul>
            <li>{{ new.link|raw }}</li>
        </ul>
        <input type="submit" value="Confirm" />
    </form>
</div>
</div>
{{ footer() }}
