{{ header(tgroup.text, {'js': 'browse,comments,torrent,bbcode,cover_art,subscriptions,voting'}) }}
<div class="thin">
    <div class="header">
        <h2>{{ tgroup.link | raw }}</h2>
        <div class="linkbox">
{% if viewer.permitted('site_edit_wiki') %}
            <a href="{{ tgroup.url|raw }}&amp;action=editgroup" class="brackets">Edit description</a>
{% endif %}
            <a href="{{ tgroup.url|raw }}&amp;action=editrequest" class="brackets">Request an Edit</a>
{% if revsion_id and viewer.permitted('site_edit_wiki') %}
            <a href="{{ tgroup.url|raw }}&amp;action=revert&amp;revisionid={{ revision_id }}&amp;auth={{ viewer.auth }}" class="brackets">Revert to this revision</a>
{% endif %}
{%- include 'bookmark/action.twig' with {'class': 'torrent', 'id': tgroup.id, 'is_bookmarked': is_bookmarked} only %}
            <a href="#" id="subscribelink_torrents{{ tgroup.id }}" class="brackets" onclick="SubscribeComments('torrents', {{ tgroup.id }}); return false;">{%-
                if is_subscribed %}Unsubscribe{% else %}Subscribe{% endif %}</a>
{% if tgroup.categoryName == 'Music' %}
            <a href="upload.php?groupid={{ tgroup.id }}" class="brackets">Add format</a>
{% endif %}
{% if viewer.permitted('site_submit_requests') %}
            <a href="requests.php?action=new&amp;groupid={{ tgroup.id }}" class="brackets">Request format</a>
{% endif %}
            <a href="{{ tgroup.url|raw }}&amp;action=history" class="brackets">View history</a>
            <a href="{{ tgroup.url|raw }}&amp;action=grouplog" class="brackets">View log</a>
        </div>
    </div>

    <div class="sidebar">
{% if tgroup.cover or (tgroup.coverArt and viewer.option('CoverArt')) %}
    {% set extra_cover = tgroup.coverArt|length %}
        <div class="box box_image box_image_albumart box_albumart">
            <div class="head">
                <strong>{% if extra_cover > 0 %}Covers ({{ 1 + extra_cover }}){% else %}Cover {% endif %}</strong>
    {% if not viewer.option('ShowExtraCovers') %}
        {% for cover in tgroup.coverArt %}
            {% if loop.first %}
        <span id="cover_controls_0">
            <span class="brackets">Prev</span>
            <a class="brackets show_all_covers" href="#">Show all</a>
            <a class="brackets next_cover" data-gazelle-next-cover="1" href="#">Next</a>
        </span>
            {% endif %}
        <span id="cover_controls_{{ loop.index }}" style="display: none;">
            <a class="brackets prev_cover" data-gazelle-prev-cover="{{ loop.index0 }}" href="#">Prev</a>
            <a class="brackets show_all_covers" href="#">Show all</a>
            {% if loop.last %}
            <span class="brackets">Next</span>
            {% else %}
            <a class="brackets next_cover" data-gazelle-next-cover="{{ loop.index + 1 }}" href="#">Next</a>
            {% endif %}
        </span>
        {% endfor %}
    {% endif %}
            </div>
<div id="covers">
<div id="cover_div_0" class="pad">
            <p align="center"><img width="100%" src="{{ tgroup.cover|image_cache }}" alt="cover image" onclick="lightbox.init('{{ tgroup.cover|image_cache }}', 220);" data-origin-src="{{ tgroup.cover }}" /></p>
</div>
    {% for cover in tgroup.coverArt %}
            {% if viewer.option('ShowExtraCovers') %}<hr />{% endif %}
            <div id="cover_div_{{ loop.index }}" class="pad"{% if not viewer.option('ShowExtraCovers') %} style="display: none;"{% endif %}>
                <p align="center">
                    <img id="cover_{{ loop.index }}" width="100%"
                    {% if viewer.option('ShowExtraCovers') %}src="{{ cover.image|image_cache }}"{% else %}src="" data-gazelle-temp-src="{{ cover.image|image_cache }}"{% endif %}
                    alt="{{ cover.summary }}" onclick="lightbox.init('{{ cover.image|image_cache }}', 220);" data-origin-src="{{ cover.image }}" />
                </p>
                <ul class="stats nobullet">
                    <li>{{ cover.summary }}{% if viewer.permitted('users_mod') %} added by {{ cover.user_id|user_url }}{% endif %}
                        <span class="remove remove_cover_art"><a href="#" onclick="if (confirm('Do not delete valid alternative cover art. Are you sure you want to delete this cover art?') == true) { ajax.get('ajax.php?action=torrent_remove_cover_art&amp;auth={{
                            viewer.auth }}&amp;id={{ cover.id }}&amp;groupid={{ tgroup.id }}'); this.parentNode.parentNode.parentNode.style.display = 'none'; this.parentNode.parentNode.parentNode.previousElementSibling.style.display = 'none'; } else { return false; }" class="brackets tooltip" title="Remove image">X</a></span>
                    </li>
                </ul>
            </div>
    {% endfor %}
</div>

    {% if viewer.permitted('site_edit_wiki') and tgroup.image != '' %}
    <hr />
    <div id="add_cover_div">
        <div style="padding: 10px;">
            <span style="float: right;" class="additional_add_artists">
                <a onclick="addCoverField(); return false;" href="#" class="brackets">Add alternate cover</a>
            </span>
        </div>
        <div class="body">
            <form class="add_form" name="covers" id="add_covers_form" action="torrents.php" method="post">
                <div id="add_cover">
                    <input type="hidden" name="action" value="add_cover_art" />
                    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                    <input type="hidden" name="groupid" value="{{ tgroup.id }}" />
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
