{% from 'macro/paginator.twig' import pager %}
{% for download in page %}
    {% if loop.first %}
<h4 class="tooltip" title="List of users that have clicked the [DL] button">List of Downloaders</h4>
<div class="linkbox">{{ pager('show_downloads', torrent_id, paginator.page, paginator.pages)|raw }}</div>
<table>
    <tr class="colhead_dark" style="font-weight: bold;">
        {% for n in range(1, 2) %}
        <td>User</td>
        <td title="Earliest">Time</td>
        <td>Copies</td>
        <td><img src="{{ url_stem }}snatched.png" class="tooltip" alt="Snatched?" title="Snatched?" /></td>
        <td><img src="{{ url_stem }}seeders.png" class="tooltip" alt="Seeding?" title="Seeding?" /></td>
        {% endfor %}
    </tr>
    <tr>
    {% elseif loop.index0 % 2 == 0 %}
    </tr>
    <tr>
    {% endif %}
        <td>{{ download.user_id|user_url }}</td>
        <td>{{ download.timestamp|time_diff }}</td>
        <td>{{ download.total|number_format }}</td>
        <td>{% if download.is_snatched %}<span class="tooltip" title="Snatched!" style="color: #f57c00">{{ constant('ICON_STAR') }} </span>{% else %}&nbsp;{% endif %}</td>
        <td>{% if download.is_seeding %}<span class="tooltip" title="Seeding!" style="color: #388e3c">{{ constant('ICON_STAR') }} </span>{% else %}&nbsp;{% endif %}</td>
    {% if loop.last %}
    </tr>
</table>
<div class="linkbox">{{ pager('show_downloads', torrent_id, paginator.page, paginator.pages)|raw }}</div>
    {% endif %}
{% else %}
<div style="text-align: center">No downloads recorded</div>
{% endfor %}
