{{ header(tgroup.text) }}

<div class="thin">
    <div class="header">
        <h2>{{ tgroup.link|raw }}</h2>
    </div>
    <div class="box pad">
        <div style="margin-bottom: 10px">
            <p><strong class="important_text">You are requesting an edit for...</strong></p>
            <p class="center">{{ tgroup.text }}</a></p>
        </div>
        <div style="margin-bottom: 10px">
            <p>
            Please detail all information that needs to be edited for the torrent group. Include all relevant links (Bandcamp, Discogs, Musicbrainz, etc.).<br /><br />
            This will not generate a report, but will create a thread in the Editing forum.<br /><br />

            What this form can be used for:
            </p>
            <ul>
                <li>'Original Release' information, such as: year, record label, & catalogue number.</li>
                <li>Group rename/typo correction</li>
                <li>Group merging</li>
                <li>etc...</li>
            </ul>
            <p>Do NOT use this form for individual torrents or artists. For individual torrents, use
                the torrent report feature. For artists, go to their respective
                pages and use that edit request feature.</p>
        </div>
        <div>
            <p><strong class="important_text">Edit Details</strong></p>

            <div class="center">
                <form action="torrents.php" method="POST">
                    <input type="hidden" name="action" value="takeeditrequest" />
                    <input type="hidden" name="id" value="{{ tgroup.id }}" />
                    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                    {{ textarea.emit|raw }}
                    <input type="submit" value="Send Edit Request" />
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer() }}
