{% from 'macro/paginator.twig' import pager %}
{% for snatch in page %}
    {% if loop.first %}
<h4 class="tooltip" title="List of users that have reported a snatch to the tracker">List of Snatchers</h4>
<div class="linkbox">{{ pager('show_snatches', torrent_id, paginator.page, paginator.pages)|raw }}</div>
<table>
    <tr class="colhead_dark" style="font-weight: bold;">
        {% for n in range(1, 2) %}
        <td>User</td>
        <td>Time</td>
        <td><img src="{{ url_stem }}leechers.png" class="tooltip" alt="Downloaded?" title="Downloaded?" /></td>
        <td><img src="{{ url_stem }}seeders.png" class="tooltip" alt="Seeding?" title="Seeding?" /></td>
        {% endfor %}
    </tr>
    <tr>
    {% elseif loop.index0 % 2 == 0 %}
    </tr>
    <tr>
    {% endif %}
        <td>{{ snatch.user_id|user_full }}</td>
        <td>{{ snatch.timestamp|time_diff }}</td>
        <td>{% if snatch.is_download %}<span class="tooltip" title="Downloaded!" style="color: #f57c00">{{ constant('ICON_STAR') }} </span>{% else %}&nbsp;{% endif %}</td>
        <td>{% if snatch.is_seeding %}<span class="tooltip" title="Seeding!" style="color: #388e3c">{{ constant('ICON_STAR') }} </span>{% else %}&nbsp;{% endif %}</td>
    {% if loop.last %}
    </tr>
</table>
<div class="linkbox">{{ pager('show_snatches', torrent_id, paginator.page, paginator.pages)|raw }}</div>
    {% endif %}
{% else %}
<div style="text-align: center">No snatches recorded</div>
{% endfor %}
