{% from 'macro/form.twig' import checked -%}
{{ header('Top 10 Torrents history') }}
<div class="thin">
    <div class="header">
        <h2>Top 10 Torrents</h2>
        {% include 'top10/linkbox.twig' %}
    </div>
    <div class="pad box">
        <form class="search_form" name="top10" method="get" action="">
            <input type="hidden" name="type" value="history" />
            <h3>Search for a date (from {{ constant('TOP_TEN_HISTORY_BEGIN') }} onwards)</h3>
            <table class="layout">
                <tr>
                    <td class="label">Date:</td>
                    <td><input type="text" id="date" name="date" value="{{ date }}" /></td>
                </tr>
                <tr>
                    <td class="label">Type:</td>
                    <td>
                        <label><input type="radio" name="datetype" value="day"{{ checked(by_day) }}> Day</label>
                        <br />
                        <label><input type="radio" name="datetype" value="week"{{ checked(not by_day) }}> Week</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <br />
    <div class="pad box">
        <h3>Top 10 for {% if by_day %}{{ date }}{% else %}the week following {{ date }}{% endif %}</h3>
    <table class="torrent_table cats numbering border">
    <tr class="colhead">
        <td class="center" style="width: 15px;"></td>
        <td class="center"></td>
        <td><strong>Name</strong></td>
    </tr>
{% for entry in list %}
    {%- set torrent = entry.torrent -%}
    {%- set tgroup  = entry.torrent.group -%}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td style="padding: 8px; text-align: center;"><strong>{{ entry.sequence }}</strong></td>
        <td class="center cats_col"><div title="{{ tgroup.primaryTag }}" class="tooltip {{ tgroup.categoryCss }} {{ tgroup.primaryTagCss }}"></div></td>
        <td>
        <span>
        {%- if torrent -%}
            <a href="torrents.php?action=download&amp;id={{ torrent.id }}&amp;torrent_pass={{ viewer.announceKey }} title="Download" class="brackets tooltip">DL</a>
        {%- else -%}
            (Deleted)
        {%- endif -%}
        </span>
            {{ torrent.fullLink|raw }}
            <div class="tags">{{ group.tagNameList|join(', ') }}</div>
        </td>
    </tr>
{% endfor %}
    </table><br />
</div>
</div>
{{ footer() }}
