{{ header('Logchecker', {'js': 'upload'}) }}
<div class="linkbox">
    <a href="logchecker.php" class="brackets">Test Logchecker</a>
    <a href="logchecker.php?action=upload" class="brackets">Upload Missing Logs</a>
</div>
<div class="thin">
    <h2 class="center">Update Log</h2>
    <div class="box pad">
        <p>This form allows you to update the logs for any torrent that you've uploaded.
        Select a torrent and upload the log files in the form <u>below</u>, making sure to add
        all logs that you wish to upload. This will overwrite any previously uploaded logs for
        this torrent. If you wish to just have a torrent manually rescored, please report it
        to staff.</p>
        <br />
        <form action="" method="post" enctype="multipart/form-data">
          <input type="hidden" name="action" value="take_upload" />
          <input type="hidden" name="from_action" value="update" />
          <table class="form_post vertical_margin">
{% for t in list %}
    {% if loop.first %}
            <tr class="colhead">
              <td colspan="2">Select a Torrent</td>
            </tr>
    {% endif %}
            <tr>
                <td style="width: 5%;"><input type="radio" name="torrentid" value="{{ t.id }}"></td><td>{{ t.link|raw }}</td>
            </tr>
    {% if loop.last %}
            <tr class="colhead">
                <td colspan="2">Upload logs for the selected torrent</td>
            </tr>
            <tr>
                <td colspan="2" id="logfields">
                    Check your log files before uploading <a href="logchecker.php" target="_blank">here</a>. For multi-disc releases, click the "<span class="brackets">+</span>" button to add multiple log files.<br />
                    <input id="file" type="file" accept="{{ accepted }}" name="logfiles[]" size="50" required /> <a href="javascript:;" onclick="AddLogField();" class="brackets">+</a> <a href="javascript:;" onclick="RemoveLogField();" class="brackets">&minus;</a>
                </td>
            <tr />
            <tr>
                <td colspan="2">
                    <input type="submit" value="Upload Logs!" name="logsubmit" />
                </td>
            </tr>
    {% endif %}
{% else %}
            <tr><td colspan='2'>No uploads found.</td></tr>
{% endfor %}
          </table>
    </div>
    </form>
</div>

{{ footer() }}
