{{ header('Logchecker', {'js': 'upload'}) }}
<div class="linkbox">
    <a href="logchecker.php?action=test" class="brackets">Test Logchecker</a>
    <a href="logchecker.php?action=update" class="brackets">Update Logs</a>
</div>
<div class="thin">
    <h2 class="center">Upload Missing Logs</h2>
    <div class="box pad">
        <p>These torrents are your uploads that state that there are logs within the torrent, but none were
        uploaded to the site. To fix this, please select a torrent and then some torrents to upload below.
        <br /><br />
        If you'd like to upload new logs for your uploaded torrents that have been scored, please go
        <a href="logchecker.php?action=update">here</a>.
        Additionally, you can report any torrent to staff for them to be manually rescored by staff.</p>
        <br />
        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="take_upload" />
            <input type="hidden" name="from_action" value="upload" />
            <table class="form_post vertical_margin">
                <tr class="colhead">
                    <td colspan="2">Select a Torrent</td>
                </tr>
{% if list is empty %}
                <tr>
                    <td colspan='2'>No uploads found.</td>
                </tr>
{% else %}
    {% for id, torrent in list %}
                <tr>
                    <td style="width: 5%;"><input type="radio" name="torrentid" value="{{
                        id }}"></td><td>{{ torrent.fullLink|raw }}</td>
                </tr>
    {% endfor %}
                <tr class="colhead">
                    <td colspan="2">Upload logs for the selected torrent</td>
                </tr>
                <tr>
                    <td colspan="2" id="logfields">
                        Check your log files before uploading <a href="logchecker.php" target="_blank">here</a>.
                        <br />
                        <a href="javascript:;" onclick="AddLogField();" class="brackets">+</a>
                        <a href="javascript:;" onclick="RemoveLogField();" class="brackets">&minus;</a>
                        Add or remove additional logfiles for multi-disc releases.<br />
                        <input id="file" type="file" accept="{{ accepted }}" name="logfiles[]" size="50" required />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Upload Logs!" name="logsubmit" />
                    </td>
                </tr>
{% endif %}
            </table>
        </form>
    </div>
</div>
{{ footer() }}
