<div class="thin">
<div class="header">
    <h2>Compare <a href="wiki.php?action=article&amp;id={{ article.id }}">{{ article.title }}</a> Revisions {{ old }} versus {{ new }}</h2>
</div>
<div class="box center_revision" id="center">
    <div class="body">
{% for line in diff %}
    {{ line|raw }}
{% endfor %}
    </div>
</div>
</div>
