{{ header('Compose message', {'js': 'bbcode,jquery.validate,form_validate'}) }}
<div class="thin">
    <div class="header">
        <h2>{{ recipient.id|user_url }} › Send private message</a></h2>
    </div>
    <form class="send_form" name="message" action="inbox.php" method="post" id="messageform">
        <div class="box pad">
            <input type="hidden" name="action" value="takecompose" />
            <input type="hidden" name="toid" value="{{ recipient.id }}" />
            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
            <div id="quickpost">
                <h3>Subject</h3>
                <input type="text" class="required" name="subject" size="95" /><br />
                <h3>Body</h3>
                {{ body.emit|raw }}
                <input type="submit" value="Send message" />
            </div>
        </div>
    </form>
</div>
{{ footer() }}
