<div class="thin">
    <div class="header">
        <h2>Send a message to <a href="user.php?id={{ toid }}">{{ username }}</a></h2>
    </div>
    <form class="send_form" name="message" action="inbox.php" method="post" id="messageform">
        <div class="box pad">
            <input type="hidden" name="action" value="takecompose" />
            <input type="hidden" name="toid" value="{{ toid }}" />
            <input type="hidden" name="auth" value="{{ auth }}" />
            <div id="quickpost">
                <h3>Subject</h3>
                <input type="text" class="required" name="subject" size="95" value="{{ subject }}" /><br />
                <h3>Body</h3>
                <textarea id="body" class="required" name="body" cols="95" rows="10" onkeyup="resize('body')">{{ body }}</textarea>
            </div>
            <div id="preview" class="hidden"></div>
            <div id="buttons" class="center">
                <input type="button" value="Preview" onclick="Quick_Preview();" />
                <input type="submit" value="Send message" />
            </div>
        </div>
    </form>
</div>
