<title>{{ title }} :: {{ constant('SITE_NAME') }}</title>
<link>{{ constant('SITE_URL') }}/</link>
<description>{{ description }}</description>
<language>en-us</language>
<lastBuildDate>{{ date }}</lastBuildDate>
<docs>http://blogs.law.harvard.edu/tech/rss</docs>
<generator>{{ constant('SITE_NAME') }} Feed Class</generator>
