<item>
    <title><![CDATA[{{ title }}]]></title>
    <description><![CDATA[{{ description }}]]></description>
    <pubDate>{{ date }}</pubDate>
    <link>{{ page }}</link>
    <guid>{{ page }}</guid>
{% if comment %}
    <comments>{{ comment }}</comments>
{%- endif -%}
{%- if category %}
    <category><![CDATA[{{ category }}]]></category>
{% endif %}    <dc:creator>{{ creator }}</dc:creator>
</item>
