{% from 'macro/form.twig' import checked %}
<br />
<div id="reply_box">
{% if viewer.disablePosting %}
    <h4>Your posting privileges have been removed</h3>
{% else %}
    <h3>{% if forum %}Post reply{% else %}Post comment{% endif %}</h3>
    <div class="box pad">
        <table class="forum_post box vertical_margin hidden preview_wrap" id="{{ textarea.previewId }}">
            <colgroup>
{% if viewer.showAvatars %}
                <col class="col_avatar" />
{% endif %}
                <col class="col_post_body" />
            </colgroup>
            <tr class="colhead_dark">
                <td{% if viewer.showAvatars %} colspan="2"{% endif %}>
                    <div style="float: left;"><a href="#quickreplypreview">#------</a> by <strong>{{ viewer.id|user_full }}</strong> Just now
                    </div>
                    <div style="float: right;">
                        <a href="#quickreplypreview" class="brackets">Report</a>
                        &nbsp;
                        <a href="#">&uarr;</a>
                    </div>
                </td>
            </tr>
            <tr>
{% if viewer.showAvatars %}
                <td class="avatar" valign="top">
                    {{ avatar|raw }}
                </td>
{% endif %}
                <td class="body" valign="top">
                    {{ textarea.preview|raw }}
                </td>
            </tr>
        </table>
        <form class="send_form center" name="reply" id="quickpostform" action="{{ url }}" method="post"{% if not admin %} onsubmit="quickpostform.submit_button.disabled = true;"{% endif %}>
            <input type="hidden" name="action" value="{{ action }}" />
            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
            <input type="hidden" name="{{ name }}" value="{{ id }}" />
            <div id="quickreplytext">
                {{ textarea.field|raw }}
                <br />
            </div>
            <div class="preview_submit">
{% if not subbed %}
                <input id="subscribebox" type="checkbox" name="subscribe" tabindex="2"{{ checked(viewer.option('AutoSubscribe')) }} />
                <label for="subscribebox">Subscribe</label>
{% endif %}
{% if merge %}
                <input id="mergebox" type="checkbox" name="merge" tabindex="2" {{ checked(merge) }} />
                <label for="mergebox">Merge</label>
    {% if not viewer.option('DisableAutoSave') %}
                <script type="application/javascript">
                    var storedTempTextarea = new StoreText('quickpost', 'quickpostform', {{ id }});
                </script>
    {% endif %}
{% endif %}
                {{ textarea.button|raw }}
                <input type="submit" value="Post reply" id="submit_button" tabindex="1" />
            </div>
        </form>
    </div>
{% endif %}
</div>
