{{ header("Site log") }}
<div class="thin">
<div class="header">
    <h2>Site log</h2>
</div>
<form class="search_form" name="log" action="" method="get">
    <div class="box pad">
        <table cellpadding="6" cellspacing="1" border="0" class="layout border" width="100%">
            <tr>
                <td class="label"><strong>Search for:</strong></td>
                <td>
                    <input type="search" name="search" size="60" value="{{ search }}" />
                    &nbsp;
                    <input type="submit" value="Search log" />
                </td>
            </tr>
        </table>
    </div>
</form>

{{ paginator.linkbox|raw }}
    <table cellpadding="6" cellspacing="1" border="0" class="log_table border" id="log_table" width="100%">
        <tr class="colhead">
            <th>Event</th>
            <th>Time</th>
            <th>{% if search %}Filtering on &ldquo;{{ search }}&rdquo;{% endif %}</th>
        </tr>
{% if sitelog.error %}
    <tr class="nobr"><td colspan="2">Search request failed ({{ siteLog.errorMessage }}).</td></tr>
{% else %}
    {% for event in page %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}" id="log_{{ event.id }}">
            <td style="text-align: right">{{ event.id }}</td>
            <td class="nobr">
                {{ event.created|time_diff }}
            </td>
            <td>
                <span{% if event.class %} class="{{ event.class }}"{% endif %}>{{ event.message|raw }}</span>
            </td>
        </tr>
    {% else %}
    <tr class="nobr"><td colspan="2">Nothing found!</td></tr>
    {% endfor %}
</table>
{{ paginator.linkbox|raw }}
{% endif %}
</div>
{{ footer() }}
