{% from 'macro/form.twig' import checked %}
{% set reward = user.donorRewards %}
{% set title = user.donorTitles %}
{% if enabled_reward.HasSecondAvatar %}
    <tr id="pers_avatar2_tr">
        <td class="label tooltip_interactive"
            title="Congratulations! You've unlocked this option by reaching Special Rank #2. Thanks for donating. Your normal avatar will &quot;flip&quot; to this one when someone runs their mouse over the image. Please link to an avatar which follows the &lt;a href=&quot;rules.php&quot;&gt;site rules&lt;/a&gt;. The avatar width should be 150 pixels and will be resized if necessary."
            data-title-plain="Congratulations! You've unlocked this option by reaching Special Rank #2. Thanks for donating. Your normal avatar will &quot;flip&quot; to this one when someone runs their mouse over the image. Please link to an avatar which follows the site rules. The avatar width should be 150 pixels and will be resized if necessary.">
            <strong>Second avatar URL</strong>
        </td>
        <td>
            <input type="text" size="50" name="second_avatar" id="second_avatar" value="{{ reward.SecondAvatar }}" />
        </td>
    </tr>
{% endif %}
{% if enabled_reward.HasAvatarMouseOverText %}
    <tr id="pers_avatarhover_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #3. Thanks for donating. Text you enter in this field will appear when someone mouses over your avatar. All text should follow site rules. 200 character limit.">
            <strong>Avatar mouseover text</strong>
        </td>
        <td>
            <input type="text" size="50" name="avatar_mouse_over_text" id="avatar_mouse_over_text" value="{{ reward.AvatarMouseOverText }}" />
        </td>
    </tr>
{% endif %}
{% if enabled_reward.HasDonorIconMouseOverText %}
    <tr id="pers_donorhover_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #2. Thanks for donating. Text you enter in this field will appear when someone mouses over your donor icon. All text should follow site rules. 200 character limit.">
            <strong>Donor icon mouseover text</strong>
        </td>
        <td>
            <input type="text" size="50" name="donor_icon_mouse_over_text" id="donor_icon_mouse_over_text" value="{{ reward.IconMouseOverText }}" />
        </td>
    </tr>
{% endif %}
{% if enabled_reward.HasDonorIconLink %}
    <tr id="pers_donorlink_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #4. Thanks for donating. Links you enter in this field will be accessible when your donor icon is clicked. All links should follow site rules.">
            <strong>Donor icon link</strong>
        </td>
        <td>
            <input type="text" size="50" name="donor_icon_link" id="donor_icon_link" value="{{ reward.CustomIconLink|raw }}" />
        </td>
    </tr>
{% endif %}
{% if enabled_reward.HasCustomDonorIcon %}
    <tr id="pers_donoricon_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #5. Thanks for donating. Please link to an icon which you'd like to replace your default donor icon with. Icons must be 15 pixels wide by 13 pixels tall. Icons of any other size will be automatically resized.">
            <strong>Custom donor icon URL</strong>
        </td>
        <td>
            <input type="text" size="50" name="donor_icon_custom_url" id="donor_icon_custom_url" value="{{ reward.CustomIcon }}" />
        </td>
    </tr>
{% endif %}
{% if user.specialDonorRank >= 3 %}
    <tr id="pers_donorforum_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #5. Thanks for donating. You may select a prefix and suffix which will be used in the Donor Forum you now have access to.">
            <strong>Donor forum honorific</strong>
        </td>
        <td>
            <div class="field_div">
                <label><strong>Prefix:</strong> <input type="text" size="30" maxlength="30" name="donor_title_prefix" id="donor_title_prefix" value="{{ title.prefix }}" /></label>
            </div>
            <div class="field_div">
                <label><strong>Suffix:</strong> <input type="text" size="30" maxlength="30" name="donor_title_suffix" id="donor_title_suffix" value="{{ title.suffix }}" /></label>
            </div>
            <div class="field_div">
                <label><strong>Hide comma:</strong> <input type="checkbox" id="donor_title_comma" name="donor_title_comma"{{ checked(title.use_comma) }} /></label>
            </div>
            <strong>Preview:</strong> <span id="donor_title_prefix_preview"></span>{{ user.username }}<span id="donor_title_comma_preview">, </span><span id="donor_title_suffix_preview"></span>
        </td>
    </tr>
{% endif %}
