{% from 'macro/form.twig' import checked, selected %}
{% macro check_popup(name, value) %}
    <label>
        <input class="notification-popup" type="checkbox" name="notifications_{{ name }}_popup" id="notifications_{{ name }}_popup"{{ checked(value in [
            constant('\\Gazelle\\User\\Notification::DISPLAY_POPUP'),
            constant('\\Gazelle\\User\\Notification::DISPLAY_POPUP_PUSH'),
        ]) }} /> Pop-up
    </label>
{% endmacro %}
{% macro check_push(name, value) %}
    <label>
        <input class="notification-push" type="checkbox" name="notifications_{{ name }}_push" id="notifications_{{ name }}_push"{{ checked(value in [
            constant('\\Gazelle\\User\\Notification::DISPLAY_PUSH'),
            constant('\\Gazelle\\User\\Notification::DISPLAY_POPUP_PUSH'),
            constant('\\Gazelle\\User\\Notification::DISPLAY_TRADITIONAL_PUSH'),
        ]) }} /> Push
    </label>
{% endmacro %}
{% macro check_trad(name, value) %}
    <label>
        <input class="notification-trad" type="checkbox" name="notifications_{{ name }}_traditional" id="notifications_{{ name }}_traditional"{{ checked(value in [
            constant('\\Gazelle\\User\\Notification::DISPLAY_TRADITIONAL'),
            constant('\\Gazelle\\User\\Notification::DISPLAY_TRADITIONAL_PUSH'),
        ]) }} /> Traditional
    </label>
{% endmacro %}
<div id="notification">
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border user_options" id="notification_settings">
    <tr class="colhead_dark">
        <td colspan="2">
            <a href="#notification"><strong>Notification Settings</strong></a>
        </td>
    </tr>
    <tr id="notif_autosubscribe_tr">
        <td class="label tooltip" title="Enabling this will automatically subscribe you to any thread you post in.">
            <strong>Automatic thread subscriptions</strong>
        </td>
        <td>
            <input type="checkbox" name="autosubscribe" id="autosubscribe"{{ checked(user.option('AutoSubscribe')) }} />
            <label for="autosubscribe">Enable automatic thread subscriptions</label>
        </td>
    </tr>
    <tr id="notif_notifyunseededsnatch_tr">
        <td class="label tooltip" title="Enabling this will send you a PM alert whenever a torrent you have snatched is no longer being seeded. You can reseed it to earn BP.">
            <strong>Unseeded snatches alerts</strong>
        </td>
        <td>
            <input type="checkbox" name="notifyonunseededsnatch" id="notifyonunseededsnatch"{{ checked(not user.hasAttr('no-pm-unseeded-snatch')) }} />
            <label for="notifyonunseededsnatch">Receive PM alerts when a snatched upload is not being seeded and faces imminent removal</label>
        </td>
    </tr>
    <tr id="notif_notifyunseededupload_tr">
        <td class="label tooltip" title="Enabling this will send you a PM alert whenever a torrent you have uploaded is no longer being seeded. You can reseed it to earn BP.">
            <strong>Unseeded uploads alerts</strong>
        </td>
        <td>
            <input type="checkbox" name="notifyonunseededupload" id="notifyonunseededupload"{{ checked(not user.hasAttr('no-pm-unseeded-upload')) }} />
            <label for="notifyonunseededupload">Receive PM alerts when one of your uploads is not being seeded and faces imminent removal</label>
        </td>
    </tr>
    <tr id="notif_notifyondeleteseeding_tr">
        <td class="label tooltip" title="Enabling this will send you a PM alert whenever a torrent you are seeding is deleted.">
            <strong>Deleted seeding torrent alerts</strong>
        </td>
        <td>
            <input type="checkbox" name="notifyondeleteseeding" id="notifyondeleteseeding"{{ checked(user.notifyDeleteSeeding) }} />
            <label for="notifyondeleteseeding">Enable PM notifications when seeding torrents are deleted</label>
        </td>
    </tr>
    <tr id="notif_notifyondeletesnatched_tr">
        <td class="label tooltip" title="Enabling this will send you a PM alert whenever a torrent you've snatched is deleted.">
            <strong>Deleted snatched torrent alerts</strong>
        </td>
        <td>
            <input type="checkbox" name="notifyondeletesnatched" id="notifyondeletesnatched"{{ checked(user.notifyDeleteSnatch) }} />
            <label for="notifyondeletesnatched">Enable PM notification when snatched torrents are deleted</label>
        </td>
    </tr>
    <tr id="notif_notifyondeletedownloaded_tr">
        <td class="label tooltip" title="Enabling this will send you a PM alert whenever a torrent you've downloaded is deleted.">
            <strong>Deleted downloaded torrent alerts</strong>
        </td>
        <td>
            <input type="checkbox" name="notifyondeletedownloaded" id="notifyondeletedownloaded"{{ checked(user.notifyDeleteDownload) }} />
            <label for="notifyondeletedownloaded">Enable PM notification when downloaded torrents are deleted</label>
        </td>
    </tr>

    <tr>
        <td class="label"><strong>Push notifications</strong></td>
        <td>
            <div id="pushsettings">
{% if topic %}
                <span id="push-topic">{{ topic }}</span></br>
                <a id="send-test-push" class="brackets">Test push</a>
{% else %}
                <span id="push-topic">Cycle topic to initalize</span></br>
                <a id="send-test-push" class="brackets" hidden>Test push</a>
{% endif %}
                <a id="cycle-push-topic" class="brackets">Cycle topic</a>
{% if constant('PUSH_SETTINGS_WIKI_PAGE_ID') %}
                <a href="/wiki.php?action=article&id={{ constant('PUSH_SETTINGS_WIKI_PAGE_ID') }}" class="brackets">View wiki guide</a>
{% endif %}
            </div>
        </td>
    </tr>

    <tr>
        <td class="label">
            <strong>News announcements</strong>
        </td>
        <td>
            {{ _self.check_popup("News", settings.News) }}
            {{ _self.check_trad("News", settings.News) }}
            {{ _self.check_push("News", settings.News) }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <strong>Blog announcements</strong>
        </td>
        <td>
            {{ _self.check_popup("Blog", settings.Blog) }}
            {{ _self.check_trad("Blog", settings.Blog) }}
            {{ _self.check_push("Blog", settings.Blog) }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <strong>Inbox messages</strong>
        </td>
        <td>
            {{ _self.check_popup("Inbox", settings.Inbox) }}
            {{ _self.check_trad("Inbox", settings.Inbox) }}
            {{ _self.check_push("Inbox", settings.Inbox) }}
        </td>
    </tr>
    <tr>
        <td class="label tooltip" title="Enabling this will give you a notification when you receive a new private message from a member of {{ constant('SITE_NAME') }} staff.">
            <strong>Staff messages</strong>
        </td>
        <td>
            {{ _self.check_popup("StaffPM", settings.StaffPM) }}
            {{ _self.check_trad("StaffPM", settings.StaffPM) }}
            {{ _self.check_push("StaffPM", settings.StaffPM) }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <strong>Thread subscriptions</strong>
        </td>
        <td>
            {{ _self.check_popup("Subscription", settings.Subscription) }}
            {{ _self.check_trad("Subscription", settings.Subscription) }}
            <!-- TODO implement collection of subscription events -->
        </td>
    </tr>
    <tr>
        <td class="label tooltip" title="Enabling this will give you a notification whenever someone quotes you in the forums.">
            <strong>Quote notifications</strong>
        </td>
        <td>
            {{ _self.check_popup("Quote", settings.Quote) }}
            {{ _self.check_trad("Quote", settings.Quote) }}
            {{ _self.check_push("Quote", settings.Quote) }}
        </td>
    </tr>
{% if viewer.permitted('site_torrents_notify') %}
    <tr>
        <td class="label tooltip" title="Enabling this will give you a notification when the torrent notification filters you have established are triggered.">
            <strong>Torrent notifications</strong>
        </td>
        <td>
            {{ _self.check_popup("Torrent", settings.Torrent) }}
            {{ _self.check_trad("Torrent", settings.Torrent) }}
            {{ _self.check_push("Torrent", settings.Torrent) }}
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label tooltip" title="Enabling this will give you a notification when a torrent is added to a collage you are subscribed to.">
            <strong>Collage subscriptions</strong>
        </td>
        <td>
            {{ _self.check_popup("Collage", settings.Collage) }}
            {{ _self.check_trad("Collage", settings.Collage) }}
            {{ _self.check_push("Collage", settings.Collage) }}
        </td>
    </tr>
</table>
</div>
