<div id="personal">
<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border user_options" id="personal_settings">
    <tr class="colhead_dark">
        <td colspan="2">
            <a href="#personal"><strong>Personal Settings</strong></a>
        </td>
    </tr>
    <tr id="pers_avatar_tr">
        <td class="label tooltip_interactive"
            title="Please link to an avatar which follows the &lt;a href=&quot;rules.php&quot;&gt;site rules&lt;/a&gt;. The avatar width should be 150 pixels and will be resized if necessary."
            data-title-plain="Please link to an avatar which follows the site rules. The avatar width should be 150 pixels and will be resized if necessary.">
            <strong>Avatar URL</strong>
        </td>
        <td>
            <input type="text" size="50" name="avatar" id="avatar" value="{{ user.avatar }}" />
        </td>
    </tr>
{% include 'user/setting/donor.twig' with {'donor': donor} only %}
    <tr id="pers_proftitle_tr">
        <td class="label tooltip" title="You can customize your profile information with text and BBCode. Entering a title will label your profile information section. Unlock additional profile info boxes via Donor Ranks.">
            <strong>Profile heading</strong>
        </td>
        <td><input type="text" size="50" name="profile_title" id="profile_title" value="{{ profile.title }}" />
        </td>
    </tr>
    <tr id="pers_profinfo_tr">
        <td class="label tooltip" title="You can customize your profile information with text and BBCode. Entering a title will label your profile information section. Unlock additional profile info boxes via Donor Ranks.">
            <strong>Profile</strong>
        </td>
        <td>
            {{ profile.info.emit|raw }}
        </td>
    </tr>

{% if profile[1].info %}
    <tr id="pers_proftitle2_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #2.
        Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 2 heading</strong>
        </td>
        <td><input type="text" size="50" name="profile_title_1" id="profile_title_1" value="{{ profile[1].title }}" />
        </td>
    </tr>
    <tr id="pers_profinfo2_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #2.
        Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 2</strong>
        </td>
        <td>
            {{ profile[1].info.emit|raw }}
        </td>
    </tr>
{% endif %}

{% if profile[2].info %}
    <tr id="pers_proftitle3_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #3.
        Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 3 heading</strong>
        </td>
        <td><input type="text" size="50" name="profile_title_2" id="profile_title_2" value="{{ profile[2].title }}" />
        </td>
    </tr>
    <tr id="pers_profinfo3_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #3. Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 3</strong>
        </td>
        <td>
            {{ profile[2].info.emit|raw }}
        </td>
    </tr>
{% endif %}

{% if profile[3].info %}
    <tr id="pers_proftitle4_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #4. Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 4 heading</strong>
        </td>
        <td><input type="text" size="50" name="profile_title_3" id="profile_title_3" value="{{ profile[3].title }}" />
        </td>
    </tr>
    <tr id="pers_profinfo4_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #4. Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 4</strong>
        </td>
        <td>
            {{ profile[3].info.emit|raw }}
        </td>
    </tr>
{% endif %}

{% if profile[4].info %}
    <tr id="pers_proftitle5_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #5. Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 5 heading</strong>
        </td>
        <td><input type="text" size="50" name="profile_title_4" id="profile_title_4" value="{{ profile[4].title }}" />
        </td>
    </tr>
    <tr id="pers_profinfo5_tr">
        <td class="label tooltip" title="Congratulations! You've unlocked this option by reaching Donor Rank #5. Thanks for donating. You can customize your profile information with text and BBCode. Entering a title will label your profile information section.">
            <strong>Profile 5</strong>
        </td>
        <td>
            {{ profile[4].info.emit|raw }}
        </td>
    </tr>
{% endif %}
    <tr id="pers_lastfm_tr">
        <td class="label tooltip_interactive" title="This is used to display &lt;a href=&quot;http://www.last.fm/&quot;&gt;Last.fm&lt;/a&gt; information on your profile. Entering your Last.fm username will allow others to see your Last.fm account." data-title-plain="This is used to display Last.fm information on your profile. Entering your Last.fm username will allow others to see your Last.fm account.">
            <strong>Last.fm username</strong>
        </td>
        <td>
            <input type="text" size="50" name="lastfm_username" id="lastfm_username" value="{{ lastfm_username }}" autocomplete="off" />
        </td>
    </tr>
</table>
</div>
