{% from 'macro/form.twig' import selected -%}
{{ header('Missing Search') }}
<div class="thin">
    <h2>Missing</h2>
    {% include 'better/links.twig' only %}
    <form class="search_form" name="missing" action="" method="get">
        <input type="hidden" name="method" value="missing" />
        <table cellpadding="6" cellspacing="1" border="0" class="border" width="100%">
            <tr>
                <td class="label"><strong>Filter</strong></td>
                <td>
                    <select name="type">
                        <option value="checksum"{{ selected(types.checksum) }}>Missing Checksums</option>
                        <option value="tags"{{ selected(types.tags) }}>Bad Tags</option>
                        <option value="folders"{{ selected(types.folders) }}>Bad Folders</option>
                        <option value="files"{{ selected(types.files) }}>Bad Files</option>
                        <option value="lineage"{{ selected(types.lineage) }}>Missing Lineage</option>
                        <option value="artwork"{{ selected(types.artwork) }}>Missing Artwork</option>
                        <option value="artistimg"{{ selected(types.artistimg) }}>Missing Artist Images</option>
                        <option value="artistcollage"{{ selected(types.artistcollage) }}>Missing Artists Images in Artist Collages</option>
                        <option value="artistdesc"{{ selected(types.artistdesc) }}>Missing Artist Descriptions</option>
                        <option value="artistdiscogs"{{ selected(types.artistdiscogs) }}>Missing Artist Discogs ID</option>
                    </select>
                    <select name="filter">
                        <option value="all"{{ selected(filters.all) }}>All</option>
                        <option value="snatched"{{ selected(filters.snatched) }}>Snatched</option>
                        <option value="uploaded"{{ selected(filters.uploaded) }}>Uploaded</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label"><strong>Search</strong></td>
                <td>
                    <input type="search" name="search" size="60" value="{{ search }}" />
                </td>
            </tr>
            <tr><td>&nbsp;</td><td><input type="submit" value="Search" /></td></tr>
        </table>
    </form>
    {{ paginator.linkbox|raw }}
    <div class="box pad">
        <div class="torrent">
            <h3>There are {{ result_count }} {{ mode }} remaining
                {% if mode == 'torrents' and result_count > 1 and perms.zip_downloader %}
                    {% include 'better/zip.twig' with {torrent_ids: torrent_ids} only %}
                {% endif %}
            </h3>
        </div>
        {% if mode is same as('torrents') %}
            {% include 'better/torrents.twig' with {results: results, auth_key: auth_key, torrent_pass: torrent_pass, tokens: tokens} only %}
        {% elseif mode is same as('groups') %}
            <table width"=100%" class="torrent_table">
                {% for id, group in results %}
                    <tr>
                        <td><a href="torrents.php?groupid={{ id }}&amp;action=editgroup">[Edit]</a>&nbsp;&nbsp;{{ group.artist|raw }} - <a href="torrents.php?id={{ id }}" target="_blank">{{ group.name|raw }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table width"=100%" class="torrent_table">
                {% for id, name in results %}
                    <tr>
                        <td><a href="artist.php?artistid={{ id }}&amp;action=edit">[Edit]</a>&nbsp;&nbsp;<a href="artist.php?id={{ id }}">{{ name|raw }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {{ paginator.linkbox|raw }}
</div>
{{ footer() }}
