<table width"100%" class="torrent_table">
{% set v_tokens = viewer.tokenCount %}
{% for t in results %}
    {% set t_tokens = t.tokenCount %}
<tr class="torrent torrent_t{{ snatcher.showSnatch(t.id) ? ' snatched_torrent' : '' }}">
    <td>
        <span class="torrent_links_block">
            <a href="torrents.php?action=download&amp;id={{ t.id }}&amp;viewer.announceKey={{ viewer.announceKey }}" class="brackets tooltip" title="Download">DL</a>
            {% if t_tokens <= v_tokens %}
                | <a href="torrents.php?action=download&amp;id={{ t.id }}&amp;viewer.announceKey={{ viewer.announceKey
                }}&amp;usetoken=1" class="brackets tooltip" title="Use {{ t_tokens }}  FL Token{{ t_tokens|plural
                }}" onclick="return confirm('
                {%- if t.unseeded -%}
                    Warning! This torrent is not seeded at the moment, are you sure you want to use {{ t_tokens }}  token{{ t_tokens|plural }} here?
                {%- else -%}
                    Use {{ t_tokens }}  token{{ t_tokens|plural }} here
                {%- endif %}');">FL</a>
            {% endif %}
        </span>
        {{ t.group.displayTorrentLink(t.id)|raw }} [{{ t.group.year }}] [{{ t.group.releaseTypeName }}]
        <br />{% if t.label|length %}[&nbsp;{{ t.label|raw }}&nbsp;]{% endif %}
        <small>({{ t.size|octet_size }})</small>
        <div class="tags">{{ t.group.tagList|map(tag => "#{tag.name}")|join(', ') }}</div>
    </td>
</tr>
{% endfor %}
</table>
