<br />
<table>
<tr class="colhead">
    <td width="50%">
        Affected torrent groups
    </td>
    <td width="50%">
        Affected requests
    </td>
</tr>

<tr>
{% if not torrents %}
    <td style="vertical-align: top;"><i>None</i></td>
{% else %}
    <td style="vertical-align: top;"><ul class="nobullet">
    {% for t in torrents %}
        {% if t.artistId %}
        <li><a href="artist.php?id={{ t.artistId }}">{{ t.artistName }}</a> -
        {% endif %}
    <a href="torrents.php?id={{ t.torrentGroupId}} ">{{ t.torrentGroupName }}</a></li>
    {% endfor %}
    </ul></td>
{% endif %}

{% if not requests %}
    <td style="vertical-align: top;"><i>None</i></td>
{% else %}
    <td style="vertical-align: top;"><ul class="nobullet">
    {% for r in requests %}
        {% if r.artistId %}
    <li><a href="artist.php?id={{ r.artistId }}">{{ r.artistName }}</a> -
        {% endif %}
    <a href="requests.php?action=view&amp;id={{ r.requestId }}">{{ r.requestName }}</a></li>
    {% endfor %}
    </ul></td>
{% endif %}
</tr>
</table>
