<div class="box box2 thin">
    <div class="head">
        {{ verb|ucfirst }} a staff blog post
        <span style="float: right;">
            <a href="#" onclick="$('#postform').gtoggle(); this.innerHTML = (this.innerHTML == 'Hide' ? 'Show' : 'Hide'); return false;" class="brackets">{{
                show_form ? 'Show' : 'Hide' }}</a>
        </span>
    </div>
    <form class="{{ verb }}_form" name="blog_post" action="staffblog.php" method="post">
        <div id="postform" class="pad{{ show_form ? ' hidden' : '' }}">
            <input type="hidden" name="action" value="{{ verb == 'create' ? 'takenewblog' : 'takeeditblog' }}" />
            <input type="hidden" name="auth" value="{{ auth }}" />
{% if verb == 'edit' %}
            <input type="hidden" name="blogid" value="{{ blog.blogId }}" />
{% endif %}
            <div class="field_div">
                <h3>Title</h3>
                <input type="text" name="title" size="95" value="{{ blog.title }}" />
            </div>
            <div class="field_div">
                <h3>Body</h3>
                <textarea name="body" cols="95" rows="15">{{ blog.body }}</textarea> <br />
            </div>
            <div class="submit_div center">
                <input type="submit" value="{{ verb|ucfirst }} blog post" />
            </div>
        </div>
    </form>
</div>
