{{ header('Revert Revision ' ~ revision_id) }}
<div class="center thin">
<div class="header">
    <h2>Revert Confirm!</h2>
</div>
<div class="box pad">
    <form class="confirm_form" name="torrent_group" action="torrents.php" method="get">
        <input type="hidden" name="action" value="revert" />
        <input type="hidden" name="auth" value="{{ auth }}" />
        <input type="hidden" name="confirm" value="true" />
        <input type="hidden" name="groupid" value="{{ group_id }}" />
        <input type="hidden" name="revisionid" value="{{ revision_id }}" />
        <h3>You are planning to revert to the revision <a href="torrents.php?id={{ group_id }}&amp;revisionid={{ revision_id }}">{{ revision_id }}</a>.</h3>
        <input type="submit" value="Confirm" />
    </form>
</div>
</div>
{{ footer() }}
