<div class="box">
    <div class="head">
        <strong>Statistics</strong>
    </div>
    <ul class="nobullet">
    <li>Downloads: {{ stats.downloadTotal }}</li>
    <li>Leechers: {{ stats.leechTotal }}</li>
    <li>Snatches: {{ stats.snatchTotal }}</li>
    <li>Seeders: {{ stats.seedingTotal }}</li>
    <li>Bookmarked by {{ stats.bookmarkTotal }} user{{ stats.bookmarkTotal|plural }}</li>
    </ul>
</div>
