{{ header('Applicant administration') }}
<div class="thin">

<div class="linkbox">
    <a href="/apply.php" class="brackets">Apply</a>
    <a href="/apply.php?action=view" class="brackets">Current applications</a>
    <a href="/apply.php?action=view&amp;status=resolved" class="brackets">Resolved applications</a>
</div>

<h3>Manage roles at {{ constant('SITE_NAME') }}</h3>

<div class="box">
    <div class="head">Current Roles</div>
    <div class="pad">

{% if not role %}
    {% for r in list %}
        {% if loop.first %}
        <table>
        {% endif %}
            <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
                <td>
                    <div class="head">
                        <span style="font-size: medium"><a href="apply.php?action=edit&amp;id={{ r.id }}">{{ r.title }}</a></span> ({% if r.isPublished %}published{% else %}archived{% endif %})
                        <br />Role created {{ r.created|time_diff }} by {{ r.userId|user_url }}
                        {% if r.modified != r.created %}
                            last modified {{ r.modified|time_diff }}
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="pad">{{ r.description|bb_format }}</div></td>
            </tr>
        {% if loop.last %}
        </table>
        {% endif %}
    {% else %}
        <p>There are no current roles. Create one using the form below.</p>
    {% endfor %}
{% endif %}
    </div>
</div>

{% include 'applicant/role.twig' with {
    'text':   text,
    'title':  'Create a new role',
    'viewer': viewer,
} %}
