{{ header('Bonus Points Purchase History', {'js': 'bonus'}) }}
{% set self = (user.id == viewer.id) %}
<div class="header">
    <h2>Bonus Points Spending History{% if not self %} for {{ user.id|user_url }}{% endif %}</h2>
</div>
<div class="linkbox">
    <a href="wiki.php?action=article&amp;name=bonuspoints" class="brackets">About Bonus Points</a>
    <a href="bonus.php" class="brackets">Bonus Point Shop</a>
    <a href="bonus.php?action=bprates{% if viewer.permitted('admin_bp_history') and not self %}&amp;userid={{ user.id }}{% endif %}" class="brackets">Bonus Point Rates</a>
</div>

<div class="thin">
{% if paginator.offset == 0 %}
    <div class="pad box">
    {% if pool_total %}
        {% for p in pool_summary %}
        <p>
            {%- if self %}You{% else %}{{ user.username }}{% endif %} spent
            {{ p.total|number_format }} bonus points to donate to the {{ p.name }}
            {% if date(now) > date(p.until_date) %}ended {% else %}ending in {% endif -%}
            {{- p.until_date|time_diff }}.
        </p>
        {% endfor %}
    {% endif -%}
    {%- if summary.total -%}
        <p>
        {%- if self %}You{% else %}{{ user.id|user_url }}{% endif %} spent
        {% if pool_total %} a further {% endif -%} {{ summary.total|number_format }}
        bonus points to purchase {{ summary.nr|number_format }} item{{ summary.nr|plural }}.
        </p>
    {% endif %}
    {%- if pool_total and summary.total %}
        <p>That makes a grand total of {{ (pool_total + summary.total)|number_format }} points,
        {%- set total = pool_total + summary.total -%}
        {%- if total > 500000 %} very
        {%- elseif total >  1000000 %} very, very
        {%- elseif total >  5000000 %} extremely
        {%- elseif total > 10000000 %} exceptionally
        {%- endif %} well done!</p>
    {%- endif %}
    </div>
{% endif %}

{% if not history %}
    <h3>No purchase history</h3>
{% else %}
    {% if paginator.offset == 0 %}
    <br />
    <h3>Item summary</h3>
    <table>
        <tr class="colhead">
            <td>Item</td>
            <td style="text-align: right; width: 100px">Total</td>
            <td style="text-align: right; width: 100px">Cost</td>
        </tr>
        {% set total_item = 0 %}
        {% set total_cost = 0 %}
        {% for i in item %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
            {% set total_item = total_item + i.total %}
            {% set total_cost = total_cost + i.cost %}
            <td>{{ i.title }}</td>
            <td style="text-align: right;">{{ i.total|number_format }}</td>
            <td style="text-align: right;">{{ i.cost|number_format }}</td>
        </tr>
        {% endfor %}
        <tr style="border-top: #333333 solid 1px;">
            <td><i>Total</i></td>
            <td style="text-align: right;">{{ total_item|number_format }}</td>
            <td style="text-align: right;">{{ total_cost|number_format }}</td>
        </tr>
    </table>
    <br />
    {% endif %}

    <h3>Purchase Details</h3>
    {{ paginator.linkbox|raw }}
    <table>
        <tr class="colhead">
            <td>Item</td>
            <td style="text-align: right; width: 50px">Price</td>
            <td style="width:180px">Purchase Date</td>
            <td>For</td>
        </tr>
    {% for h in history %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
            <td>{{ h.Title }}</td>
            <td style="text-align: right;">{{ h.Price|number_format }}</td>
            <td>{{ h.PurchaseDate|time_diff }}</td>
            <td>{% if h.OtherUserID > 0 %}{{ h.OtherUserID|user_url }}{% else %}&nbsp;{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    {{ paginator.linkbox|raw }}
{% endif %}
</div>
{{ footer() }}
