<tr>
    <td class="label tooltip" title="Upload amount in bytes. Also accepts e.g. +20GB or -35.6364MB on the end.">Uploaded:</td>
    <td>
        <input type="hidden" name="OldUploaded" value="{{ up }}" />
        <input type="text" size="20" name="Uploaded" value="{{ up }}" />
    </td>
</tr>
<tr>
    <td class="label tooltip" title="Download amount in bytes. Also accepts e.g. +20GB or -35.6364MB on the end.">Downloaded:</td>
    <td>
        <input type="hidden" name="OldDownloaded" value="{{ down }}" />
        <input type="text" size="20" name="Downloaded" value="{{ down }}" />
    </td>
</tr>
<tr>
    <td class="label tooltip" title="Bonus Points.">Bonus Points:</td>
    <td>
        <input type="hidden" name="OldBonusPoints" value="{{ bonus }}" />
        <input type="text" size="20" name="BonusPoints" value="{{ bonus }}" />
    </td>
</tr>
<tr>
    <td class="label tooltip" title="Personal Collages.">Personal Collages:</td>
    <td>
        <input type="hidden" name="OldCollages" value="{{ collages }}" />
        <input type="text" size="20" name="Collages" value="{{ collages }}" />
{% if donor_collages > 0 %}
            <p>Donor perks provide an extra {{ donor_collages }} collages <em>in addition</em> to this amount.</p>
{% endif %}
    </td>
</tr>
<tr>
    <td class="label tooltip" title="Enter a username.">Transfer buffer from user:</td>
    <td>
        <input type="text" size="16" name="MergeStatsFrom" /> Upload and download from the specified user will be drained into this user.
        Do <b>not</b> edit user upload/down and transfer buffer at the same time.
    </td>
</tr>
