{% from 'macro/form.twig' import checked %}
<tr id="comm_unlimited_download">
    <td class="label tooltip" title="">Unlimited Torrent Downloads</td>
    <td><input type="checkbox" name="unlimitedDownload" id="unlimitedDownload"{{ checked(user.hasUnlimitedDownload) }} />
    If checked, user is not subject to rate limiting of torrent files (i.e. [DL] links).
    <p>
{% if prl.metrics is empty %}
    Download/Snatch rate limits do not apply to {{ user.userclassName }}.
{% else %}
    {% set snatches = user.stats.snatchUnique %}
    {% set downloads = user.stats.downloadUnique %}
    {% set min_snatches = downloads / prl.metrics.factor %}
    <ul class="nobullet">
    <li>{{ user.username }} has {{ snatches|number_format }} unique snatch{{ snatches|plural('es') }} and {{
        downloads|number_format }} unique download{{ downloads|plural }} which give a factor of {{
        user.downloadSnatchFactor|number_format(2) }}</li>
    <li>{{ user.userclassName }} factor is {{ prl.metrics.factor }}, which represents {{
         min_snatches|number_format(0) }} snatch{{ snatches|plural('es') }}
     {% if snatches < min_snatches %}(deficit = {{ (min_snatches - snatches)|number_format }}){% endif %}
     </li>
    <li>Allowed download overshoot for the previous 24 hours is {{ prl.metrics.overshoot }}, recent activity is {{ user.torrentRecentDownloadCount|number_format }} downloaded.</li>
    {% if not prl.safeFactor and not prl.safeOvershoot %}
    <li><strong class="important_text">Downloads are blocked for 24 hours or until more torrents are snatched.</strong></li>
    {% endif %}
{% endif %}
    </p>
    </td>
</tr>
