<table class="layout" id="user_privs_box">
    <tr class="colhead">
        <td colspan="2">
            User Privileges
        </td>
    </tr>
    <tr>
        <td class="label">Disable:</td>
        <td>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisablePosting" id="DisablePosting"{{ disable.posting|checked }} />
            <label for="DisablePosting">Posting</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableForums" id="DisableForums"{{ disable.forum|checked }} />
            <label for="DisableForums">Forums</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableIRC" id="DisableIRC"{{ disable.irc|checked }} />
            <label for="DisableIRC">IRC</label></span>
{% if permission.disable_any %}
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableAvatar" id="DisableAvatar"{{ disable.avatar|checked }} />
            <label for="DisableAvatar">Avatar</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisablePoints" id="DisablePoints"{{ disable.bonus|checked }} />
            <label for="DisablePoints">Bonus Points</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableInvites" id="DisableInvites"{{ disable.invite|checked }} />
            <label for="DisableInvites">Invites</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableLeech" id="DisableLeech"{{ disable.leech|checked }} />
            <label for="DisableLeech">Leech</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisablePM" id="DisablePM"{{ disable.pm|checked }} />
            <label for="DisablePM">PM</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableRequests" id="DisableRequests"{{ disable.request|checked }} />
            <label for="DisableRequests">Requests</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableUpload" id="DisableUpload"{{ disable.upload|checked }} />
            <label for="DisableUpload">Torrent upload</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableTagging" id="DisableTagging"{{ disable.tag|checked }} />
            <label for="DisableTagging" class="tooltip" title="This only disables a user's ability to delete tags.">Tagging</label></span>
            <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="DisableWiki" id="DisableWiki"{{ disable.wiki|checked }} />
            <label for="DisableWiki">Wiki</label></span>
{% endif %}
        </td>
    </tr>
    <tr>
        <td class="label">Reason:</td>
        <td>
            <input type="text" class="wide_input_text" name="UserReason" /> This message will be transmitted, along with the disable action, to the user in a PM.
            If left blank, the changes will be registered but the user will not be alerted.
        </td>
    </tr>
{% if permission.disable_any %}
    <tr>
        <td class="label">Hacked:</td>
        <td>
            <input type="checkbox" name="SendHackedMail" id="SendHackedMail" /> <label for="SendHackedMail">Send hacked account email</label> to
            <select name="HackedEmail">
{% for e in email %}
                <option value="{{ e.0 }}">{{ e.0 }} - {{ e.1 }}</option>
{% endfor %}
            </select>
            <br />Use when disabling an account due to suspected misuse. (Checking this will disable the account).
        </td>
    </tr>
    <tr>
        <td class="label">Account:</td>
        <td>
            <select name="UserStatus">
                <option value="0"{{ is_confirmed|selected }}>Unconfirmed</option>
                <option value="1"{{ is_enabled|selected   }}>Enabled</option>
                <option value="2"{{ is_disabled|selected  }}>Disabled</option>
{% if permission.delete_user %}
                <optgroup label="-- WARNING --">
                    <option value="delete">Delete account</option>
                </optgroup>
{% endif %}
            </select>
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label tooltip" title="Enter a comma-delimited list of forum IDs that the user is no longer allowed to access">Prohibited forums:</td>
        <td>
            <input type="text" class="wide_input_text" name="RestrictedForums" value="{{ forum.restricted }}" />
        </td>
    </tr>
    <tr>
        <td class="label tooltip" title="Enter a comma-delimited list of forum IDs that the user is allowed to access">Extra forums:</td>
        <td>
            <input type="text" class="wide_input_text" name="PermittedForums" value="{{ forum.permitted }}" />
        </td>
    </tr>
</table>
