{% from 'macro/form.twig' import checked, selected %}
<table class="layout" id="user_privs_box">
    <tr class="colhead">
        <td colspan="2">
            User Privileges
        </td>
    </tr>
    <tr>
        <td class="label">Disable:</td>
        <td>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableForums" id="DisableForums"{{ checked(user.disableForums) }} /> Forums</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableIRC" id="DisableIRC"{{ checked(user.disableIRC) }} /> IRC</label>
            </span>
            <span>
{% if viewer.permitted('users_disable_any') %}
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableAvatar" id="DisableAvatar"{{ checked(user.disableAvatar) }} /> Avatar</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisablePoints" id="DisablePoints"{{ checked(user.disableBonusPoints) }} /> Bonus Points</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableInvites" id="DisableInvites"{{ checked(user.disableInvites) }} /> Invites</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableLeech" id="DisableLeech"{{ checked((not user.canLeech)) }} /> Leech</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisablePM" id="DisablePM"{{ checked(user.disablePM) }} /> PM</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableRequests" id="DisableRequests"{{ checked(user.disableRequests) }} /> Requests</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableUpload" id="DisableUpload"{{ checked(user.disableUpload) }} /> Torrent upload</label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block" class="tooltip" title="This only disables a user's ability to delete tags.">
                <input type="checkbox" name="DisableTagging" id="DisableTagging"{{ checked(user.disableTagging) }} /> Tagging
                </label>
            </span>
            <span>
                <label style="width: 110px; display: inline-block"><input type="checkbox" name="DisableWiki" id="DisableWiki"{{ checked(user.disableWiki) }} /> Wiki</label>
            </span>
            <div><i>Note:</i> when setting invites to disabled, access to the invitations forum is restricted automatically. If you re-enable invites, you must explicitly remove (or maintain) the forum restriction.</div>
{% endif %}
        </td>
    </tr>

    <tr>
        <td class="label">Reason:</td>
        <td>
            <input type="text" class="wide_input_text" name="UserReason" /> This message will be transmitted, along with the disable action, to the user in a PM.
            If left blank, the changes will be registered but the user will not be alerted.
        </td>
    </tr>
{% if viewer.permitted('users_disable_any') %}
    <tr>
        <td class="label">Hacked:</td>
        <td>
            <input type="checkbox" name="SendHackedMail" id="SendHackedMail" /> <label for="SendHackedMail">Send hacked account email</label> to
            <select name="HackedEmail">
    {% for e in history.email(asn) %}
                <option value="{{ e.email }}">{{ e.email }} - {{ e.created }}</option>
    {% endfor %}
            </select>
            <br />Use when disabling an account due to suspected misuse. (Checking this will disable the account).
        </td>
    </tr>
    <tr>
        <td class="label">Account:</td>
        <td>
            <select name="UserStatus">
                <option value="0"{{ selected(user.isUnconfirmed) }}>Unconfirmed</option>
                <option value="1"{{ selected(user.isEnabled)     }}>Enabled</option>
                <option value="2"{{ selected(user.isDisabled)    }}>Disabled</option>
    {% if viewer.permitted('users_delete_users') %}
                <optgroup label="-- WARNING --">
                    <option value="delete">Delete account</option>
                </optgroup>
    {% endif %}
            </select>
        </td>
    </tr>
{% endif %}
    <tr>
        <td class="label tooltip" title="Enter a comma-delimited list of forum IDs that the user is no longer allowed to access">Prohibited forums:</td>
        <td>
            <input type="text" class="wide_input_text" name="RestrictedForums" value="{{ user.forbiddenForums|join(', ') }}" />
            {% if forum.restricted_names %}
            <br />{{ forum.restricted_names }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="label tooltip" title="Enter a comma-delimited list of forum IDs that the user is allowed to access">Extra forums:</td>
        <td>
            <input type="text" class="wide_input_text" name="PermittedForums" value="{{ user.permittedForums|join(', ') }}" />
            {% if forum.permitted_names %}
            <br />{{ forum.permitted_names }}
            {% endif %}
        </td>
    </tr>
</table>
