<div class="thin">
<div class="header">
    <h2><a href="user.php?id={{ user.id }}">{{ user.username }}</a> &rsaquo; Email history</h2>
</div>
<table>
    <tr><th colspan="3">Email History</th></tr>
    <tr>
        <th>Address</th>
        <th>Registered since</th>
        <th>Registered from</th>
    </tr>
{% for i in user.emailHistory  %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2 }}
            <a href="user.php?action=search&amp;ip_history=on&amp;ip={{ i.0 }}" class="brackets tooltip" title="Shared with other users?">S</a>
            <a href="https://whatismyipaddress.com/ip/{{ i.0 }}" class="brackets tooltip" title="Search WIMIA.com">WI</a>
        </td>
    </tr>
{% endfor %}
</table>

{% for r in user.emailDuplicateHistory %}
{% if loop.first %}
<br />
<div class="header">
<h3>Duplicate email addresses used</h3>
</div>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Registered since</th>
        <th>Registered from</th>
        <th>Enabled</th>
        <th>Donor</th>
        <th>Warned until</th>
    </tr>
{% endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td><a href="userhistory.php?action=email&userid={{ r.user_id }}">{{ r.user.username }}</a></td>
        <td>{{ r.user.email }}</td>
        <td>{{ r.created }}</td>
        <td>{{ r.ipv4 }}
            <a href="user.php?action=search&amp;ip_history=on&amp;ip={{ r.ipv4 }}" class="brackets tooltip" title="Shared with other users?">S</a>
            <a href="https://whatismyipaddress.com/ip/{{ r.ipv4 }}" class="brackets tooltip" title="Search WIMIA.com">WI</a>
        </td>
        <td>{{ r.user.isEnabled ? 'yes' : 'no' }}</td>
        <td>{{ r.user.isDonor ? 'yes' : 'no' }}</td>
        <td>{{ r.user.isWarned ? r.user.endWarningDate(0) : 'no' }}</td>
    </tr>
{% if loop.last %}
</table>
<br />
{% endif %}
{% endfor %}
<br />
</div>
