{% from 'macro/ipv4.twig' import ip_search %}
{{ header(user.username ~ " › Email History", {'js': 'resolve-ip'}) }}
<div class="thin">
<div class="header">
    <h2><a href="{{ user.location }}">{{ user.username }}</a> &rsaquo; Email history</h2>
</div>
<div class="header">
<h3>Email History</h3>
</div>
<table>
    <tr>
        <th>Address</th>
        <th>Registered</th>
        <th>Registered from</th>
        <th>IP</th>
        <th>CC</th>
        <th>ASN</th>
        <th>Useragent</th>
    </tr>
{% for r in history.email(asn)  %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td>{{ r.email }}</td>
        <td>{{ r.created }}</td>
        <td>{{ ip_search(r.ipv4) }} (<span class="resolve-ipv4" data-ip="{{ r.ipv4 }}">Resolving...</span>)</td>
        <td>{{ r.cc }}</td>
        <td>{{ r.asn }}</td>
        <td>{{ r.useragent }}</td>
    </tr>
{% endfor %}
</table>

{% for r in history.emailDuplicate(asn) %}
{% if loop.first %}
<br />
<div class="header">
<h3>Duplicate email addresses used</h3>
</div>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Registered</th>
        <th>IP</th>
        <th>CC</th>
        <th>ASN</th>
        <th>Useragent</th>
        <th>Enabled</th>
        <th>Donor</th>
        <th>Warned until</th>
    </tr>
{% endif %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td><a href="userhistory.php?action=email&userid={{ r.user_id }}">{{ r.user.username }}</a></td>
        <td>{{ r.user.email }}</td>
        <td>{{ r.created }}</td>
        <td>{{ ip_search(r.ipv4) }} (<span class="resolve-ipv4" data-ip="{{ r.ipv4 }}">Resolving...</span>)</td>
        <td>{{ r.cc }}</td>
        <td>{{ r.asn }}</td>
        <td>{{ r.useragent }}</td>
        <td>{{ r.user.isEnabled ? 'yes' : 'no' }}</td>
        <td>{{ r.user is donor ? 'yes' : 'no' }}</td>
        <td>{{ r.user.warningExpiry ?? 'no' }}</td>
    </tr>
{% if loop.last %}
</table>
<br />
{% endif %}
{% endfor %}
<br />
</div>
{{ footer() }}
