{% from 'macro/form.twig' import select_invite_source -%}

{{ header('Invites') }}
<div class="thin">
<div class="header">
    <h2>{{ user.id|user_url }} &rsaquo; Invites</h2>
    <div class="linkbox">
        <a href="user.php?action=invitetree{% if not own_profile %}&amp;userid={{ user.id }}{% endif %}" class="brackets">Invite tree</a>
{% if user.permitted('users_view_invites') %}
        <a href="tools.php?action=invite_pool" class="brackets">Invite pool</a>
{% endif %}
    </div>
</div>

{% set is_site_inviter = inviter_config|length %}

{% if user.disableInvites %}
<div class="box pad" style="text-align: center;">
    <strong class="important_text">Your invites have been disabled.</strong>
</div>

{% elseif user.onRatioWatch or not user.canLeech %}
<div class="box pad" style="text-align: center;">
    <strong class="important_text">You may not send invites while on Ratio Watch or while your leeching privileges are disabled.
    Please read <a href="wiki.php?action=article&amp;id={{ wiki_ratio_watch }}">this article</a> for more information.</strong>
</div>

{% elseif not user.canPurchaseInvite %}
<div class="box pad" style="text-align: center;">
    <strong class="important_text">Your user class is not allowed to send invites.
        Please read <a href="wiki.php?action=article&amp;id={{ wiki_user_classes }}">this article</a> for more information.</strong>
</div>

{% elseif not invites_open and not user.permitted('site_can_invite_always') %}
<div class="box pad notice">
    <p>The user limit has been reached: you are unable to send invites at this time.
    Please wait until the enabled user count falls below {{ constant('USER_LIMIT') }}.</p>
</div>

{% elseif own_profile and user.canInvite %}
    {% if user.unusedInviteTotal < 1 and not user.permitted('site_send_unlimited_invites') %}
<div class="box pad notice">
    <p>To invite someone, you first need to buy an invite in the <a href="bonus.php">bonus shop</a>.
</div>
    {% else %}
<div class="box pad">
    <p>Please note that selling, trading, or publicly giving away our invitations &mdash;&nbsp;or responding
    to public invite requests&nbsp;&mdash; is strictly forbidden, and may result in you and your entire invite tree being banned.</p>
    <p>Do not send an invite to anyone who has previously had an {{ constant('SITE_NAME') }} account.
    Please direct them to {{ constant('BOT_DISABLED_CHAN') }} on {{ constant('BOT_SERVER') }} if they wish to reactivate their account.</p>
    <p>Remember that you are responsible for ALL invitees, and your account and/or privileges may be disabled due to your invitees' actions.
    You should know and trust the person you're inviting. If you aren't familiar enough with the user to trust them, do not invite them.</p>
</div>
<div class="box box2">
    <form class="send_form pad" name="invite" action="user.php" method="post">
    {% if is_site_inviter %}
        <div class="field_div">
            <div class="label">Invite source:</div>
            <div class="input">
            <td class="nobr">{{ select_invite_source(0, inviter_config, user_source) }}</td>
            </div>
        </div>
    {% endif %}
        <div class="field_div">
            <div class="label">Email address:</div>
            <div class="input">
                <input type="email" name="email" size="40" />
            </div>
        </div>
    {% if user.permitted('users_invite_notes') %}
        <div class="field_div">
            <div class="label">Staff Note:</div>
            <div class="input">
                <input type="text" name="reason" size="40" maxlength="255" />
            </div>
        </div>
    {% endif %}
        <div class="field_div">
            <div class="label">&nbsp;</div>
            <div class="input">
                <label><input type="checkbox" name="agreement" /> I have read and agree to the information written above.</label>
            </div>
        </div>
        <div class="field_div">
            <div class="label">&nbsp;</div>
            <div class="input">
                <input type="hidden" name="action" value="take_invite" />
                <input type="hidden" name="auth" value="{{ user.auth }}" />
                <input type="submit" value="Invite" />
            </div>
        </div>
    </form>
</div>
    {% endif %}
{% endif %}

{% for p in user.pendingInviteList %}
    {% if loop.first %}
<h3>Pending invites</h3>
<div class="box pad">
    <table width="100%">
        <tr class="colhead">
            <td>Email address</td>
            <td>Expires in</td>
            <td>Key</td>
            <td>Invite link</td>
            <td>Delete invite</td>
        </tr>
    {% endif %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
            <td>{{ p.email }}</td>
            <td>{{ p.expires|time_diff }}</td>
            <td>{{ p.invite_key }}</td>
            <td><a href="register.php?invite={{ p.invite_key }}">Invite link</a></td>
            <td><a href="user.php?action=delete_invite&amp;invite={{ p.invite_key }}&amp;auth={{ user.auth }}"
                onclick="return confirm('Are you sure you want to delete this invite?');">Delete invite</a></td>
        </tr>
    {% if loop.last %}
    </table>
    {% endif %}
</div>
{% endfor %}

{% if is_site_inviter %}
<form action="" method="post">
{% endif %}
<h3>Invitee list
{% if is_site_inviter %}
    {% if edit_source %}
    <a class="brackets" href="user.php?action=invite">View</a>
    {% else %}
    <a class="brackets" href="user.php?action=invite&edit=source">Edit sources</a>
    {% endif %}
{% endif %}
</h3>
<div class="box pad">
    <table class="invite_table m_table" width="100%">
        <tr class="colhead">
            <td class="m_th_left nobr">{{ heading|column('username') }}</td>
            <td class="nobr">{{ heading|column('email') }}</td>
            <td class="nobr">{{ heading|column('joined') }}</td>
            <td class="nobr">{{ heading|column('lastseen') }}</td>
            <td class="m_th_right nobr">{{ heading|column('uploaded') }}</td>
            <td class="m_th_right nobr">{{ heading|column('downloaded') }}</td>
            <td class="m_th_right nobr">{{ heading|column('ratio') }}</td>
{% if is_site_inviter %}
            <td class="nobr">Source</td>
{% endif %}
        </tr>
{% for u in invited %}
        <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
            <td class="td_username">{{ u.user_id|user_full|raw }}</td>
            <td class="td_email">{{ u.email }}</td>
            <td class="td_join_date">{{ u.join_date|time_diff }}</td>
            <td class="td_last_access">{{ u.last_access|time_diff }}</td>
            <td class="td_up m_td_right">{{ u.uploaded|octet_size }}</td>
            <td class="td_dl m_td_right">{{ u.downloaded|octet_size }}</td>
            <td class="td_ratio m_td_right">{{ ratio(u.uploaded, u.downloaded) }}</td>
    {% if is_site_inviter %}
        {% if edit_source %}
            <td class="nobr">{{ select_invite_source(u.user_id, inviter_config, user_source) }}</td>
        {% else %}
            <td class="nobr">{{ user_source[u.user_id].name|default('<i>not set</i>')|raw }}</td>
        {% endif %}
    {% endif %}
        </tr>
{% endfor %}
{% if is_site_inviter and edit_source %}
        <tr>
            <td colspan="7">&nbsp;</td>
            <td><input type="submit" value="Update" /></td>
        </tr>
{% endif %}
    </table>
{% if is_site_inviter %}
    <input type="hidden" name="action" value="invite" />
    <input type="hidden" name="auth" value="{{ user.auth }}" />
    <input type="hidden" name="user_id" value="{{ user.id }}" />
</form>
{% endif %}
</div>
</div>
{{ footer() }}
