{% set summary       = tree.summary %}
{% set max_depth     = summary.depth %}
{% set prev_depth    = summary.depth %}
{% set invitee_total = summary.total %}
{% set override      = viewer.isStaff or viewer.id == tree.user.id %}
{% for invitee in tree.inviteTree %}
{%  if loop.first %}
<p>This tree has {{ invitee_total|number_format }} {%
    if invitee_total == 1 %}entry{% else %}entries{% endif %}, {{
    summary.branch|number_format }} branch{{
    summary.branch|plural('es') }}, and a height of {{
    summary.depth }}.
    It has
{%-     for userclass, total in summary.userclass -%}
{{          loop.last and invitee_total > 1 ? ' and' : (loop.first ? '' : ',') }}
{{          total|number_format }}
{%          if total == 1 -%}
{{              userclass -}}
{%          else -%}
{%              if userclass == 'Torrent Celebrity' %}Torrent Celebrities{% else %}{{ userclass }}s{% endif -%}
{%          endif %} ({{ (total / invitee_total * 100)|number_format }}%)
{%-     endfor -%}.
{{      summary.disabled|number_format }}{% if summary.disabled == 1 %} user is {%
            else %} users are {% endif -%} disabled ({{
            (summary.disabled / invitee_total * 100)|number_format }}%) and {{
            summary.donor|number_format }}{% if summary.donor == 1 %} user has{%
            else %} users have{% endif %} donated ({{
            (summary.donor / invitee_total * 100)|number_format }}%).
</p>
<p>
    The amount uploaded by direct invitees is {{ summary.direct.up|octet_size }};
    the amount downloaded by direct invitees is {{ summary.direct.down|octet_size }} and the
    aggregate ratio is <span class="stat">{{ ratio(summary.direct.up, summary.direct.down) }}</span>.
</p>

{%      if summary.depth > 1 %}
<p>
    The total amount uploaded by the entire tree is {{ summary.uploaded|octet_size }};
    the total amount downloaded is {{ summary.downloaded|octet_size }} and the
    aggregate ratio is <span class="stat">{{ ratio(summary.uploaded, summary.downloaded) }}</span>.
</p>
{%      endif %}

{%      if info.paranoid %}
<p style="font-weight: bold;">
{{          summary.paranoid|number_format }} user{{summary.paranoid|plural }} ({{ (summary.paranoid / invitee_total * 100)|number_format }}%)
{{          summary.paranoid == 1 ? 'is' : 'are' }} too paranoid to have their stats shown here,
and {{ summary.paranoid == 1 ? 'was' : 'were' }} not factored into the upload and download totals.
</p>
{%      endif %}
<hr />
{%  endif %}
{%  if invitee.depth > prev_depth %}
{{      '<ul class="invitetree"><li>'|repeat(invitee.depth - prev_depth)|raw }}
{%  elseif invitee.depth < prev_depth %}
{{      '</li></ul>'|repeat(prev_depth - invitee.depth)|raw }}
    </li>
    <li>
{%  else %}
    </li>
    <li>
{%  endif %}
    <strong><a href="user.php?id={{ invitee.user_id }}">{{ invitee.username }}</a></strong>
{%  if invitee.disabled %} <a href="rules.php"><img src="{{ constant('STATIC_SERVER')
    }}/common/symbols/disabled.png" alt="Banned" title="Disabled" class="tooltip" /></a>{% endif %}
{%  if max_depth < invitee.depth %}
{%      set max_depth = invitee.depth %}
{%  endif %}
{%  set prev_depth = invitee.depth %}
{%  if invitee.paranoid_up %}<i>{% endif %}
        uploaded&nbsp;<strong>{% if override %}{{ invitee.uploaded|octet_size }}{% else %}Hidden{% endif %}</strong>
{%- if invitee.paranoid_up %}</i>{% endif %},
{%  if invitee.paranoid_down %}<i>{% endif %}
        downloaded&nbsp;<strong>{% if override %}{{ invitee.downloaded|octet_size }}{% else %}Hidden{% endif %}</strong>
{%- if invitee.paranoid_down %}</i>{% endif %},
        ratio&nbsp;<strong>
{%- if invitee.paranoid_down or invitee.paranoid_up %}
{%      if override -%}
            <i>{{ ratio(invitee.uploaded, invitee.downloaded) }}</i>
{%      else -%}
            Hidden
{%      endif -%}
{%  else -%}
{{          ratio(invitee.uploaded, invitee.downloaded) }}
{%  endif -%}
        </strong>
        <span title="Required ratio"{% if invitee.on_ratio_watch %} style="color:crimson"{% endif %}>({{ invitee.required_ratio|number_format(2) }})</span>,
        joined: {{ invitee.created|time_diff(1) -}}
        {% if not invitee.paranoia_last_seen -%}
            , last seen {{ invitee.last_seen|time_diff(1) }}
        {% endif %}
{%  if loop.last %}
{{      '</li></ul>'|repeat(prev_depth - invitee.depth)|raw }}
{%  endif %}
{% else %}
<p>Nobody turned up to the gig.</p>
{% endfor %}
