{{ header(user.username ~ " &rsaquo; Password reset history") }}
<div class="header">
    <h2><a href="{{ user.url }}">{{ user.username }}</a> &rsaquo; Password reset history</h2>
</div>
<div class="pad thin">
<table width="100%">
    <tr class="colhead">
        <td>Changed</td>
        <td>IP <a href="/userhistory.php?action=ips&amp;userid={{ user.id }}" class="brackets">H</a></td>
        <td>Useragent</td>
    </tr>
{% for change in list %}
    <tr class="row{{ cycle(['a', 'b'], loop.index0) }}">
        <td>{{ change.date|time_diff }}</td>
        <td>{{ change.ipaddr }} <a href="/user.php?action=search&amp;ip_history=on&amp;ip={{ change.ipaddr }}" class="brackets tooltip" title="Search">S</a><br />{{ resolveIpv4(change.ipaddr)  }}</td>
        <td>{{ change.useragent }}</td>
    </tr>
{% endfor %}
</table>
</div>
{{ footer() }}
