{{ header(user.username ~ ' › Permissions', {'js': 'user_perm'}) }}
<div class="header">
    <h2><a href="{{ user.location }}" class="username">{{ user.username }}</a> › Privileges</h2>
    <div class="linkbox">
        <a id="perm-defaults" href="#" class="brackets">Defaults</a>
        <a href="tools.php?action=privilege-edit&id={{ user.primaryClass }}" class="brackets">Primary privileges</a>
    </div>
</div>
<div class="box pad thin">
    <p>Before using permissions, please understand that it allows you to both
    grant and revoke access to specific features. If you think that to add access
    to a feature, you need to uncheck everything else, <strong>YOU ARE
    WRONG</strong>. The check boxes on the left, which are grayed out, are the
    standard privileges granted by their user class. Any changes you make to
    the right side will overwrite this.</p>
    <p>It's not complicated, and if you screw up, click the "Defaults" link at
    the top. It will reset the user to their respective features granted by
    class, then you can select or deselect the one or two things you want to
    change. <strong>DO NOT DESELECT EVERYTHING.</strong> If you need further
    clarification, ask a developer before using this tool.</p>
</div>
<br />
<form class="manage_form" name="permissions" id="permissionsform" method="post" action="">
    <input type="hidden" name="action" value="permissions" />
    <input type="hidden" name="auth" value="{{ viewer.auth }}" />
    <input type="hidden" name="id" value="{{ user.id }}" />
{% include 'admin/privilege-list.twig'
    with {
        'default': user.privilege.defaultList,
        'user': user.privilege.customList,
    } only
%}
</form>
{{ footer() }}
