{{ paginator.linkbox|raw }}
<div class="box pad">
{% for t in list %}
    {% if loop.first %}
    <h3>Seeds on {{ source }} that are {{ mode == 'union' ? 'also' : 'not' }} on {{ target }} <small>({{
        paginator.total }} seed{{ paginator.total|plural }})</small></h3>
    <ul class="stats nobullet">
    {% endif %}
        <li>{{ t.artist|raw }} - {{ t.name|raw }}<br />{{ t.folder }}</li>
    {% if loop.last %}
    </ul>
    {% endif %}
{% endfor %}
</div>
{{ paginator.linkbox|raw }}
