{% from 'macro/form.twig' import selected %}
<div class="box pad">
    <h3>Multiple seeding locations</h3>

    <p>Select one seedbox and choose another to see which seeds appear in both locations,
    or do not appear in the second location.</p>
    <p>If you are seeding from only one location, this page will be of no use. You
    should look at your <a href="https://orpheus.network/torrents.php?type=seeding&amp;userid={{
        user_id }}">seeding torrents</a>.</p>

{% if seedbox.hostList is empty %}
    No seed locations are reporting. Are your clients seeding and connected?
{% else %}
    <form class="manage_form" name="seedbox" action="user.php?action=seedbox-view&amp;userid={{ user_id }}" method="post">
        <input type="hidden" name="action" value="seedbox-view" />
        <input type="hidden" name="auth" value="{{ auth }}" />
        <input type="hidden" name="userid" value="{{ user_id }}" />

<div>View seeds on&nbsp;
{%- for h in seedbox.hostList -%}
    {%- if loop.first -%}
<select name="source">
    {% endif %}
    <option value="{{ h.id }}"{{ selected(h.id == source or source == 0 and loop.index0 == 0) }}>{{ h.name }}</option>
    {% if loop.last %}
</select>
    {%- endif %}
{% endfor -%}

&nbsp;that are&nbsp;<select name="view">
    <option value="union" {{ selected(mode == 'union') }}>also</option>
    <option value="exclude" {{ selected(mode == 'exclude') }}>not</option>
 </select>&nbsp;seeding on

{%- for h in seedbox.hostList -%}
    {%- if loop.first -%}
&nbsp;<select name="target">
    {% endif %}
    <option{{ selected(h.id == target or target == 0 and loop.index0 == 1) }} value="{{ h.id }}">{{ h.name }}</option>
    {% if loop.last %}
</select>
    {% endif %}
{% endfor %}
<br /><br />
Sort by <select name="viewby">
    <option value="{{ constant('\\Gazelle\\User\\Seedbox::VIEW_BY_NAME') }}"{{
        selected(seedbox.viewBy == constant('\\Gazelle\\User\\Seedbox::VIEW_BY_NAME')) }}>release name</option>
    <option value="{{ constant('\\Gazelle\\User\\Seedbox::VIEW_BY_PATH') }}"{{
        selected(seedbox.viewBy == constant('\\Gazelle\\User\\Seedbox::VIEW_BY_PATH')) }}>folder name</option>
</select>
</div>
<br />
<input type="submit" value="View seeds" />
</form>
{% endif %}
</div>
</div>
{{ footer() }}
