{% if seen == 1 %}
<h3>{{ category }}</h3>
<table class="forum_index m_table">
    <tr class="colhead">
        <td style="width: 2%;"></td>
        <td class="m_th_left" style="width: 25%;">Forum</td>
        <td>Last Post</td>
        <td class="m_th_right" style="width: 7%;">Topics</td>
        <td class="m_th_right" style="width: 7%;">Posts</td>
    </tr>
{% endif %}
<tr class="row{{ cycle(['b', 'a'], loop.index0) }}">
    <td class="td_read {{ icon_class }} {{ tooltip }}" title="{{ icon_class|replace({'_': ' '})|ucfirstall }}"></td>
    <td class="td_forum">
        <h4 class="min_padding">
            <a class="{{ tooltip }}" href="forums.php?action=viewforum&amp;forumid={{ forum_id }}" title="{{ description }}">{{ name }}</a>
        </h4>
    </td>
{% if not threads %}
    <td class="td_latest">
        There are no topics here.{% if creator %} <a href="forums.php?action=new&amp;forumid={{ forum_id }}">Create one!</a>{% endif %}
    </td>
{% else %}
    <td class="td_latest">
        <span style="float: left;" class="last_topic">
            <a href="forums.php?action=viewthread&amp;threadid={{ id }}" class="tooltip" data-title-plain="{{ title }}"{%
                if title != cut_title %} title="{{ title }}"{% endif %}>{{ cut_title }}</a>
        </span>
{% if is_read %}
        <span style="float: left;" class="{{ tooltip }} last_read" title="Jump to last read">
            <a href="forums.php?action=viewthread&amp;threadid={{ id }}&amp;page={{ last_read_page }}#post{{ last_read_post }}"></a>
        </span>
{% endif %}
        <span style="float: right;" class="last_poster">by {{ last_post_user|raw }} {{ last_post_diff|raw }}</span>
    </td>
{% endif %}
    <td class="td_topic_count number_column m_td_right">{{ num_topics|number_format }}</td>
    <td class="td_post_count number_column m_td_right">{{ num_posts|number_format }}</td>
</tr>
