{% from 'macro/form.twig' import checked %}
{{ header('Forums › ' ~ name ~ ' › New Thread', {'js': 'comments,bbcode,jquery.validate,form_validate,newpoll'}) }}
<div class="thin">
    <h2><a href="forums.php">Forums</a> &rsaquo; <a href="forums.php?action=viewforum&amp;forumid={{ id }}">{{ name }}</a> &rsaquo; <span id="newthreadtitle">New Thread</span></h2>
    <div class="hidden" id="newthreadpreview">
        <table class="forum_post box vertical_margin" style="text-align: left;">
            <colgroup>
{% if viewer.showAvatars %}
                <col class="col_avatar" />
{% endif %}
                <col class="col_post_body" />
            </colgroup>
            <tr class="colhead_dark">
                <td colspan="{{ viewer.showAvatars ? 2 : 1 }}">
                    <span style="float: left;"><a href="#newthreadpreview">#XXXXXX</a> by <strong>{{ viewer.id|user_full }}</strong>
                    Just now
                    </span>
                </td>
            </tr>
            <tr>
{% if viewer.showAvatars %}
                <td class="avatar" valign="top">
                    {{ viewer|avatar(viewer)|raw }}
                </td>
{% endif %}
                <td class="body" valign="top">
                    <div id="contentpreview" style="text-align: left;"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="box pad">
        <form class="create_form" name="forum_thread" action="" id="newthreadform" method="post">
            <input type="hidden" name="action" value="new" />
            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
            <input type="hidden" name="forum" value="{{ id }}" />
            <table id="newthreadtext" class="layout">
                <tr>
                    <td class="label">Title:</td>
                    <td><input id="title" class="required" type="text" name="title" style="width: 98%;" /></td>
                </tr>
                <tr>
                    <td class="label">Body:</td>
                    <td>
                        {{ textarea.field|raw }}
                        {{ textarea.preview|raw }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="subscribebox" type="checkbox" name="subscribe"{{ checked(viewer.option('AutoSubscribe')) }} />
                        <label for="subscribebox">Subscribe to thread</label>
                    </td>
                </tr>
{% if viewer.permitted('forums_polls_create') %}
                <tr>
                    <td colspan="2" class="center">
                        <strong>Poll Settings </strong>
                        {{- dom.click('#poll-view', "$('#poll_question, #poll_answers').gtoggle(); return false;") -}}
                        <a href="#" id="poll-view" class="brackets">View</a>
                    </td>
                </tr>
                <tr id="poll_question" class="hidden">
                    <td class="label">Question:</td>
                    <td><input type="text" name="question" id="pollquestionfield" class="required" style="width: 98%;" /></td>
                </tr>
                <tr id="poll_answers" class="hidden">
                    <td class="label">Answers:</td>
                    <td id="answer_block">
                        <input type="text" name="answers[]" class="required" style="width: 90%;" />
                        {{- dom.click('#poll-add', "AddAnswerField();return false;") -}}
                        <a href="#" id="poll-add" class="brackets">+</a>
                        {{- dom.click('#poll-remove', "RemoveAnswerField();return false;") -}}
                        <a href="#" id="poll-remove" class="brackets">&minus;</a>
                    </td>
                </tr>
{% endif %}
            </table>
            <div id="subscribediv" class="hidden">
                <input id="subscribeboxpreview" type="checkbox" name="subscribe"{{ checked(viewer.option('AutoSubscribe')) }} />
                <label for="subscribebox">Subscribe to thread</label>
            </div>
            <div id="buttons" class="center">
                {{ textarea.button|raw }}
                <input type="submit" class="submit" id="submit_button" value="Create thread" />
            </div>
        </form>
    </div>
</div>
{{ footer() }}
