{% from 'macro/form.twig' import checked %}
{{ header('Forums &rsaquo; ' ~ name ~ ' &rsaquo; New Thread', {'js': 'comments,bbcode,jquery.validate,form_validate,newpoll'}) }}
<div class="thin">
    <h2><a href="forums.php">Forums</a> &rsaquo; <a href="forums.php?action=viewforum&amp;forumid={{ id }}">{{ name }}</a> &rsaquo; <span id="newthreadtitle">New Thread</span></h2>
    <div class="hidden" id="newthreadpreview">
        <div class="linkbox">
            <div class="center">
                <a href="#" onclick="return false;" class="brackets">Report thread</a>
                <a href="#" onclick="return false;" class="brackets">{{ viewer.option('AutoSubscribe') ? 'Unsubscribe' : 'Subscribe' }}</a>
            </div>
        </div>
{% if viewer.permitted('forums_polls_create') %}
        <div class="box thin clear hidden" id="pollpreview">
            <div class="head colhead_dark"><strong>Poll</strong> <a href="#" onclick="$('#threadpoll').gtoggle(); return false;" class="brackets">View</a></div>
            <div class="pad" id="threadpoll">
                <p><strong id="pollquestion"></strong></p>
                <div id="pollanswers"></div>
                <br /><input type="radio" name="vote" id="answer_0" value="0" /> <label for="answer_0">Blank&#8202;&mdash;&#8202;Show the results!</label><br /><br />
                <input type="button" style="float: left;" value="Vote" />
            </div>
        </div>
{% endif %}
        <table class="forum_post box vertical_margin" style="text-align: left;">
            <colgroup>
{% if viewer.showAvatars %}
                <col class="col_avatar" />
{% endif %}
                <col class="col_post_body" />
            </colgroup>
            <tr class="colhead_dark">
                <td colspan="{{ viewer.showAvatars ? 2 : 1 }}">
                    <span style="float: left;"><a href="#newthreadpreview">#XXXXXX</a> by <strong>{{ viewer.id|user_full }}</strong>
                    Just now
                    </span>
                    <span id="barpreview" style="float: right;">
                        <a href="#newthreadpreview" class="brackets">Report</a>
                        &nbsp;
                        <a href="#">&uarr;</a>
                    </span>
                </td>
            </tr>
            <tr>
{% if viewer.showAvatars %}
                <td class="avatar" valign="top">
                    {{ avatar|raw }}
                </td>
{% endif %}
                <td class="body" valign="top">
                    <div id="contentpreview" style="text-align: left;"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="box pad">
        <form class="create_form" name="forum_thread" action="" id="newthreadform" method="post">
            <input type="hidden" name="action" value="new" />
            <input type="hidden" name="auth" value="{{ viewer.auth }}" />
            <input type="hidden" name="forum" value="{{ id }}" />
            <table id="newthreadtext" class="layout">
                <tr>
                    <td class="label">Title:</td>
                    <td><input id="title" class="required" type="text" name="title" style="width: 98%;" /></td>
                </tr>
                <tr>
                    <td class="label">Body:</td>
                    <td><textarea id="posttext" class="required" style="width: 98%;" onkeyup="resize('posttext');" name="body" cols="90" rows="8"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="subscribebox" type="checkbox" name="subscribe"{{ checked(viewer.option('AutoSubscribe')) }} onchange="$('#subscribeboxpreview').raw().checked=this.checked;" />
                        <label for="subscribebox">Subscribe to topic</label>
                    </td>
                </tr>
{% if viewer.permitted('forums_polls_create') %}
                <tr>
                    <td colspan="2" class="center">
                        <strong>Poll Settings</strong>
                        <a href="#" onclick="$('#poll_question, #poll_answers').gtoggle(); return false;" class="brackets">View</a>
                    </td>
                </tr>
                <tr id="poll_question" class="hidden">
                    <td class="label">Question:</td>
                    <td><input type="text" name="question" id="pollquestionfield" class="required" style="width: 98%;" /></td>
                </tr>
                <tr id="poll_answers" class="hidden">
                    <td class="label">Answers:</td>
                    <td id="answer_block">
                        <input type="text" name="answers[]" class="required" style="width: 90%;" />
                        <a href="#" onclick="AddAnswerField();return false;" class="brackets">+</a>
                        <a href="#" onclick="RemoveAnswerField();return false;" class="brackets">&minus;</a>
                    </td>
                </tr>
{% endif %}
            </table>
            <div id="subscribediv" class="hidden">
                <input id="subscribeboxpreview" type="checkbox" name="subscribe"{{ checked(viewer.option('AutoSubscribe')) }} />
                <label for="subscribebox">Subscribe to topic</label>
            </div>
            <div id="buttons" class="center">
                <input type="button" value="Preview" onclick="Newthread_Preview(1);" id="newthreadpreviewbutton" />
                <input type="button" value="Editor" onclick="Newthread_Preview(0);" id="newthreadeditbutton" class="hidden" />
                <input type="submit" class="submit" id="submit_button" value="Create thread" />
            </div>
        </form>
    </div>
</div>
{{ footer() }}
