{% for t in transition_list %}
{%  if loop.first %}
<table class="layout border">
    <tr>
        <td class="label">Move thread</td>
        <td>
{%  endif %}
            <form action="forums.php" method="post" style="display: inline-block">
                <input type="hidden" name="action" value="mod_thread" />
                <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                <input type="hidden" name="threadid" value="{{ thread.id }}" />
                <input type="hidden" name="page" value="{{ page }}" />
                <input type="hidden" name="transition" value="{{ t.id }}" />
                <input type="submit" value="{{ t.label }}" />
            </form>
{%  if loop.last %}
        </td>
    </tr>
</table>
{%  endif %}
{% endfor %}

