{%- macro asn(name, n) -%}
    {% if n %}{{n}} / {{ name }}{% else %}{{ name }}{% endif %}
{%- endmacro -%}

{%- macro ip_search(ip) -%}
    <a href="tools.php?action=ip_search&amp;ip={{ ip }}">{{ ip }}</a> <a href="https://whatismyipaddress.com/ip/{{ ip }}" class="brackets tooltip" title="What is my IP address?">WI</a>
{%- endmacro -%}

{%- macro rdns(ip) -%}
<span class="host_{{ ip|replace({'.': '-'}) }}">Resolving host...
<script type="text/javascript">
$(document).ready(function() {
    $.get('tools.php?action=get_host&ip={{ ip }}', function(host) {
        $('.host_{{ ip|replace({'.': '-'}) }}').html(host);
    });
});
</script></span>
{%- endmacro -%}
